<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile-home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Personal Info
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/personal-info-edit">
        Edit
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center">
    <div class="profile">
      <ion-avatar class="profile-frame">
        <img src="/assets/jess-taylor-profile.jpg" class="profile-pic" alt="Profile Pic">
      </ion-avatar>
      <div class="btn">
        <ion-fab-button size="small" color="light" translucent="true" routerLink="/badge-app-default">
          <ion-icon name="qr-code-outline" color="milconnect2"></ion-icon>
        </ion-fab-button>
      </div>
    </div>
  </ion-row>
  <ion-text class="section-header" color="primary">
    &nbsp;&nbsp;<br/>
  </ion-text>
  <ion-list>
    <ion-item>
      <ion-label>
        <div class="field-label">Display name</div>
        Display Name
      </ion-label>
      <!--// only appears IF user is enrolled in MilitaryConnect // -->
      <ion-icon src="/assets/links-mark.svg" color="milconnect2" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>
        <div class="field-label">Full name</div>
        First Middle Surname
      </ion-label>
      <ion-icon name="checkmark-circle-outline" color="milconnect2" slot="end" class="icon-small"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>
        <div class="field-label">Primary email address</div>
        username@aerpass.com
      </ion-label>
      <ion-icon name="checkmark-circle-outline" color="milconnect2" slot="end" class="icon-small"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>
        <div class="field-label">Mobile number</div>
        +1 (321) 456-7890
      </ion-label>
      <ion-icon name="checkmark-circle-outline" color="milconnect2" slot="end" class="icon-small"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>
        <div class="field-label">DOB</div>
        &nbsp;&nbsp;
      </ion-label>
    </ion-item>
    <!--// only appears IF user is enrolled in MilitaryConnect // -->
    <ion-item>
      <ion-label>
        <div class="field-label">Military Service</div>
        <ion-button size="small" color="milconnect2" expand="block" routerLink="/verify-service-mc"><ion-icon name="checkmark-circle-outline"></ion-icon>&nbsp;&nbsp;&nbsp;Verify Service</ion-button>
        <!--<ion-button size="small" color="medium" fill="outline" expand="block" href="">Update status</ion-button>-->
      </ion-label>
      <ion-icon name="alert-circle-outline" color="danger" slot="end" class="icon-small"></ion-icon>
    </ion-item>
    <ion-item-sliding>
      <ion-item>
        <ion-icon name="trash-outline"></ion-icon>
        <ion-label class="ion-padding-start" color="dark">
          <div class="field-label">Swipe Left to</div>
          Delete Account
        </ion-label>
        <ion-icon name="chevron-back-outline" color="medium" slot="end" class="icon-small"></ion-icon>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" expandable routerLink="/delete-account">
          <ion-icon name="trash-outline" slot="start"></ion-icon>
          Delete Account
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item lines="none">
      <ion-icon name="alert-circle-outline" color="danger" slot="start"></ion-icon>
      <ion-text class="text-smallest" color="medium">
        Your military service must be verified to access benefits.
        <a class="link-text" routerLink="/verify-service-mc">Complete Verification</a>.
      </ion-text>
    </ion-item>
    <ion-item lines="none">
      <ion-label class="ion-padding-start">
        <div class="field-label">&nbsp;&nbsp;</div>
        &nbsp;&nbsp;<br/>
        &nbsp;&nbsp;
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>

<ion-tab-bar slot="bottom" class="tab-blur">
  <ion-tab-button routerLink="/badge-mc-default" routerDirection="back">
    <ion-label>ID Badge</ion-label>
    <ion-icon name="qr-code-outline"></ion-icon>
  </ion-tab-button>
  <ion-tab-button routerLink="/home-scanner-milconnect" routerDirection="root">
    <ion-label>Scanner</ion-label>
    <ion-icon name="scan-outline"></ion-icon>
  </ion-tab-button>
  <!--<ion-tab-button routerLink="/wallet" routerDirection="forward">
    <ion-label color="dark">Wallet</ion-label>
    <ion-icon name="wallet-outline" color="dark"></ion-icon>
  </ion-tab-button>-->
  <ion-tab-button routerLink="/profile-home-mc" routerDirection="forward">
    <ion-label>Profile</ion-label>
    <ion-icon name="person-outline"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>
