<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/view-personal-info">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Jess Taylor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <br>
    <ion-row class="ion-justify-content-center">
      <ion-avatar class="profile-pic">
        <img src="/assets/jess-taylor-profile.jpg">
      </ion-avatar>
    </ion-row>
    <div class="pad-top3">
      <ion-text class="section-header" color="primary">Addresses</ion-text>
    </div>
  </div>
  <ion-divider></ion-divider>
  <ion-list>
    <ion-item detail>
      <ion-label>
        <h3 class="field-label">Address 1</h3>
        <H2>197 2nd Ave Floor 5<br>New York, NY 10003 &nbsp;&nbsp;&nbsp;USA</H2>
      </ion-label>
    </ion-item>
    <ion-item detail>
      <ion-label>
        <h3 class="field-label">Address 2</h3>
        <H2>312 Village Rd<br>Villas, NJ 08251 &nbsp;&nbsp;&nbsp;USA</H2>
      </ion-label>
    </ion-item>
    <ion-item detail>
      <ion-label>
        <h3 class="field-label">Address 3</h3>
        <H2>7 Dari Ct<br>Lincoln Park, NJ 07035 &nbsp;&nbsp;&nbsp;USA</H2>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/add-address">
      <ion-icon name="add-outline" class="fab-icon"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
