<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/view-personal-info">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Jess Taylor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center">
    <ion-avatar class="profile-frame">
      <img src="/assets/jess-taylor-profile.jpg" class="profile-pic">
    </ion-avatar>
  </ion-row>
  <ion-text class="section-header" color="primary">Addresses</ion-text>
  <ion-list>
    <ion-item detail routerLink="/view-address">
      <ion-label>
        <div class="field-label">Address 1</div>
        197 2nd Ave Floor 5<br>New York, NY 10003 &nbsp;&nbsp;&nbsp;USA
      </ion-label>
    </ion-item>
    <ion-item detail routerLink="/view-address">
      <ion-label>
        <div class="field-label">Address 2</div>
        312 Village Rd<br>Villas, NJ 08251 &nbsp;&nbsp;&nbsp;USA
      </ion-label>
    </ion-item>
    <ion-item detail routerLink="/view-address">
      <ion-label>
        <div class="field-label">Address 3</div>
        7 Dari Ct<br>Lincoln Park, NJ 07035 &nbsp;&nbsp;&nbsp;USA
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/add-address">
      <ion-icon name="add-outline" class="fab-icon"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
