<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile-home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Biometrics & Security
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center">
    <ion-avatar class="profile-frame">
      <img src="/assets/jess-taylor-profile.jpg" class="profile-pic">
    </ion-avatar>
  </ion-row>
  <ion-text class="section-header" color="primary">Display Name<br/><br/></ion-text>
  <ion-list>
    <ion-item>
      <ion-icon name="finger-print-outline"></ion-icon>
      <ion-label class="ion-padding-start">
        Device biometrics
        <div class="field-label">Enable for enhanced security</div>
      </ion-label>
      <ion-toggle slot="end" name="biometrics" color="success" checked></ion-toggle>
    </ion-item>
    <ion-item detail routerLink="/biometrics">
      <ion-icon name="eye-outline"></ion-icon>
      <ion-label class="ion-padding-start">
        View Recovery Password
        <div class="field-label">Password required for account recovery</div>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
