<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile-home"></ion-back-button>
    </ion-buttons>
    <ion-title color="safetypass">
      SafetyPASS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row class="ion-justify-content-center">
      <div class="partner-hero">
        <ion-img src="/assets/logo-safety-pass-01.png"></ion-img>
      </div>
    </ion-row>
  <ion-list>
    <ion-item detail routerLink="/view-hc-status">
      <ion-icon src="/assets/shield-cross-outline.svg" color="safetypass"></ion-icon>
      <ion-label class="ion-padding-start" color="safetypass">Display SafetyPASS</ion-label>
    </ion-item>
    <ion-item detail routerLink="/my-hc-status">
      <ion-icon name="person-circle-outline" color="safetypass"></ion-icon>
      <ion-label class="ion-padding-start">My SafetyPASS Status</ion-label>
    </ion-item>
    <ion-item detail routerLink="/vaccine-signup">
      <ion-icon name="checkmark-done-circle-outline"></ion-icon>
      <ion-label class="ion-padding-start">Get Vaccinated</ion-label>
    </ion-item>
    <ion-item detail routerLink="/order-test">
      <ion-icon name="medical-outline"></ion-icon>
      <ion-label class="ion-padding-start">Get Tested</ion-label>
    </ion-item>
    <ion-item-divider color="light"></ion-item-divider>
    <ion-item detail routerLink="/view-test-list">
      <ion-icon name="time-outline"></ion-icon>
      <ion-label class="ion-padding-start">Health Check History</ion-label>
    </ion-item>
    <ion-item detail routerLink="/view-check-ins">
      <ion-icon name="compass-outline"></ion-icon>
      <ion-label class="ion-padding-start">Check-in History</ion-label>
    </ion-item>
    <!-- <ion-item detail routerLink="/view-hc-alerts">
      <ion-icon name="alert-circle-outline"></ion-icon>
      <ion-label class="ion-padding-start">Exposure Alerts</ion-label>
    </ion-item> -->
    <ion-item-divider color="light"></ion-item-divider>
    <ion-item detail routerLink="/consent-docs">
      <ion-icon name="documents-outline"></ion-icon>
      <ion-label class="ion-padding-start">Consent Documents</ion-label>
    </ion-item>
    <ion-item detail routerLink="/view-hc-controls">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label class="ion-padding-start">Safe Space Settings</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
