<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile-home"></ion-back-button>
    </ion-buttons>
    <ion-title color="safetypass">
      Safety PASS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row class="ion-justify-content-center">
      <div class="partner-hero">
        <ion-img src="/assets/logo-safety-pass-01.png"></ion-img>
      </div>
    </ion-row>
  <ion-list>
    <ion-item detail routerLink="/app-browser-spnet">
      <ion-icon src="/assets/shield-cross-outline.svg" color="safetypass"></ion-icon>
      <ion-label class="ion-padding-start">Safety PASS Checklists</ion-label>
    </ion-item>
    <ion-item detail routerLink="/view-hc-status">
      <ion-icon name="qr-code-outline"></ion-icon>
      <ion-label class="ion-padding-start">Display My Safety PASS</ion-label>
    </ion-item>
    <ion-item detail routerLink="/view-check-ins">
      <ion-icon name="compass-outline"></ion-icon>
      <ion-label class="ion-padding-start">Check-ins</ion-label>
    </ion-item>
    <ion-item detail routerLink="/view-test-list">
      <ion-icon src="/assets/history.svg"></ion-icon>
      <ion-label class="ion-padding-start">Task History</ion-label>
    </ion-item>
    <ion-item detail routerLink="/view-check-ins">
      <ion-icon name="alert-circle-outline"></ion-icon>
      <ion-label class="ion-padding-start">Exposure Alerts</ion-label>
    </ion-item>
    <ion-item detail routerLink="/consent-docs">
      <ion-icon name="documents-outline"></ion-icon>
      <ion-label class="ion-padding-start">Consent Documents</ion-label>
    </ion-item>
    <ion-item detail routerLink="/view-hc-controls">
      <ion-icon name="medkit-outline"></ion-icon>
      <ion-label class="ion-padding-start">Info & Settings</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
