<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/view-health-info">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Jess Taylor</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content>
    <div class="ion-text-center">
      <br>
      <ion-row class="ion-justify-content-center">
        <ion-avatar class="profile-pic">
          <img src="/assets/jess-taylor-profile.jpg">
        </ion-avatar>
      </ion-row>
      <div class="pad-top3">
        <ion-text class="section-header" color="primary">Testing</ion-text>
      </div>
    </div>


  </ion-content>
