<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/view-health-info"></ion-back-button>
    </ion-buttons>
    <ion-title color="safetypass">
      Safety PASS
    </ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content>
    <ion-row class="ion-justify-content-center">
      <ion-avatar class="profile-frame">
        <img src="/assets/jess-taylor-profile.jpg" class="profile-pic">
      </ion-avatar>
    </ion-row>
    <ion-text class="section-header" color="primary">Display Name<br/><br/></ion-text>

    <ion-slides style="width: 100%">
      <ion-slide>
        <div class="ion-text-center">
          <ion-row class="ion-justify-content-center">
            <div class="display-qr">
              <img src="/assets/sp-code01.svg" />
            </div>
          </ion-row>
          <div>
            <ion-text class="text-smallest"><br/>Scan QR Code for Status<br/><br/></ion-text>
          </div>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="ion-text-center">
          <ion-row class="ion-justify-content-center">
            <div class="display-qr">
              <img src="/assets/sp-code02.svg" />
            </div>
          </ion-row>
          <div>
            <ion-text class="text-smallest"><br/>Scan QR Code for Status<br/><br/></ion-text>
          </div>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="ion-text-center">
          <ion-row class="ion-justify-content-center">
            <div class="display-qr">
              <img src="/assets/sp-code03.svg" />
            </div>
          </ion-row>
          <div>
            <ion-text class="text-smallest"><br/>Scan QR Code for Status<br/><br/></ion-text>
          </div>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="ion-text-center">
          <ion-row class="ion-justify-content-center">
            <div class="display-qr">
              <img src="/assets/sp-code04.svg" />
            </div>
          </ion-row>
          <div>
            <ion-text class="text-smallest"><br/>Scan QR Code for Status<br/><br/></ion-text>
          </div>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="ion-text-center">
          <ion-row class="ion-justify-content-center">
            <div class="display-qr">
              <img src="/assets/sp-code05.svg" />
            </div>
          </ion-row>
          <div>
            <ion-text class="text-smallest"><br/>Scan QR Code for Status<br/><br/></ion-text>
          </div>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="ion-text-center">
          <ion-row class="ion-justify-content-center">
            <div class="display-qr">
              <img src="/assets/sp-code06.svg" />
            </div>
          </ion-row>
          <div>
            <ion-text class="text-smallest"><br/>Scan QR Code for Status<br/><br/></ion-text>
          </div>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="ion-text-center">
          <ion-row class="ion-justify-content-center">
            <div class="display-qr">
              <img src="/assets/sp-code07.svg" />
            </div>
          </ion-row>
          <div>
            <ion-text class="text-smallest"><br/>Scan QR Code for Status<br/><br/></ion-text>
          </div>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="ion-text-center">
          <ion-row class="ion-justify-content-center">
            <div class="display-qr">
              <img src="/assets/sp-code08.svg" />
            </div>
          </ion-row>
          <div>
            <ion-text class="text-smallest"><br/>Scan QR Code for Status<br/><br/></ion-text>
          </div>
        </div>
      </ion-slide>

    </ion-slides>

    <div class="ion-text-center">
      <ion-row class="ion-justify-content-center">
        <ion-toolbar>
          <ion-segment value="my-status">
            <ion-segment-button value="get-status" routerLink="/home-scanner">
              <ion-label>Get Status</ion-label>
            </ion-segment-button>
            <ion-segment-button value="my-status">
              <ion-label>My Status</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-toolbar>
      </ion-row>
      <ion-row class="ion-justify-content-evenly">
        <ion-text>&nbsp;</ion-text>
      </ion-row>
      <ion-row class="ion-justify-content-evenly">
        <ion-button shape="circle" fill="clear">
          <ion-icon name="mail-outline"></ion-icon>
        </ion-button>
        <ion-button shape="circle" fill="clear">
          <ion-icon name="share-outline"></ion-icon>
        </ion-button>
      </ion-row>
    </div>
  </ion-content>
