<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/view-health-info"></ion-back-button>
    </ion-buttons>
    <ion-title color="safetypass">
      SafetyPASS Badge
    </ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content>
    <ion-row class="ion-justify-content-center">
      <ion-avatar class="profile-frame">
        <img src="/assets/jess-taylor-profile.jpg" class="profile-pic">
      </ion-avatar>
    </ion-row>
    <ion-text class="section-header" color="primary">Display Name<br/><br/></ion-text>

    <ion-slides style="width: 100%">
      <ion-slide>
        <div class="ion-text-center">
          <ion-row class="ion-justify-content-center">
            <div class="display-qr">
              <img src="/assets/sp-code01.svg" />
            </div>
          </ion-row>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="ion-text-center">
          <ion-row class="ion-justify-content-center">
            <div class="display-qr">
              <img src="/assets/sp-code02.svg" />
            </div>
          </ion-row>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="ion-text-center">
          <ion-row class="ion-justify-content-center">
            <div class="display-qr">
              <img src="/assets/sp-code03.svg" />
            </div>
          </ion-row>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="ion-text-center">
          <ion-row class="ion-justify-content-center">
            <div class="display-qr">
              <img src="/assets/sp-code04.svg" />
            </div>
          </ion-row>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="ion-text-center">
          <ion-row class="ion-justify-content-center">
            <div class="display-qr">
              <img src="/assets/sp-code05.svg" />
            </div>
          </ion-row>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="ion-text-center">
          <ion-row class="ion-justify-content-center">
            <div class="display-qr">
              <img src="/assets/sp-code06.svg" />
            </div>
          </ion-row>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="ion-text-center">
          <ion-row class="ion-justify-content-center">
            <div class="display-qr">
              <img src="/assets/sp-code07.svg" />
            </div>
          </ion-row>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="ion-text-center">
          <ion-row class="ion-justify-content-center">
            <div class="display-qr">
              <img src="/assets/sp-code08.svg" />
            </div>
          </ion-row>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="ion-text-center">
          <ion-row class="ion-justify-content-center">
            <div class="display-qr">
              <img src="/assets/AP-SafetyPASS1.svg" />
            </div>
          </ion-row>
        </div>
      </ion-slide>

    </ion-slides>

    <ion-row class="ion-justify-content-center">
      <ion-button expand="block" class="pad20" fill="clear" color="safetypass">
        <ion-icon src="/assets/shield-cross-outline.svg" color="safetypass"></ion-icon>
        <ion-text>&nbsp;&nbsp;SafetyPASS</ion-text>
      </ion-button>
    </ion-row>

  </ion-content>

<ion-footer class="ion-no-border ion-margin-bottom">
  <ion-row class="ion-justify-content-evenly">
    <ion-button shape="circle" fill="clear" routerLink="/my-hc-status">
      <ion-icon name="caret-up-circle-outline"></ion-icon>
    </ion-button >
    <ion-button shape="circle" fill="clear" routerLink="/qr-sample-data">
      <ion-icon name="share-outline"></ion-icon>
    </ion-button>
  </ion-row>
</ion-footer>
