<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/view-bank-list">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>&bull;&bull;&bull;&bull; 6789</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <br>
    <ion-row class="ion-justify-content-center">
      <div class="pad10">
        <img src="/assets/mastercard.svg" />
      </div>
    </ion-row>
  </div>
  <ion-list>
    <ion-item>
      <ion-label>
        <h3 class="field-label">Name</h3>
        <H2>Citibank N.A.</H2>
      </ion-label>
      <ion-note slot="end" align="right">
        Verified<br>
        <ion-icon name="checkmark-circle-outline" color="success"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3 class="field-label">Account</h3>
        <H2>Visa &bull;&bull;&bull;&bull; 6789</H2>
      </ion-label>
      <ion-label slot="end" align="right">
        <h3 class="field-label">Exp</h3>
        <H2>08/22</H2>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label color="dark">Delete Account</ion-label>
      <ion-label slot="end" align="right">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
