<ion-content color="dark">
  <ion-slides pager="true" style='height: 100%;'>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <img src="/assets/jumio1.png"/>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <img src="/assets/jumio2.png"/>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <img src="/assets/jumio3.png" routerLink="/verify-service-mc">
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
