<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/view-test-list" routerDirection="back">
        <ion-label color="medium">Cancel</ion-label>
      </ion-button>
    </ion-buttons>
    <ion-title>Add Test</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button expand="block" class="pad15" routerLink="/view-test-list">
      Continue
    </ion-button>
  </ion-toolbar>
</ion-footer>
