<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/passes-modal"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Andy C All Night
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container-top">
    <ion-row class="ion-justify-content-center">
      <div class="ion-text-center">
        <ion-row class="ion-justify-content-center">
          <div class="profile-home">
            <ion-avatar class="profile-frame-home">
              <img src="/assets/LA-profile-image.jpg" class="profile-pic-home" alt="Profile Pic" routerLink="/profile-home" routerDirection="root">
            </ion-avatar>
            <div class="btn">
              <ion-fab-button color="danger" routerLink="/pass-checklist-stop">
                <ion-icon name="warning-outline" class="icon-fab" color="dark"></ion-icon>
              </ion-fab-button>
            </div>
          </div>
        </ion-row>
        <ion-text class="section-header" color="light">
          Leon Atkins
        </ion-text>
      </div>
    </ion-row>
  </div>
  <div id="container-bottom">
    <ion-row class="ion-justify-content-center">
      <div class="ion-text-center">
        <ion-row class="ion-justify-content-center">
          <ion-card class="display-details bg-light-blur">
            <ion-grid>
              <ion-row class="ion-padding-top ion-justify-content-center">
                <ion-card-subtitle>
                  The SSE ARENA
                </ion-card-subtitle>
              </ion-row>
              <ion-row class="ion-justify-content-center">
                <ion-text class="text-strong" color="dark">
                  Standard
                </ion-text>
              </ion-row>
            </ion-grid>
            <ion-row>
              <ion-col size="4">
                <ion-text class="text-smallest">
                  SECTION
                </ion-text>
              </ion-col>
              <ion-col size="4">
                <ion-text class="text-smallest">
                  ROW
                </ion-text>
              </ion-col>
              <ion-col size="4">
                <ion-text class="text-smallest">
                  SEAT
                </ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-text class="text-smaller" color="primary">
                  <b>S10</b>
                </ion-text>
              </ion-col>
              <ion-col>
                <ion-text class="text-smaller" color="primary">
                  <b>G</b>
                </ion-text>
              </ion-col>
              <ion-col>
                <ion-text class="text-smaller" color="primary">
                  <b>95</b>
                </ion-text>
              </ion-col>
            </ion-row>
            <ion-toolbar class="base">
              <ion-row>
                <ion-col size="6">
                  <ion-button size="small" color="primary" fill="outline" expand="block"><ion-icon name="return-up-forward-outline"></ion-icon>&nbsp;&nbsp;Send</ion-button>
                </ion-col>
                <ion-col size="6">
                  <ion-button size="small" color="medium" fill="outline" expand="block"><ion-icon name="repeat-outline"></ion-icon>&nbsp;&nbsp;Sell</ion-button>
                </ion-col>
              </ion-row>
            </ion-toolbar>
          </ion-card>
        </ion-row>
      </div>
    </ion-row>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-segment color="light" value="details">
      <ion-segment-button value="qr-code" routerLink="/pass">
        <ion-label color="primary">Pass Code</ion-label>
      </ion-segment-button>
      <ion-segment-button value="details">
        <ion-label color="primary">Details</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>
