<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/view-personal-info" routerDirection="back">
        <ion-label>Cancel</ion-label>
      </ion-button>
    </ion-buttons>
    <ion-title>Edit Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <ion-row class="ion-justify-content-center">
      <ion-avatar class="profile-frame">
        <img src="/assets/jess-taylor-profile.jpg" class="profile-pic">
      </ion-avatar>
    </ion-row>
    <ion-button color="primary" size="small" fill="clear">
      Change Picture
    </ion-button>
  </div>
  <ion-list>
    <ion-item>
      <ion-label position="stacked" color="medium">Display name</ion-label>
      <ion-input type="text" value="Jess"></ion-input>
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col>
          <ion-label position="stacked" color="medium">First name</ion-label>
          <ion-input type="text" value="Jesse"></ion-input>
        </ion-col>
        <ion-col>
          <ion-label position="stacked" color="medium">Middle name</ion-label>
          <ion-input type="text" value="Daniel"></ion-input>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col>
          <ion-label position="stacked" color="medium">Last name</ion-label>
          <ion-input type="text" value="Taylor"></ion-input>
        </ion-col>
        <ion-col>
          <ion-label position="stacked" color="medium">Suffix</ion-label>
          <ion-input type="text" value=""></ion-input>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" color="medium">Email address</ion-label>
      <ion-input type="email" value="jess@aerpass.com" email="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="alert-circle-outline" color="danger"></ion-icon>
      <ion-text class="text-smallest ion-padding-start" color="medium">
        Email address must be verified in order to use AerPass.
      </ion-text>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked" color="medium">Mobile number</ion-label>
      <ion-input type="text" value="+1 (631) 697-8856"></ion-input>
    </ion-item>

  </ion-list>

</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button expand="block" class="pad15" routerLink="/view-personal-info">
      Save Changes
    </ion-button>
  </ion-toolbar>
</ion-footer>
