<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-label color="medium">Cancel</ion-label>
      </ion-button>
    </ion-buttons>
    <ion-title>Edit Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <br>
    <ion-row class="ion-justify-content-center">
      <ion-avatar class="profile-pic">
        <img src="/assets/jess-taylor-profile.jpg">
      </ion-avatar>
    </ion-row>
    <ion-button color="primary" size="small" fill="clear" >
      Change Picture
    </ion-button>
  </div>
  <ion-list>
    <ion-item>
      <ion-label position="stacked" color="medium">Nickname</ion-label>
      <ion-input type="text" value="">Jess</ion-input>
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col>
          <div>
            <ion-label position="stacked" color="medium">First name</ion-label>
            <ion-input type="text" value="">Jesse</ion-input>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-label position="stacked" color="medium">Middle name</ion-label>
            <ion-input type="text" value="">Daniel</ion-input>
          </div>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col>
          <div>
            <ion-label position="stacked" color="medium">Last name</ion-label>
            <ion-input type="text" value="">Taylor</ion-input>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-label position="stacked" color="medium">Suffix</ion-label>
            <ion-input type="text" value=""></ion-input>
          </div>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" color="medium">Email address</ion-label>
      <ion-input type="email" value="" email="true">jess@aerpass.com</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" color="medium">Mobile number</ion-label>
      <ion-input type="text" value="">+1 (631) 697-8856</ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-text class="text-smallest" color="medium">
        Changing your email address will require verification in order to continue using AerPass.
      </ion-text>
    </ion-item>
  </ion-list>

  <div class="ion-padding">
    <ion-button expand="block" type="submit" class="pad10">Save Changes</ion-button>
  </div>

</ion-content>
