<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/view-health-info"></ion-back-button>
    </ion-buttons>
    <ion-title color="safetypass">
      Check-in History
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-row class="ion-justify-content-center">
    <ion-icon name="compass-outline" color="primary" class="icon-larger"></ion-icon>
  </ion-row>
  <ion-row>
    <ion-toolbar class="ion-margin-top">
      <ion-searchbar value="Search Check-ins"></ion-searchbar>
    </ion-toolbar>
  </ion-row>
  <!--<ion-text class="ion-padding text-smallest" color="medium">INBOX</ion-text>-->
  <ion-list>
    <ion-item>
      <ion-icon src="/assets/shield-cross-outline.svg"></ion-icon>
      <ion-label class="ion-padding-start">
        <ion-text class="text-smallest">Madison Square Garden</ion-text>
        <div class="field-label">4 Pennsylvania Ave, New York, NY 10001</div>
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <div class="field-label">02/02/2021</div>
        <div class="field-label">7:30 PM</div>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-icon name="heart-circle-outline"></ion-icon>
      <ion-label class="ion-padding-start">
        <ion-text class="text-smallest">Madison Square Garden</ion-text>
        <div class="field-label">4 Pennsylvania Ave, New York, NY 10001</div>
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <div class="field-label">02/02/2021</div>
        <div class="field-label">7:26 PM</div>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-icon name="compass-outline"></ion-icon>
      <ion-label class="ion-padding-start">
        <ion-text class="text-smallest">Madison Square Garden</ion-text>
        <div class="field-label">4 Pennsylvania Ave, New York, NY 10001</div>
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <div class="field-label">02/02/2021</div>
        <div class="field-label">7:25 PM</div>
      </ion-note>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" routerLink="/app-browser-map">
    <ion-fab-button color="primary">
      <ion-icon name="add-outline" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
