<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/view-health-info"></ion-back-button>
    </ion-buttons>
    <ion-title color="safetypass">
      Check-ins
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-row class="ion-justify-content-center">
    <ion-avatar class="profile-frame">
      <img src="/assets/jess-taylor-profile.jpg" class="profile-pic">
    </ion-avatar>
  </ion-row>
  <ion-text class="section-header" color="primary">History</ion-text>
  <ion-row>
    <ion-toolbar class="ion-margin-top">
      <ion-searchbar value="Search Check-ins"></ion-searchbar>
    </ion-toolbar>
  </ion-row>
  <!--<ion-text class="ion-padding text-smallest" color="medium">INBOX</ion-text>-->
  <ion-list>
    <ion-item routerLink="/app-email-client-verify">
      <ion-avatar>
        <img src="/assets/aerpass-merchant-logo.png">
      </ion-avatar>
      <ion-label class="ion-padding-start">
        <ion-text class="important">AerPass</ion-text>
        <div class="field-label important">AerPass email verification</div>
        <div class="field-label">To verify your email please tap or scan the QR code below with the AerPass app.</div>
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <div class="field-label">7:30 PM</div>
        <ion-icon class="icon-small" name="star-outline" color="medium"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item routerLink="/app-email-client-get">
      <ion-avatar>
        <img src="/assets/aerpass-merchant-logo.png">
      </ion-avatar>
      <ion-label class="ion-padding-start">
        AerPass
        <div class="field-label">Get the AerPass app</div>
        <div class="field-label">To install the app please tap or click the link below:</div>
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <div class="field-label">7:29 PM</div>
        <ion-icon class="icon-small" name="star-outline" color="medium"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-avatar>
        <img src="/assets/Safety-PASS-Icon.png">
      </ion-avatar>
      <ion-label class="ion-padding-start">
        Safety PASS Network
        <div class="field-label">Safety PASS Invitation</div>
        <div class="field-label">To accept the invitation please tap or click the link below:</div>
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <div class="field-label">7:29 PM</div>
        <ion-icon class="icon-small" name="star-outline" color="medium"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-avatar>
        <img src="/assets/blank-user-avatar.png">
      </ion-avatar>
      <ion-label class="ion-padding-start">
        Jet Blue
        <div class="field-label">Now arriving: even more safety innovations.</div>
        <div class="field-label">The latest tech for your trek.</div>
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <div class="field-label">7:20 PM</div>
        <ion-icon class="icon-small" name="star-outline" color="medium"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-avatar>
        <img src="/assets/blank-user-avatar.png">
      </ion-avatar>
      <ion-label class="ion-padding-start">
        Amazon.com
        <div class="field-label">Download 2 free audiobooks today.</div>
        <div class="field-label">Fit more reading into your life. Start listening today.</div>
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <div class="field-label">7:15 PM</div>
        <ion-icon class="icon-small" name="star-outline" color="medium"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-avatar>
        <img src="/assets/blank-user-avatar.png">
      </ion-avatar>
      <ion-label class="ion-padding-start">
        Crate and Barrel
        <div class="field-label">Up to 60% off clearance is making a splash.</div>
        <div class="field-label">Explore new markdowns just added. Hurry - favorites go fast.</div>
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <div class="field-label">7:00 PM</div>
        <ion-icon class="icon-small" name="star-outline" color="medium"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-avatar>
        <img src="/assets/blank-user-avatar.png">
      </ion-avatar>
      <ion-label class="ion-padding-start">
        Adobe Creative Cloud
        <div class="field-label">Try a 1-min. Photoshop tutorial and hybrid drawing.</div>
        <div class="field-label">Insights and inspiration to spark your creativity.</div>
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <div class="field-label">6:55 PM</div>
        <ion-icon class="icon-small" name="star-outline" color="medium"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-avatar>
        <img src="/assets/blank-user-avatar.png">
      </ion-avatar>
      <ion-label class="ion-padding-start">
        Ira Klein
        <div class="field-label">RE: Video of Safety PASS demo for Vaccination Program.</div>
        <div class="field-label">Hi Jonathan and Rich, I just viewed the video; it's awesome!</div>
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <div class="field-label">6:45 PM</div>
        <ion-icon class="icon-small" name="star-outline" color="medium"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-avatar>
        <img src="/assets/blank-user-avatar.png">
      </ion-avatar>
      <ion-label class="ion-padding-start">
        Rich Muth
        <div class="field-label">Introduction to a new contact at Compliance Partner.</div>
        <div class="field-label">Heya, I hope you are well. I would like to introduce you.</div>
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <div class="field-label">6:40 PM</div>
        <ion-icon class="icon-small" name="star-outline" color="medium"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-avatar>
        <img src="/assets/blank-user-avatar.png">
      </ion-avatar>
      <ion-label class="ion-padding-start">
        Rich Muth
        <div class="field-label">Introduction to a new contact at Compliance Partner.</div>
        <div class="field-label">Heya, I hope you are well. I would like to introduce you.</div>
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <div class="field-label">6:35 PM</div>
        <ion-icon class="icon-small" name="star-outline" color="medium"></ion-icon>
      </ion-note>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary">
      <ion-icon name="add-outline" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
