<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/passes-modal"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Une Film de Wes Anderson
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content fullscreen>
    <ion-card>
      <ion-row class="ion-justify-content-center">
        <div class="profile">
          <ion-avatar class="profile-frame">
            <img src="/assets/LA-profile-image.jpg" class="profile-pic" alt="Profile Pic">
          </ion-avatar>
        </div>
      </ion-row>
      <img src="/assets/p5-seat-geek-ticket.jpg" class="pass-detail" alt="pass"/>
    </ion-card>
  </ion-content>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button expand="block" class="ion-margin-bottom" fill="outline" color="primary" routerLink="/pass-checklist">
            <ion-icon src="/assets/shield-cross-outline.svg" color="safetypass"></ion-icon>
            &nbsp;&nbsp;Checklist
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" class="ion-margin-bottom" fill="outline" color="primary" routerLink="/home-scanner" routerDirection="back">
            <ion-icon name="close-outline" color="primary"></ion-icon>&nbsp;&nbsp;Done
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
