<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/passes-modal"></ion-back-button>
    </ion-buttons>
    <ion-title color="safetypass">
      My Safe Access Status
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- The following slides are merely the options that can be returned on page load based on comparing User's current status (based on User's in-app data and settings) with the Safe Access Requirements of the event or venue ID passed on load. -->
  <ion-slides style="width: 100%">
    <ion-slide>
      <div class="ion-text-center">
        <ion-row class="ion-margin-top ion-justify-content-center">
          <ion-icon name="checkmark-done-circle" class="icon-big" color="success"></ion-icon>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-text>Clear</ion-text>
        </ion-row>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="ion-text-center">
        <ion-row class="ion-margin-top ion-justify-content-center">
          <ion-icon name="checkmark-circle" class="icon-big" color="success"></ion-icon>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-text>Clear</ion-text>
        </ion-row>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="ion-text-center">
        <ion-row class="ion-margin-top ion-justify-content-center">
          <ion-icon name="checkmark-done-circle-outline" class="icon-big" color="success"></ion-icon>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-text>Clear</ion-text>
        </ion-row>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="ion-text-center">
        <ion-row class="ion-margin-top ion-justify-content-center">
          <ion-icon name="warning" class="icon-big" color="warning"></ion-icon>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-text>See Checklist</ion-text>
        </ion-row>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="ion-text-center">
        <ion-row class="ion-margin-top ion-justify-content-center">
          <ion-icon name="help-circle" class="icon-big" color="hot"></ion-icon>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-text>Restricted</ion-text>
        </ion-row>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="ion-text-center">
        <ion-row class="ion-margin-top ion-justify-content-center">
          <ion-icon name="alert-circle" class="icon-big" color="danger"></ion-icon>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-text>Restricted</ion-text>
        </ion-row>
      </div>
    </ion-slide>
  </ion-slides>
  <!-- Items on this view will either be visible or not based on the Safe Access Requirements of the event or venue ID passed on load. -->
  <ion-list>
    <ion-list-header>Safe Access Requirements</ion-list-header>
    <ion-item>
      <ion-text class="text-smallest">The following requirements must be met prior to arrival in order to gain entry.</ion-text>
    </ion-item>
    <ion-list-header>
      <ion-text class="text-smallest">Vaccination Status</ion-text>
    </ion-list-header>
    <ion-item>
      <ion-icon name="checkmark-done-circle" color="success"></ion-icon>
      <ion-label class="ion-padding-start">Vaccinated</ion-label>
      <ion-icon name="checkmark-circle" color="primary" slot="end"></ion-icon>
    </ion-item>
    <ion-row class="ion-justify-content-center">
      <ion-text class="text-smallest">- OR -</ion-text>
    </ion-row>
    <ion-list-header>
      <ion-text class="text-smallest">Health Status</ion-text>
    </ion-list-header>
    <ion-item lines="none">
      <ion-icon name="checkmark-circle" color="success"></ion-icon>
      <ion-label class="ion-padding-start">Negative Virus Test</ion-label>
      <ion-note class="text-smallest" color="safetypass">Max age: 3 Days</ion-note>
      <ion-icon name="checkmark-circle" color="primary" slot="end"></ion-icon>
    </ion-item>
    <ion-row class="ion-justify-content-center">
      <ion-text class="text-smallest">- OR -</ion-text>
    </ion-row>
    <ion-item>
      <ion-icon name="checkmark-done-circle-outline" color="success"></ion-icon>
      <ion-label class="ion-padding-start">Recovered</ion-label>
      <ion-icon name="checkmark-circle" color="primary" slot="end"></ion-icon>
    </ion-item>
    <ion-row class="ion-justify-content-center">
      <ion-text class="text-smallest">- AND -</ion-text>
    </ion-row>
    <ion-list-header>
      <ion-text class="text-smallest">Anonymous Exposure Alerts</ion-text>
    </ion-list-header>
    <ion-item>
      <ion-icon name="alert-circle-outline"></ion-icon>
      <ion-label class="ion-padding-start">Enrolled for Alerts</ion-label>
      <ion-icon name="ellipse-outline" color="medium" slot="end"></ion-icon>
    </ion-item>
    <ion-list-header>
      <ion-text class="text-smallest">Safe Paths</ion-text>
    </ion-list-header>
    <ion-item>
      <ion-icon name="heart-circle-outline"></ion-icon>
      <ion-label class="ion-padding-start">Safe Paths Active</ion-label>
      <ion-icon name="ellipse-outline" color="medium" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
