<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home-scanner"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Wallet
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center">
    <div class="profile">
      <ion-avatar class="profile-frame">
        <img src="/assets/jess-taylor-profile.jpg" class="profile-pic" alt="Profile Pic" routerLink="/profile-home" routerDirection="root">
      </ion-avatar>
      <div class="btn">
        <ion-fab-button size="small" color="light" translucent="true" routerLink="/profile-code">
          <ion-icon name="qr-code-outline" color="primary"></ion-icon>
        </ion-fab-button>
      </div>
    </div>
  </ion-row>
  <ion-text class="section-header" color="primary">
    <br/>Jane Fentum
  </ion-text>
  <ion-list>
    <ion-list-header>
      <ion-text class="text-smallest">Tickets & Passes</ion-text>
    </ion-list-header>
    <ion-item detail routerLink="/pass1">
      <ion-icon src="/assets/ticket-outline.svg"></ion-icon>
      <ion-label class="ion-padding-start">
        Andy C All Night
        <div class="aer-label">The SSE Arena, Wembley</div>
      </ion-label>
    </ion-item>
    <ion-item detail routerLink="/pass2">
      <ion-icon src="/assets/ticket-outline.svg"></ion-icon>
      <ion-label class="ion-padding-start">
        Andy C All Night - Fix!
        <div class="aer-label">The SSE Arena, Wembley</div>
      </ion-label>
    </ion-item>
    <ion-item detail routerLink="/pass3">
      <ion-icon name="airplane-outline"></ion-icon>
      <ion-label class="ion-padding-start">
        British Airways
        <div class="aer-label">FLIGHT BA2167 – SEAT 16B</div>
      </ion-label>
    </ion-item>
    <ion-item detail routerLink="/pass4">
      <ion-icon src="/assets/ticket-outline.svg"></ion-icon>
      <ion-label class="ion-padding-start">
        Ticketmaster Music
        <div class="aer-label">SXSW Austin</div>
      </ion-label>
    </ion-item>
    <ion-item detail routerLink="/pass5">
      <ion-icon src="/assets/ticket-outline.svg"></ion-icon>
      <ion-label class="ion-padding-start">
        Une Film de Wes Anderson
        <div class="aer-label">Local Indie MovieHaus</div>
      </ion-label>
    </ion-item>
    <ion-item detail routerLink="/pass6">
      <ion-icon name="airplane-outline"></ion-icon>
      <ion-label class="ion-padding-start">
        Southwest Airlines
        <div class="aer-label">Flight 531 - Boarding Pass</div>
      </ion-label>
    </ion-item>
    <ion-item detail routerLink="/pass">
      <ion-icon src="/assets/ticket-outline.svg"></ion-icon>
      <ion-label class="ion-padding-start">
        Andy C All Night - Stop!
        <div class="aer-label">The SSE Arena, Wembley</div>
      </ion-label>
    </ion-item>
    <!-- <ion-item-divider color="light"></ion-item-divider> -->
    <ion-list-header>
      <ion-text class="text-smallest">Payment Methods</ion-text>
    </ion-list-header>
    <ion-item detail routerLink="/view-bank">
      <ion-avatar>
        <img src="/assets/wellsfargo.png">
      </ion-avatar>
      <ion-label class="ion-padding-start">
        Wells Fargo
        <div class="aer-label">Checking &bull;&bull;&bull;&bull; 1111</div>
      </ion-label>
    </ion-item>
    <ion-item detail routerLink="/view-card1">
      <ion-icon src="/assets/visa.svg" class="icon-larger"></ion-icon>
      <ion-label class="ion-padding-start">
        JPMorgan Chase
        <div class="aer-label">Visa &bull;&bull;&bull;&bull; 0331</div>
      </ion-label>
    </ion-item>
    <ion-item detail routerLink="/view-card2">
      <ion-icon src="/assets/mastercard.svg" class="icon-larger"></ion-icon>
      <ion-label class="ion-padding-start">
        Citibank
        <div class="aer-label">MasterCard &bull;&bull;&bull;&bull; 6789</div>
      </ion-label>
    </ion-item>
    <ion-item detail routerLink="/view-card3">
      <ion-icon src="/assets/amex.svg" class="icon-larger"></ion-icon>
      <ion-label class="ion-padding-start">
        American Express
        <div class="aer-label">American Express &bull;&bull;&bull;&bull; 6789</div>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-icon name="shield-checkmark-outline" color="primary"></ion-icon>
      <ion-text class="ion-padding-start text-smallest" color="medium">
        Account info is never stored on your device.
      </ion-text>
    </ion-item>
  </ion-list>
</ion-content>
