<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home-scanner"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Tickets & Passes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center">
    <div class="profile">
      <ion-avatar class="profile-frame">
        <img src="/assets/jess-taylor-profile.jpg" class="profile-pic" alt="Profile Pic">
      </ion-avatar>
      <div class="btn">
        <ion-fab-button size="small" color="light" translucent="true" routerLink="/profile-code">
          <ion-icon name="qr-code-outline" color="primary"></ion-icon>
        </ion-fab-button>
      </div>
    </div>
  </ion-row>
  <ion-text class="section-header" color="primary">
    <br/>Display Name<br/><br/>
  </ion-text>
  <ion-list>
    <ion-item detail routerLink="/view-hc-status">
      <ion-icon src="/assets/shield-cross-outline.svg" color="safetypass"></ion-icon>
      <ion-label class="ion-padding-start">
        SafetyPASS Badge
        <div class="aer-label">Current Status</div>
      </ion-label>
    </ion-item>
    <ion-item detail routerLink="/pass">
      <ion-icon name="qr-code-outline"></ion-icon>
      <ion-label class="ion-padding-start">
        Mud Run
        <div class="aer-label">Golden Gate Park</div>
      </ion-label>
    </ion-item>
    <ion-item detail routerLink="/pass1">
      <ion-icon name="qr-code-outline"></ion-icon>
      <ion-label class="ion-padding-start">
        Warriors vs. Celtics
        <div class="aer-label">TD Garden</div>
      </ion-label>
    </ion-item>
    <ion-item detail routerLink="/pass2">
      <ion-icon name="qr-code-outline"></ion-icon>
      <ion-label class="ion-padding-start">
        Rangers vs. Devils
        <div class="aer-label">Prudential Center</div>
      </ion-label>
    </ion-item>
    <ion-item detail routerLink="/pass3">
      <ion-icon name="qr-code-outline"></ion-icon>
      <ion-label class="ion-padding-start">
        US Open - Session 14
        <div class="aer-label">Billy Jean King NTC</div>
      </ion-label>
    </ion-item>
    <ion-item detail routerLink="/pass4">
      <ion-icon name="qr-code-outline"></ion-icon>
      <ion-label class="ion-padding-start">
        Ticketmaster Music
        <div class="aer-label">SXSW Austin</div>
      </ion-label>
    </ion-item>
    <ion-item detail routerLink="/pass5">
      <ion-icon name="qr-code-outline"></ion-icon>
      <ion-label class="ion-padding-start">
        Une Film de Wes Anderson
        <div class="aer-label">Local Indie MovieHaus</div>
      </ion-label>
    </ion-item>
    <ion-item detail routerLink="/pass6">
      <ion-icon name="airplane-outline"></ion-icon>
      <ion-label class="ion-padding-start">
        Southwest Airlines
        <div class="aer-label">Flight 531 - Boarding Pass</div>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-icon name="shield-checkmark-outline" color="primary"></ion-icon>
      <ion-text class="ion-padding-start text-smallest" color="medium">
        All Passes Certified.
      </ion-text>
    </ion-item>
  </ion-list>
</ion-content>
