<ion-content color="white">

  <ion-row>
    <div class="v-center">
      <ion-icon name="checkmark-circle-outline" class="icon-huge" color="primary" routerLink="/web-partner1-destination"></ion-icon><br/>
      <ion-text class="ion-justify-content-center" color="primary"><h1>SUCCESS!</h1></ion-text>
      <ion-text class="text-small ion-text-center">
        <br/>Your account has been created!
      </ion-text>
    </div>
  </ion-row>

</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button expand="block" class="pad15 ion-margin-bottom" color="primary" routerLink="/profile-home">
      Continue
    </ion-button>
  </ion-toolbar>
</ion-footer>
