<ion-header class="ion-no-border">
  <ion-toolbar color="light"></ion-toolbar>
</ion-header>
<ion-content color="light">

  <ion-row>
    <div class="hv-center pad10">
      <ion-icon name="alert-circle-outline" class="icon-huge" color="danger"></ion-icon><br/>
      <ion-text class="ion-justify-content-center"><h1>ERROR!</h1></ion-text>
      <ion-text class="text-small ion-text-center">
        <br/>Email address currently in use.
      </ion-text>
    </div>
  </ion-row>

</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar color="light">
    <ion-button expand="block" class="pad15 ion-margin-bottom" color="medium" routerLink="/enter-email" routerDirection="back">
      Try again
    </ion-button>
    <ion-button expand="block" class="pad15 ion-margin-bottom" color="primary" routerLink="/scan-email-recovery">
      Reconnect Smart ID
    </ion-button>
  </ion-toolbar>
</ion-footer>
