<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile-home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Banks & Cards
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center">
    <ion-avatar class="profile-frame">
      <img src="/assets/jess-taylor-profile.jpg" class="profile-pic">
    </ion-avatar>
  </ion-row>
  <ion-text class="section-header" color="primary">Jess Taylor<br/><br/></ion-text>
  <ion-list>
    <ion-item detail routerLink="/view-bank">
      <ion-avatar>
        <img src="/assets/wellsfargo.png">
      </ion-avatar>
      <ion-label class="ion-padding-start">
        Wells Fargo
        <div class="aer-label">Checking &bull;&bull;&bull;&bull; 1111</div>
      </ion-label>
    </ion-item>
    <ion-item detail routerLink="/view-card1">
      <ion-icon src="/assets/visa.svg" class="icon-larger"></ion-icon>
      <ion-label class="ion-padding-start">
        JPMorgan Chase
        <div class="aer-label">Visa &bull;&bull;&bull;&bull; 0331</div>
      </ion-label>
    </ion-item>
    <ion-item detail routerLink="/view-card2">
      <ion-icon src="/assets/mastercard.svg" class="icon-larger"></ion-icon>
      <ion-label class="ion-padding-start">
        Citibank
        <div class="aer-label">MasterCard &bull;&bull;&bull;&bull; 6789</div>
      </ion-label>
    </ion-item>
    <ion-item detail routerLink="/view-card3">
      <ion-icon src="/assets/amex.svg" class="icon-larger"></ion-icon>
      <ion-label class="ion-padding-start">
        American Express
        <div class="aer-label">American Express &bull;&bull;&bull;&bull; 6789</div>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-icon name="shield-checkmark-outline" color="primary"></ion-icon>
      <ion-text class="ion-padding-start text-smallest" color="medium">
        Account info is never stored on your device.
      </ion-text>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
     <ion-fab-button>
      <ion-icon name="add-outline" size="large"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light" zenPlaidLink
                      clientName="AerPass"
                      env="sandbox"
                      publicKey="90806ea4692059356e89c7f0e6ea7a"
                      [countryCodes]="['US']"
                      [accountSubtypes]="plaidAccountSubtypes"
                      (success)="onPlaidSuccess($event)">
        <ion-icon src="/assets/savings.svg" color="primary"></ion-icon>
      </ion-fab-button>
      <ion-label class="aer-label" color="primary">Add Bank</ion-label>
      <ion-fab-button color="light">
        <ion-icon name="card-outline" color="primary"></ion-icon>
      </ion-fab-button>
      <ion-label class="aer-label" color="primary">Add Card</ion-label>
    </ion-fab-list>
  </ion-fab>

</ion-content>
