<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/passes-modal"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Mud Run
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content fullscreen>
    <ion-card>
      <img src="/assets/p0-eventbrite-mobile-ticket.png" />
    </ion-card>
  </ion-content>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button expand="block" class="pad15 ion-margin-bottom" fill="outline" color="dark" routerLink="/pass-checklist">
      <ion-icon src="/assets/shield-cross-outline.svg" color="safetypass"></ion-icon>
      &nbsp;&nbsp;SafetyPASS Checklist&nbsp;&nbsp;
      <ion-icon name="checkmark-circle-outline"></ion-icon>
    </ion-button>
    <ion-button expand="block" class="pad15 ion-margin-bottom" routerLink="/home-scanner" routerDirection="back">
      Done
    </ion-button>
  </ion-toolbar>
</ion-footer>
