<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="milconnect2"></ion-menu-button>
    </ion-buttons>
    <ion-text class="ion-text-center">
      <ion-title class="ion-justify-content-center">
        <img class="brand" src="/assets/logo-mc-hor.svg" alt="" />
      </ion-title>
    </ion-text>
    <ion-buttons slot="end">
      <ion-button color="milconnect2" routerLink="/settings" routerDirection="root" fill="clear">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container-top">
    <ion-row class="ion-justify-content-center">
      <div class="ion-text-center">
        <ion-row class="ion-justify-content-center">
          <div class="profile-home">
            <ion-avatar class="profile-frame-pid">
              <img src="/assets/jess-taylor-profile.jpg" class="profile-pic-pid" alt="Profile Pic" routerLink="/profile-home-mc" routerDirection="root">
            </ion-avatar>
            <div class="btn">
              <ion-fab-button color="milconnect2" translucent="true" routerLink="/badge-mc-army">
                <ion-icon src="/assets/links-mark.svg" color="white" class="icon-fab"></ion-icon>
              </ion-fab-button>
            </div>
          </div>
        </ion-row>
        <ion-text class="section-header">
          Military Member
        </ion-text>
      </div>
    </ion-row>
  </div>
  <div id="container-bottom">
    <ion-row class="ion-justify-content-center">
      <div class="ion-text-center">
        <ion-row class="ion-justify-content-center">
          <div class="display-qr">
            <img src="/assets/qr-get-mc-circle-sq.png" alt="" />
          </div>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-text class="section-header">US Army</ion-text>
        </ion-row>
        <!--<ion-toolbar color="transparent">
          <ion-segment value="military" color="mc-alt">
            <ion-segment-button value="military">
              <ion-label color="army-gold">Pass Code</ion-label>
            </ion-segment-button>
            <ion-segment-button value="altpass">
              <ion-label color="army-gold">Details</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-toolbar>-->
      </div>
    </ion-row>
  </div>

</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button routerLink="/badge-mc-default" routerDirection="back">
    <ion-label color="milconnect2">Badge</ion-label>
    <ion-icon name="qr-code-outline" color="milconnect2"></ion-icon>
  </ion-tab-button>
  <ion-tab-button routerLink="/home-scanner-milconnect" routerDirection="root">
    <ion-label>Scanner</ion-label>
    <ion-icon name="scan-outline"></ion-icon>
  </ion-tab-button>
  <ion-tab-button routerLink="/profile-home-mc" routerDirection="forward">
    <ion-label>Account</ion-label>
    <ion-icon name="person-outline"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>
