<ion-header translucent="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-button routerLink="/chat-list" routerDirection="back">
            <ion-icon name="chevron-back"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title>Contact info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="utility">
    <ion-card>
        <img src="/assets/og-morgan-profile-pro.jpg" alt="David Morgan">
        <ion-item>
            <ion-label>
                <b>David Morgan</b>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                Membership: Professional
            </ion-label>
            <!--<ion-icon slot="end" src="/assets/"></ion-icon>-->
        </ion-item>
        <ion-item lines="none">
            <ion-label>
                ID Verified:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;21 OCT 2024
            </ion-label>
            <ion-icon slot="end" src="/assets/circle-check-ok-grn-mid.svg"></ion-icon>
        </ion-item>
    </ion-card>
    <ion-card>
        <ion-list>
            <!--<ion-item routerLink="/personal-info">
                <ion-icon name="timer-outline"></ion-icon>
                <ion-label class="ion-padding-start">Disappearing Messages</ion-label>
            </ion-item>-->
            <ion-item routerLink="/settings-security">
                <ion-icon name="notifications-outline"></ion-icon>
                <ion-label class="ion-padding-start">Notifications</ion-label>
            </ion-item>
            <ion-item routerLink="/personal-info">
                <ion-icon name="pencil"></ion-icon>
                <ion-label class="ion-padding-start">Nickname</ion-label>
            </ion-item>
            <ion-item lines="none" routerLink="/personal-info">
                <ion-icon name="person-circle-outline"></ion-icon>
                <ion-label class="ion-padding-start">Contact Details</ion-label>
            </ion-item>
        </ion-list>
    </ion-card>
    <!--<ion-card>
        <ion-list>
            <ion-item routerLink="/personal-info">
                <ion-icon name="image-outline"></ion-icon>
                <ion-label class="ion-padding-start">Media, Links & Docs</ion-label>
            </ion-item>
            <ion-item routerLink="/personal-info">
                <ion-icon name="bookmark-outline"></ion-icon>
                <ion-label class="ion-padding-start">Bookmarked Messages</ion-label>
            </ion-item>
            <ion-item lines="none" routerLink="/settings">
                <ion-icon name="download-outline"></ion-icon>
                <ion-label class="ion-padding-start">Save to Photos</ion-label>
            </ion-item>
        </ion-list>
    </ion-card>-->
    <!--<ion-card>
        <ion-list>
            <ion-item routerLink="/settings-security">
                <ion-icon name="notifications-outline"></ion-icon>
                <ion-label class="ion-padding-start">Notifications</ion-label>
            </ion-item>
            <ion-item lines="none" routerLink="/settings">
                <ion-icon name="color-palette-outline"></ion-icon>
                <ion-label class="ion-padding-start">Chat Color & Wallpaper</ion-label>
            </ion-item>
        </ion-list>
    </ion-card>-->
    <ion-text class="ion-padding-horizontal">3 Communities in Common</ion-text>
    <ion-card>
        <ion-list>
            <ion-item routerLink="/settings-security">
                <ion-avatar class="profile-pic-toolbar"><img src="/assets/profile-arsenal.jpg" alt="" /></ion-avatar>
                <ion-label class="ion-padding-start">Arsenal Fans</ion-label>
            </ion-item>
            <ion-item routerLink="/settings-security">
                <ion-avatar class="profile-pic-toolbar"><img src="/assets/profile-bookclub.jpg" alt="" /></ion-avatar>
                <ion-label class="ion-padding-start">Book Club</ion-label>
            </ion-item>
            <ion-item lines="none" routerLink="/legal">
                <ion-avatar class="profile-pic-toolbar"><img src="/assets/profile-gumball.jpg" alt="" /></ion-avatar>
                <ion-label class="ion-padding-start">Gumball Team51</ion-label>
            </ion-item>
        </ion-list>
    </ion-card>
    <ion-card>
        <ion-list>
            <ion-item routerLink="/settings-security">
                <ion-icon name="trash-outline" color="danger"></ion-icon>
                <ion-label class="ion-padding-start">Delete Chat</ion-label>
            </ion-item>
            <ion-item lines="none" routerLink="/connected-accounts">
                <ion-icon name="close-circle-outline" color="danger"></ion-icon>
                <ion-label class="ion-padding-start">Disconnect</ion-label>
            </ion-item>
        </ion-list>
    </ion-card>

</ion-content>

<!--<ion-tab-bar translucent="true" slot="bottom">
    <ion-tab-button>
        <ion-icon name="videocam-outline" color="primary"></ion-icon>
        <ion-label color="primary">Video</ion-label>
    </ion-tab-button>
    <ion-tab-button>
        <ion-icon name="call-outline" color="primary"></ion-icon>
        <ion-label color="primary">Voice</ion-label>
    </ion-tab-button>
    <ion-tab-button>
        <ion-icon name="search-outline" color="primary"></ion-icon>
        <ion-label color="primary">Search</ion-label>
    </ion-tab-button>
</ion-tab-bar>-->
