<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-menu-button></ion-menu-button>
      </ion-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button color="milconnect2" routerLink="/settings" routerDirection="root" fill="clear">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center">
    <div class="profile">
      <ion-avatar class="profile-frame">
        <img src="/assets/jess-taylor-profile.jpg" class="profile-pic" alt="Profile Pic">
      </ion-avatar>
      <div class="btn">
        <ion-fab-button size="small" color="light" translucent="true" routerLink="/badge-mc-default">
          <ion-icon name="qr-code-outline" color="milconnect2"></ion-icon>
        </ion-fab-button>
      </div>
    </div>
  </ion-row>
  <ion-text class="section-header" color="milconnect2">
    <br/>Jane Fentum<br/><br/>
  </ion-text>
  <ion-list>
    <ion-item detail routerLink="/personal-info-mc-unverified">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label class="ion-padding-start">Personal Info</ion-label>
      <ion-icon name="alert-circle-outline" color="danger" slot="end" class="icon-small"></ion-icon>
    </ion-item>
    <ion-item detail routerLink="/personas">
      <ion-icon name="people-circle-outline"></ion-icon>
      <ion-label class="ion-padding-start">Identities</ion-label>
    </ion-item>
    <!--<ion-item detail routerLink="/id-documents">
      <ion-icon src="/assets/id-card-outline.svg" color="medium"></ion-icon>
      <ion-label class="ion-padding-start" color="medium">ID Documents</ion-label>
    </ion-item>-->
    <ion-item detail routerLink="/bank-list">
      <ion-icon name="card-outline"></ion-icon>
      <ion-label class="ion-padding-start">Payment Methods</ion-label>
    </ion-item>
    <!--<ion-item detail routerLink="/address-list">
      <ion-icon name="home-outline" color="medium"></ion-icon>
      <ion-label class="ion-padding-start" color="medium">
        Shipping Addresses
      </ion-label>
    </ion-item>-->
    <!--<ion-item detail routerLink="/wallet">
      <ion-icon name="wallet-outline" color="medium"></ion-icon>
      <ion-label class="ion-padding-start" color="medium">Tickets & Passes</ion-label>
    </ion-item>-->
    <ion-item-divider color="light"></ion-item-divider>
    <ion-item detail routerLink="/military-connect">
      <ion-icon src="/assets/links-mark.svg" color="milconnect2"></ion-icon>
      <ion-label class="ion-padding-start" color="milconnect2">Military Connect</ion-label>
    </ion-item>
    <ion-item detail routerLink="/browser-ap-members">
      <ion-icon src="/assets/A-symbol.svg" color="primary"></ion-icon>
      <ion-label class="ion-padding-start" color="primary">Member Services</ion-label>
    </ion-item>
    <ion-item-divider color="light"></ion-item-divider>
    <!--<ion-item detail routerLink="/settings-security">
      <ion-icon name="finger-print-outline"></ion-icon>
      <ion-label class="ion-padding-start">Biometrics & Security</ion-label>
    </ion-item>-->
    <ion-item detail routerLink="/legal">
      <ion-icon name="documents-outline"></ion-icon>
      <ion-label class="ion-padding-start">Legal Agreements</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-icon name="alert-circle-outline" color="danger" slot="start"></ion-icon>
      <ion-text class="text-smallest" color="medium">
        Your military service must be verified to access benefits.
        <a class="link-text" routerLink="/verify-service-mc">Complete Verification</a>.
      </ion-text>
    </ion-item>
    <ion-item lines="none">
    </ion-item>
  </ion-list>

</ion-content>

<ion-tab-bar slot="bottom" class="tab-blur">
  <ion-tab-button routerLink="/badge-mc-default" routerDirection="back">
    <ion-label>ID Badge</ion-label>
    <ion-icon name="qr-code-outline"></ion-icon>
  </ion-tab-button>
  <ion-tab-button routerLink="/home-scanner-milconnect" routerDirection="root">
    <ion-label>Scanner</ion-label>
    <ion-icon name="scan-outline"></ion-icon>
  </ion-tab-button>
  <!--<ion-tab-button routerLink="/wallet" routerDirection="forward">
    <ion-label color="dark">Wallet</ion-label>
    <ion-icon name="wallet-outline" color="dark"></ion-icon>
  </ion-tab-button>-->
  <ion-tab-button routerLink="/profile-home" routerDirection="forward">
    <ion-label color="milconnect2">Profile</ion-label>
    <ion-icon name="person-outline" color="milconnect2"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>
