<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/view-health-info"></ion-back-button>
    </ion-buttons>
    <ion-title color="safetypass">
      Sample QR Data
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center">
    <ion-avatar class="profile-frame">
      <img src="/assets/person-circle-outline-medium.svg" class="profile-pic">
    </ion-avatar>
  </ion-row>
  <ion-text class="section-header" color="primary">Scan Code to Upload:<br/><br/></ion-text>

  <ion-slides style="width: 100%">
    <ion-slide>
      <div class="ion-text-center">
        <ion-row class="ion-justify-content-center">
          <div class="display-qr">
            <img src="/assets/qr-code-moderna-vac1.svg" />
          </div>
        </ion-row>
        <div>
          <ion-text class="text-smallest"><br/>Moderna Vaccine - Dose 1<br/><br/></ion-text>
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="ion-text-center">
        <ion-row class="ion-justify-content-center">
          <div class="display-qr">
            <img src="/assets/qr-code-moderna-vac2.svg" />
          </div>
        </ion-row>
        <div>
          <ion-text class="text-smallest"><br/>Moderna Vaccine - Dose 2<br/><br/></ion-text>
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="ion-text-center">
        <ion-row class="ion-justify-content-center">
          <div class="display-qr">
            <img src="/assets/qr-code-pfizer-vac1.svg" />
          </div>
        </ion-row>
        <div>
          <ion-text class="text-smallest"><br/>Pfizer Vaccine - Dose 1<br/><br/></ion-text>
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="ion-text-center">
        <ion-row class="ion-justify-content-center">
          <div class="display-qr">
            <img src="/assets/qr-code-pfizer-vac2.svg" />
          </div>
        </ion-row>
        <div>
          <ion-text class="text-smallest"><br/>Pfizer Vaccine - Dose 2<br/><br/></ion-text>
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="ion-text-center">
        <ion-row class="ion-justify-content-center">
          <div class="display-qr">
            <img src="/assets/qr-code-astra-vac1.svg" />
          </div>
        </ion-row>
        <div>
          <ion-text class="text-smallest"><br/>AstraZeneca Vaccine - Dose 1<br/><br/></ion-text>
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="ion-text-center">
        <ion-row class="ion-justify-content-center">
          <div class="display-qr">
            <img src="/assets/qr-code-astra-vac2.svg" />
          </div>
        </ion-row>
        <div>
          <ion-text class="text-smallest"><br/>AstraZeneca Vaccine - Dose 2<br/><br/></ion-text>
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="ion-text-center">
        <ion-row class="ion-justify-content-center">
          <div class="display-qr">
            <img src="/assets/qr-code-vibrant-ab-pos.svg" />
          </div>
        </ion-row>
        <div>
          <ion-text class="text-smallest"><br/>Antibody Positive - Recovered<br/><br/></ion-text>
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="ion-text-center">
        <ion-row class="ion-justify-content-center">
          <div class="display-qr">
            <img src="/assets/qr-code-vibrant-ab-neg.svg" />
          </div>
        </ion-row>
        <div>
          <ion-text class="text-smallest"><br/>Antibody Negative<br/><br/></ion-text>
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="ion-text-center">
        <ion-row class="ion-justify-content-center">
          <div class="display-qr">
            <img src="/assets/qr-code-labcorp-pcr-neg.svg" />
          </div>
        </ion-row>
        <div>
          <ion-text class="text-smallest"><br/>PCR - Negative<br/><br/></ion-text>
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="ion-text-center">
        <ion-row class="ion-justify-content-center">
          <div class="display-qr">
            <img src="/assets/qr-code-labcorp-pcr-pos.svg" />
          </div>
        </ion-row>
        <div>
          <ion-text class="text-smallest"><br/>PCR - Positive<br/><br/></ion-text>
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="ion-text-center">
        <ion-row class="ion-justify-content-center">
          <div class="display-qr">
            <img src="/assets/qr-code-labcorp-pcr-ind.svg" />
          </div>
        </ion-row>
        <div>
          <ion-text class="text-smallest"><br/>PCR - Indeterminate<br/><br/></ion-text>
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="ion-text-center">
        <ion-row class="ion-justify-content-center">
          <div class="display-qr">
            <img src="/assets/qr-code-abbott-ant-neg.svg" />
          </div>
        </ion-row>
        <div>
          <ion-text class="text-smallest"><br/>Abbott Antigen - Negative<br/><br/></ion-text>
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="ion-text-center">
        <ion-row class="ion-justify-content-center">
          <div class="display-qr">
            <img src="/assets/qr-code-abbott-ant-pos.svg" />
          </div>
        </ion-row>
        <div>
          <ion-text class="text-smallest"><br/>Abbott Antigen - Positive<br/><br/></ion-text>
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="ion-text-center">
        <ion-row class="ion-justify-content-center">
          <div class="display-qr">
            <img src="/assets/qr-code-access-ant-neg.svg" />
          </div>
        </ion-row>
        <div>
          <ion-text class="text-smallest"><br/>AccessBio Antigen - Negative<br/><br/></ion-text>
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="ion-text-center">
        <ion-row class="ion-justify-content-center">
          <div class="display-qr">
            <img src="/assets/qr-code-access-ant-pos.svg" />
          </div>
        </ion-row>
        <div>
          <ion-text class="text-smallest"><br/>AccessBio Antigen - Positive<br/><br/></ion-text>
        </div>
      </div>
    </ion-slide>

  </ion-slides>

  <div class="ion-text-center">
    <ion-row class="ion-justify-content-center">
      <ion-toolbar>
        <ion-segment value="display">
          <ion-segment-button value="scan" routerLink="/home-scanner">
            <ion-label>Scan</ion-label>
          </ion-segment-button>
          <ion-segment-button value="display">
            <ion-label>Display</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>
    </ion-row>
    <ion-row class="ion-justify-content-evenly">
      <ion-text>&nbsp;</ion-text>
    </ion-row>
    <ion-row class="ion-justify-content-evenly">
      <ion-button shape="circle" fill="clear">
        <ion-icon name="mail-outline"></ion-icon>
      </ion-button>
      <ion-button shape="circle" fill="clear">
        <ion-icon name="share-outline"></ion-icon>
      </ion-button>
    </ion-row>
  </div>
</ion-content>

