<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/view-health-info">Done</ion-back-button>
    </ion-buttons>
    <ion-title color="safetypass">
      Get Tested
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-row class="ion-no-padding">
    <ion-img src="/assets/testing-hero2.png"></ion-img>
  </ion-row>
  <ion-list-header>Schedule Appointment</ion-list-header>
  <ion-list>
    <ion-item>
      <ion-label>
        <div class="field-label">Full name</div>
        FIRST MIDDLE SURNAME
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <div class="field-label">Verified</div>
        <ion-icon name="checkmark-circle-outline" color="success"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label>
        <div class="field-label">DOB</div>
        09/17/1972
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <div class="field-label">Verified</div>
        <ion-icon name="checkmark-circle-outline" color="success"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label>
        <div class="field-label">Primary email address</div>
        username@aerpass.com
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <div class="field-label">Verified</div>
        <ion-icon name="checkmark-circle-outline" color="success"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label>
        <div class="field-label">Mobile number</div>
        +1 (321) 456-7890
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <div class="field-label">Verified</div>
        <ion-icon name="checkmark-circle-outline" color="success"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label>
        <div class="field-label">Address</div>
        123 4th Ave Apt 5<br>New York, NY 10001&nbsp;&nbsp;&nbsp;USA
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-item-divider color="light"></ion-item-divider>
  <ion-list>
    <ion-item class="ion-margin-top" lines="none">
      <ion-label>
        Questionnaire
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-text class="text-smallest ion-padding-end">
        These questions will help you confirm your eligibility for
        COVID-19 diagnostic tests, schedule appointments, and retrieve your
        health records so you can receive a SafetyPASS.<br/>&nbsp;&nbsp;
      </ion-text>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked" class="field-label">Sex</ion-label>
      <ion-segment>
        <ion-segment-button value="male">Male</ion-segment-button>
        <ion-segment-button value="female">Female</ion-segment-button>
        <ion-segment-button value="other">Other</ion-segment-button>
      </ion-segment>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked" class="field-label ion-text-wrap">Do you work in a healthcare setting?</ion-label>
      <ion-segment>
        <ion-segment-button value="yes">Yes</ion-segment-button>
        <ion-segment-button value="no">No</ion-segment-button>
      </ion-segment>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" class="field-label">
        If Yes, role
      </ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked" class="field-label ion-text-wrap">Are you a resident at a long-term care facility?</ion-label>
      <ion-segment>
        <ion-segment-button value="yes">Yes</ion-segment-button>
        <ion-segment-button value="no">No</ion-segment-button>
      </ion-segment>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked" class="field-label ion-text-wrap">Do you live in congregate setting? (e.g. homeless shelter, group home)</ion-label>
      <ion-segment>
        <ion-segment-button value="yes">Yes</ion-segment-button>
        <ion-segment-button value="no">No</ion-segment-button>
      </ion-segment>
    </ion-item>
    <ion-item class="ion-margin-top" lines="none">
      <ion-label>
        Insurance Information
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" class="text-smallest ion-text-wrap">
        If you have health insurance, your provider or
        pharmacist will need the following information from your insurance
        card to be reimbursed for administering your diagnostic test.<br/>&nbsp;&nbsp;
      </ion-label>
      <ion-select value="select" interface="action-sheet">
        <ion-select-option value="insurance-yes">I have insurance</ion-select-option>
        <ion-select-option value="medicare">I have Medicare</ion-select-option>
        <ion-select-option value="insurance-no">I don't have insurance</ion-select-option>
        <ion-select-option value="insurance-cant-find">I can't find my insurance information</ion-select-option>
        <ion-select-option value="insurance-ask-later">Ask me later</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" class="field-label">
        <p><b>Insurance details:</b></p><br/>
        Member ID #
      </ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" class="field-label">
        Group #
      </ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" class="field-label">
        RX BIN
      </ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" class="field-label">
        RX PCN
      </ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" class="field-label">
        <p><b>Medicare details:</b></p><br/>
        Member ID #
      </ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" class="field-label">
        Name on Card
      </ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item class="ion-margin-top" lines="none">
      <ion-label>
        Screening Questions
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked" class="field-label ion-text-wrap">Is this your first COVID-19 test?</ion-label>
      <ion-segment>
        <ion-segment-button value="yes">Yes</ion-segment-button>
        <ion-segment-button value="no">No</ion-segment-button>
      </ion-segment>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked" class="field-label ion-text-wrap">Are you sick today?</ion-label>
      <ion-segment>
        <ion-segment-button value="yes">Yes</ion-segment-button>
        <ion-segment-button value="no">No</ion-segment-button>
      </ion-segment>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" class="field-label">
        If Yes, symptoms
      </ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Date symptoms began</ion-label>
      <ion-datetime placeholder="Select Date"></ion-datetime>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked" class="field-label ion-text-wrap">Do you have a long-term health problem such as heart disease, lung disease, liver disease, asthma, kidney disease, metabolic disease (e.g. diabetes), anemia, or other blood disorder?</ion-label>
      <ion-segment>
        <ion-segment-button value="yes">Yes</ion-segment-button>
        <ion-segment-button value="no">No</ion-segment-button>
      </ion-segment>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" class="field-label">
        If Yes, condition(s)
      </ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked" class="field-label ion-text-wrap">Are you pregnant?</ion-label>
      <ion-segment>
        <ion-segment-button value="yes">Yes</ion-segment-button>
        <ion-segment-button value="no">No</ion-segment-button>
      </ion-segment>
    </ion-item>
    <ion-item>&nbsp;</ion-item>
    <ion-item lines="none" class="ion-margin-end">
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-text class="text-smallest ion-text-justify" color="medium">
        <br/>I hereby certify that I am at least 18 years of age, or the parent or legal guardian of the minor patient.
      </ion-text>
    </ion-item>
    <ion-item lines="none" class="ion-margin-end">
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-text class="text-smallest ion-text-justify" color="medium">
        <br/>I have read, or have had read to me, the written information regarding the diagnostic test(s) being administered.
        I have had the opportunity to ask questions that were answered to my satisfaction.
        I understand the benefits and limitations of the diagnostic test(s) being administered and have received a copy of the Diagnostic Test Information Sheet.
        I hereby give my consent to the diagnostic testing provider to administer the diagnostic test(s) agree to the testing terms and conditions.
      </ion-text>
    </ion-item>
    <ion-item lines="none">&nbsp;</ion-item>
  </ion-list>
  <!--<div>
    <iframe src="https://safetypass.sandbox.webshield.io/" width="100%" height="812pt"></iframe>
  </div>-->
  <ion-toolbar>
    <ion-button expand="block" class="pad15 ion-margin-bottom" color="safetypass" routerLink="/vaccine-success">
      Request COVID Test
    </ion-button>
  </ion-toolbar>
</ion-content>
<!--
  <div>
    <iframe src="https://safetypass.sandbox.webshield.io/" width="100%" height="812pt"></iframe>
  </div>-->

<!-- <ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button expand="block" class="pad15 ion-margin-bottom" color="dark">
      <ion-icon name="logo-apple"></ion-icon>
      &nbsp;&nbsp;Pay
    </ion-button>
  </ion-toolbar>
  <ion-toolbar>
    <ion-button expand="block" class="pad15 ion-margin-bottom" routerLink="/payment-auth">
      <ion-icon src="/assets/A-symbol.svg"></ion-icon>
      &nbsp;&nbsp;Money
    </ion-button>
  </ion-toolbar>
</ion-footer> -->
