<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/view-id-list" routerDirection="back">
        <ion-label color="medium">Cancel</ion-label>
      </ion-button>
    </ion-buttons>
    <ion-title>Add Identity</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <br>
    <ion-row class="ion-justify-content-center">
        <ion-avatar class="profile-frame">
          <img src="/assets/blank-user-avatar.png" class="profile-pic">
        </ion-avatar>
    </ion-row>
    <ion-button color="primary" size="small" fill="clear" >
      Change Picture
    </ion-button>
  </div>

  <ion-list>
    <ion-item>
      <ion-label position="stacked" color="medium">Identity name</ion-label>
      <ion-input type="text" value=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Type</ion-label>
      <ion-select slot="end" value="01">
        <ion-select-option value="01">Personal</ion-select-option>
        <ion-select-option value="02">Professional</ion-select-option>
        <ion-select-option value="03">Educational</ion-select-option>
        <ion-select-option value="04">Government</ion-select-option>
        <ion-select-option value="05">Other</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" color="medium">Email address</ion-label>
      <ion-input type="email" value="" email="true"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-icon name="alert-circle-outline" color="danger" slot="start"></ion-icon>
      <ion-text class="text-smallest" color="medium">
        Your email address must be verified in order to start using AerPass with this Identity.
      </ion-text>
    </ion-item>
  </ion-list>

</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button expand="block" class="pad15 ion-margin-bottom" routerLink="/view-id-list">
      Save Identity
    </ion-button>
  </ion-toolbar>
</ion-footer>
