<ion-header translucent="true" class="ion-no-border">
  <ion-toolbar>
    <ion-avatar slot="start" class="profile-pic-toolbar ion-margin-start" routerLink="/profile-select">
      <img src="/assets/jess-taylor-profile.jpg" alt="" />
    </ion-avatar>
    <ion-title>Chats</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" fill="clear">
        <ion-icon name="camera" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="brand" class="outline" routerLink="/connected-accounts" routerDirection="root">
      <ion-icon name="add" color="black" class="icon-larger"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-toolbar class="ion-margin-top">
    <ion-searchbar value="Search"></ion-searchbar>
  </ion-toolbar>
  <ion-list>
    <ion-item routerLink="/chat-detail" detail="false">
      <ion-avatar slot="start">
        <img src="/assets/profile-morgan.png">
      </ion-avatar>
      <ion-label>
        <strong>David Morgan</strong>
        <div class="field-label important">The Rapide values sank without trace, but that noise!</div>
        <div class="field-label">You reacted ;) to "The Rapide values sank without trace, but that noise!"</div>
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <div class="field-label">8:30 PM</div>
        <ion-icon class="icon-small" name="star" color="medium"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/profile-zen.png">
      </ion-avatar>
      <ion-label>
          <strong>Daniel Zen</strong>
        <div class="field-label important">Ok, I sent them the examples & my feedback...</div>
        <div class="field-label">You reacted :) to "Ok, I sent them the examples & my feedback"</div>
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <div class="field-label">7:45 PM</div>
        <ion-icon class="icon-small" name="star" color="medium"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item>
        <ion-avatar slot="start">
            <img src="/assets/profile-taylor.png">
        </ion-avatar>
        <ion-label>
            <strong>Jess Taylor</strong>
            <div class="field-label important">I sent the video to Nancy...</div>
            <div class="field-label">She's onboard, haha!</div>
        </ion-label>
        <ion-note slot="end" class="ion-text-end">
            <div class="field-label">7:30 PM</div>
            <ion-icon class="icon-small" name="star" color="medium"></ion-icon>
        </ion-note>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/profile-rose-morgan.jpg">
      </ion-avatar>
      <ion-label>
          <strong>Rose Morgan</strong>
        <div class="field-label important">How do we feel about sharing vids with new people?</div>
        <div class="field-label">Asking for a friend who is over all the catfish.</div>
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <div class="field-label">7:29 PM</div>
        <ion-icon class="icon-small" name="star-outline" color="light"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/profile-prognostichat.jpg">
      </ion-avatar>
      <ion-label>
        <strong>Prognostichat</strong>
        <div class="field-label">Here's my recent take on AI:</div>
        <div class="field-label">Google has said that there isn't enough energy to run their AI.</div>
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <div class="field-label">7:29 PM</div>
        <ion-icon class="icon-small" name="star-outline" color="light"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/profile-donnell.jpg">
      </ion-avatar>
      <ion-label>
          <strong>Mike Donnell</strong>
        <div class="field-label">This looks great! I really like slide 14.</div>
        <div class="field-label">Did you also update slide 18?</div>
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <div class="field-label">7:20 PM</div>
        <ion-icon class="icon-small" name="star-outline" color="medium"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/profile-lozupone.jpg">
      </ion-avatar>
      <ion-label>
          <strong>Nancy Lozupone</strong>
        <div class="field-label">Since u wake up first, call chop in the morning</div>
        <div class="field-label">I emailed you their number. They open at 8.</div>
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <div class="field-label">7:15 PM</div>
        <ion-icon class="icon-small" name="star-outline" color="medium"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/profile-doughnut.jpg">
      </ion-avatar>
      <ion-label>
          <strong>Sack Lunch Bunch</strong>
        <div class="field-label">We're meeting at Moe's Bagels tomorrow at 10:00.</div>
        <div class="field-label">New starting point for our ride.</div>
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <div class="field-label">7:00 PM</div>
        <ion-icon class="icon-small" name="star-outline" color="medium"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/profile-liza.jpg">
      </ion-avatar>
      <ion-label>
          <strong>Eliza Spear</strong>
        <div class="field-label">Thrifted this week - instant serotonin boost.</div>
        <div class="field-label">Looks like Winona Ryder at the end of Heathers.</div>
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <div class="field-label">6:55 PM</div>
        <ion-icon class="icon-small" name="star-outline" color="medium"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/profile-hanks.jpg">
      </ion-avatar>
      <ion-label>
          <strong>Big Weekend Upstate</strong>
        <div class="field-label">We should start a new chat for that,</div>
        <div class="field-label">Make sure we are not bugging folks on this chat...</div>
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <div class="field-label">6:45 PM</div>
        <ion-icon class="icon-small" name="star-outline" color="medium"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/profile-boardman.jpg">
      </ion-avatar>
      <ion-label>
          <strong>Matt Boardman</strong>
        <div class="field-label">I've got reentry that evening so 7 is a little late for me.</div>
        <div class="field-label">I spent too much while Michelle was in town, you know how it is.</div>
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <div class="field-label">6:40 PM</div>
        <ion-icon class="icon-small" name="star-outline" color="medium"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/jess-taylor-profile.jpg">
      </ion-avatar>
      <ion-label>
          <strong>Cherry Taylor</strong>
        <div class="field-label">Introduction to a new contact at Compliance Partner.</div>
        <div class="field-label">Heya, I hope you are well. I would like to introduce you.</div>
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <div class="field-label">6:35 PM</div>
        <ion-icon class="icon-small" name="star-outline" color="medium"></ion-icon>
      </ion-note>
    </ion-item>
  </ion-list>
</ion-content>

<ion-tab-bar translucent="true" slot="bottom">
  <ion-tab-button routerLink="/calendar" routerDirection="root">
    <ion-icon src="/assets/home-off.svg"></ion-icon>
    <ion-label color="medium">Home</ion-label>
  </ion-tab-button>
  <ion-tab-button routerLink="/chat-list" routerDirection="root">
    <ion-label color="dark">Chats</ion-label>
    <ion-icon src="/assets/chatbubble-on.svg"></ion-icon>
  </ion-tab-button>
    <!--<ion-tab-button routerLink="/connected-accounts" routerDirection="root">
        <ion-label color="medium">Calls</ion-label>
        <ion-icon name="call" color="medium"></ion-icon>
    </ion-tab-button>-->
   <ion-tab-button routerLink="/chat-list-group" routerDirection="root">
        <ion-label color="medium">Communities</ion-label>
        <ion-icon src="/assets/earth-off.svg"></ion-icon>
    </ion-tab-button>
    <ion-tab-button routerLink="/channel-list" routerDirection="root">
        <ion-label color="medium">Feeds</ion-label>
        <ion-icon src="/assets/radio-off.svg"></ion-icon>
    </ion-tab-button>
  <ion-tab-button routerLink="/profile-home" routerDirection="root">
    <ion-label color="medium">Settings</ion-label>
    <ion-icon src="/assets/settings-off.svg"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>
