<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <a href="https://aerpass.com">
    <ion-img src="/assets/aerpass-blue.svg" class="pad15"></ion-img>
  </a>
  <ion-row class="text-small ion-justify-content-center">
    &nbsp;&nbsp;<br/>Password-free Secure ID
  </ion-row>
  <ion-row class="text-small ion-justify-content-center">
    <a href="https://aerpass.com">AerPass.com</a>
  </ion-row>

  <div class="hv-center">
    <ion-row class="pad10 ion-text-left">
      AerPass is the world's most secure identity authentication system, eliminating passwords for safe, easy logins. Our unique Multi-Party
      Authentication technology eliminates password management costs and guarantees your security and privacy.
    </ion-row>
  </div>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar color="transparent">
    <ion-row class="ion-justify-content-center">
      Android & iOS App Developed by:
    </ion-row>
    <a href="https://zen.digital">
      <ion-img src="/assets/zd-wordmark-logo.svg" class="pad15"></ion-img>
    </a>

    <ion-button expand="block" class="pad15">
      <ion-back-button text="Back" defaultHref="home" color="light">
      </ion-back-button>
    </ion-button>
  </ion-toolbar>
</ion-footer>
