<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home-scanner"></ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <a href="https://aerpass.com">
    <ion-img src="/assets/aerpass-blue.svg" class="ion-margin-top pad15"></ion-img>
  </a>
  <ion-row class="text-smaller ion-justify-content-center ion-padding-top">
    ONE PERSON | ONE IDENTITY
  </ion-row>
  <ion-row class="pad5 ion-text-justify"><ion-text>&nbsp;<br/>&nbsp;</ion-text></ion-row>
  <ion-row class="pad5 ion-text-justify">
    <p>Your identity is your key to everything.</p>
    <p>Your identity belongs to you alone.</p>
    <p>AerPass makes it simple to be you while keeping your sensitive personal identity information safely under your control.</p>
    <p>AerPass is the world's most advanced identity authentication system, designed to protect your privacy at all times. AerPass will never share your data with anyone without your direct consent.</p>
  </ion-row>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar color="transparent">
    <ion-row class="ion-justify-content-center">
      Android & iOS App Developed by:
    </ion-row>
    <a href="https://zen.digital">
      <ion-img src="/assets/zd-wordmark-logo.svg" class="pad15"></ion-img>
    </a>

    <ion-button expand="block" class="pad15">
      <ion-back-button text="Back" defaultHref="/home-scanner" color="light">
      </ion-back-button>
    </ion-button>
  </ion-toolbar>
</ion-footer>
