<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-text class="ion-text-center">
      <ion-title class="ion-justify-content-center">
        <ion-button routerLink="/eas-profile-home" routerDirection="root" fill="clear">
          <ion-avatar class="profile-pic-toolbar">
            <img src="/assets/jonathan-hare-profile.png">
          </ion-avatar>
        </ion-button>
      </ion-title>
    </ion-text>
    <ion-buttons slot="end">
      <ion-button color="primary" routerLink="/view-notifications" routerDirection="root" fill="clear">
        <ion-icon name="notifications-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" color="dark">
  <ion-row class="v-center">
    <img src="/assets/scanner-bg.png" alt="scanner">
  </ion-row>

  <ion-row class="lower-third ion-justify-content-center">
    <ion-button expand="block" class="pad20" color="light" routerLink="/eas-safetypass-badge" routerDirection="root">
      <ion-icon src="/assets/shield-cross-outline.svg" color="safetypass"></ion-icon>
      <ion-text color="safetypass">&nbsp;&nbsp;Display SafetyPASS</ion-text>
    </ion-button>
  </ion-row>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button routerLink="/eas-id-badge" routerDirection="root">
      <ion-icon class="icon-fab" name="qr-code-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
