<ion-header>
  <ion-toolbar>
    <ion-title>aok-options</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-fab horizontal="center">
          <ion-fab-button color="dark" routerLink="/aok-options">
            <ion-icon src="/assets/aok-grn-fff.svg" class="icon-fab"></ion-icon>
          </ion-fab-button>
          <ion-label class="aer-label nudge-down-label" color="primary">Connect</ion-label>
        </ion-fab>
      </ion-col>
      <ion-col size="6">
        <ion-fab horizontal="center">
          <ion-fab-button color="dark" routerLink="/hii5-options">
            <ion-icon src="/assets/hii5-fff-111-grn.svg" class="icon-fab"></ion-icon>
          </ion-fab-button>
          <ion-label class="aer-label nudge-down-label" color="primary">Video</ion-label>
        </ion-fab>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
