<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Add Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row>
        <ion-text>&nbsp;</ion-text>
    </ion-row>
    <ion-row class="ion-padding ion-justify-content-center">
        <ion-icon src="/assets/person-add-outline-off.svg" class="icon-big"></ion-icon>
    </ion-row>
    <ion-card>
        <ion-searchbar placeholder="Find by Email"></ion-searchbar>
    </ion-card>
    <ion-toolbar>
        <ion-button expand="block" shape="round" class="pad15 ion-margin-vertical" color="brand2" routerLink="/home-scanner">
            <ion-icon name="qr-code-outline"></ion-icon>&nbsp;&nbsp;Scan QR Code
        </ion-button>
    </ion-toolbar>
    <ion-toolbar>
        <ion-button expand="block" shape="round" class="pad15 ion-margin-vertical" color="primary" routerLink="/aok-sms-example">
            <ion-icon name="paper-plane-outline"></ion-icon>&nbsp;&nbsp;Send Invitation
        </ion-button>
    </ion-toolbar>

</ion-content>
