<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/view-health-info"></ion-back-button>
    </ion-buttons>
    <ion-title>
    Health Insurance
  </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center">
    <ion-avatar class="profile-frame">
      <img src="/assets/jess-taylor-profile.jpg" class="profile-pic">
    </ion-avatar>
  </ion-row>
  <ion-text class="section-header" color="primary">Jess Taylor</ion-text>

  <ion-list>
    <ion-item>
      <ion-label>
        <div class="field-label">Provider</div>
        <ion-text color="medium">NONE</ion-text>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <div class="field-label">Member ID</div>
        <ion-text color="medium">&bull;&bull;&bull;&bull;</ion-text>
      </ion-label>
      <ion-label slot="end" class="ion-text-end">
        <div class="field-label">Verified</div>
        <ion-icon name="checkmark-circle-outline" color="light"></ion-icon>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/add-insurance">
      <ion-icon name="add-outline" class="icon-larger"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
