<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/view-hc-status"></ion-back-button>
    </ion-buttons>
    <ion-title color="safetypass">
      My SafetyPASS Status
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- The following slides are merely the options that can be returned on page load based on comparing User's current status (based on User's in-app data and settings) with the Safe Access Requirements of the event or venue ID passed on load. -->
  <ion-slides style="width: 100%">
    <ion-slide>
      <div class="ion-text-center">
        <ion-row class="ion-margin-top ion-justify-content-center">
          <ion-icon name="checkmark-done-circle" class="icon-big" color="success"></ion-icon>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-text>Clear</ion-text>
        </ion-row>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="ion-text-center">
        <ion-row class="ion-margin-top ion-justify-content-center">
          <ion-icon name="checkmark-circle" class="icon-big" color="success"></ion-icon>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-text>Clear</ion-text>
        </ion-row>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="ion-text-center">
        <ion-row class="ion-margin-top ion-justify-content-center">
          <ion-icon name="checkmark-done-circle-outline" class="icon-big" color="success"></ion-icon>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-text>Clear</ion-text>
        </ion-row>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="ion-text-center">
        <ion-row class="ion-margin-top ion-justify-content-center">
          <ion-icon name="warning" class="icon-big" color="warning"></ion-icon>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-text>See Checklist</ion-text>
        </ion-row>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="ion-text-center">
        <ion-row class="ion-margin-top ion-justify-content-center">
          <ion-icon name="help-circle" class="icon-big" color="hot"></ion-icon>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-text>Restricted</ion-text>
        </ion-row>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="ion-text-center">
        <ion-row class="ion-margin-top ion-justify-content-center">
          <ion-icon name="alert-circle" class="icon-big" color="danger"></ion-icon>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-text>Restricted</ion-text>
        </ion-row>
      </div>
    </ion-slide>
  </ion-slides>
  <ion-list>
    <ion-item>
      <ion-text class="text-smallest">The following elements are the drivers of my SafetyPASS.</ion-text>
    </ion-item>
    <ion-list-header>
      <ion-text class="text-smallest">My Vaccination Status</ion-text>
    </ion-list-header>
    <ion-item>
      <ion-icon name="checkmark-done-circle" color="success"></ion-icon>
      <ion-label class="ion-padding-start">Vaccinated</ion-label>
      <ion-checkbox slot="end" checked></ion-checkbox>
    </ion-item>
    <ion-list-header>
      <ion-text class="text-smallest">My Health Check Status</ion-text>
    </ion-list-header>
    <ion-item lines="none">
      <ion-icon name="checkmark-circle" color="success"></ion-icon>
      <ion-label class="ion-padding-start">Last Negative Virus Test</ion-label>
      <ion-note>02/02/2021</ion-note>
    </ion-item>
    <ion-item>
      <ion-icon name="checkmark-done-circle-outline" color="success"></ion-icon>
      <ion-label class="ion-padding-start">Recovered</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>
    <ion-list-header>
      <ion-text class="text-smallest">Anonymous Exposure Alerts</ion-text>
    </ion-list-header>
    <ion-item>
      <ion-icon name="alert-circle-outline"></ion-icon>
      <ion-label class="ion-padding-start">Enrolled for Alerts</ion-label>
      <ion-checkbox slot="end" checked></ion-checkbox>
    </ion-item>
    <ion-list-header>
      <ion-text class="text-smallest">Safe Paths</ion-text>
    </ion-list-header>
    <ion-item>
      <ion-icon name="heart-circle-outline"></ion-icon>
      <ion-label class="ion-padding-start">Safe Paths Active</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button expand="block" class="pad15 ion-margin-bottom">
      <ion-icon name="reload-outline"></ion-icon>
      &nbsp;&nbsp;Sync Health Data
    </ion-button>
  </ion-toolbar>
</ion-footer>
