<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Create Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <br>
    <ion-row class="ion-justify-content-center">
      <ion-icon class="icon-big" src="/assets/A-symbol.svg" color="primary"></ion-icon>
    </ion-row>
    <ion-button color="primary" size="small" fill="clear" >
      &nbsp;&nbsp;
    </ion-button>
  </div>

  <ion-list>
    <ion-item>
      <ion-label position="floating" color="medium">Display name <ion-text color="danger">*</ion-text></ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="medium">Email address <ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="email" email="true"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-icon name="alert-circle-outline" color="danger" slot="start"></ion-icon>
      <ion-text class="text-smallest" color="medium">
        Your email address must be verified in order to start using AerPass.
      </ion-text>
    </ion-item>
  </ion-list>

</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button expand="block" class="pad15 ion-margin-bottom" routerLink="/app-email-client-find">
      Create Account
    </ion-button>
    <!-- <ion-button expand="block" class="pad15 ion-margin-bottom" color="outline" routerLink="/enter-email-error">
      On Error - Recover Account
    </ion-button> -->
  </ion-toolbar>
</ion-footer>
