<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/get-started"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen="true">
  <h1>App Store</h1>
  <ion-text class="text-smaller">&nbsp;</ion-text>
  <ion-item lines="none">
    <ion-img class="app-tile" src="/assets/app-badge-mc.png" slot="start"></ion-img>
    <ion-label>
      Military Connect
      <div class="aer-label">Smart Identity<br/>Version 1.0.2</div>
    </ion-label>
    <ion-chip slot="end" color="primary" routerLink="/get-started">OPEN</ion-chip>
  </ion-item>
</ion-content>
