<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/view-health-info"></ion-back-button>
    </ion-buttons>
    <ion-title>
    Health Check
  </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center">
    <ion-avatar class="profile-frame">
      <img src="/assets/jess-taylor-profile.jpg" class="profile-pic">
    </ion-avatar>
  </ion-row>
  <ion-text class="section-header" color="primary">Jess Taylor</ion-text>

  <div class="ion-text-center">
    <ion-row class="ion-justify-content-center">
      <div class="display-qr" routerLink="/hc-status-c19positive">
        <ion-icon name="alert-circle-outline" class="display-qr" color="warning"></ion-icon>
      </div>
    </ion-row>
    <div class="pad-top3">
      <ion-text>COVID-19 Pending</ion-text><br/>
      <ion-button color="primary" size="small" fill="clear">Last test: 6/14/2020</ion-button>
    </div>
  </div>
  <div class="ion-text-center">
    <ion-row class="ion-justify-content-center">
      <ion-chip outline color="dark">
        <ion-button color="medium" size="small" fill="clear">
          <ion-label class="text-smallest">Request Status</ion-label>
        </ion-button>
        <ion-button color="light" size="small" fill="dark">
          <ion-label class="text-smallest">My Status</ion-label>
        </ion-button>
        <!-- <ion-label>Request Status</ion-label>&nbsp;|&nbsp;
        <ion-label>My Status</ion-label> -->
      </ion-chip>
    </ion-row>
    <ion-row class="ion-justify-content-evenly">
      <ion-text>&nbsp;</ion-text>
    </ion-row>
    <ion-row class="ion-justify-content-evenly">
      <ion-button shape="circle" fill="clear">
        <ion-icon name="mail-outline"></ion-icon>
      </ion-button>
      <ion-button shape="circle" fill="clear">
        <ion-icon name="share-outline"></ion-icon>
      </ion-button>
    </ion-row>
  </div>
</ion-content>
