<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/view-health-info"></ion-back-button>
    </ion-buttons>
    <ion-title color="safetypass">
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center">
    <ion-icon name="settings-outline" color="primary" class="icon-larger"></ion-icon>
  </ion-row>
  <ion-list>
    <ion-list-header>Safe Space Requirements</ion-list-header>
    <ion-item>
      <ion-text class="text-smallest">Configure the settings below to control how you want SafetyPASS to validate badges for your safe space.</ion-text>
    </ion-item>
    <ion-list-header>
      <ion-text class="text-smallest">Vaccination Status</ion-text>
    </ion-list-header>
    <ion-item>
      <ion-icon name="checkmark-done-circle" color="success"></ion-icon>
      <ion-label class="ion-padding-start">Vaccinated</ion-label>
      <ion-toggle slot="end" name="vaccinated" color="primary" checked></ion-toggle>
    </ion-item>
    <ion-item lines="none" class="ion-text-center">
      <ion-label>
        <ion-text class="text-smallest">- OR -</ion-text>
      </ion-label>
    </ion-item>
    <ion-list-header>
      <ion-text class="text-smallest">Testing Status</ion-text>
    </ion-list-header>
    <ion-item>
      <ion-icon name="checkmark-done-circle-outline" color="success"></ion-icon>
      <ion-label class="ion-padding-start">Recovered with Antibodies</ion-label>
      <ion-toggle slot="end" name="antibodies" color="primary" checked></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-icon name="checkmark-circle" color="success"></ion-icon>
      <ion-label class="ion-padding-start">Negative Virus Test</ion-label>
      <ion-toggle slot="end" name="negative" color="primary" checked></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-icon name="warning" color="warning"></ion-icon>
      <ion-label class="ion-padding-start">
        <ion-text class="text-smallest">Max age of Negative Test</ion-text>
      </ion-label>
      <ion-select slot="end" value="03">
        <ion-select-option value="01">1 Day</ion-select-option>
        <ion-select-option value="02">2 Days</ion-select-option>
        <ion-select-option value="03">3 Days</ion-select-option>
        <ion-select-option value="04">4 Days</ion-select-option>
        <ion-select-option value="05">5 Days</ion-select-option>
        <ion-select-option value="06">6 Days</ion-select-option>
        <ion-select-option value="07">7 Days</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-list-header>
      <ion-text class="text-smallest">Anonymous Exposure Alerts</ion-text>
    </ion-list-header>
    <ion-item>
      <ion-icon name="alert-circle-outline"></ion-icon>
      <ion-label class="ion-padding-start">Exposure Alerts</ion-label>
      <ion-toggle slot="end" name="exposure" color="primary" checked></ion-toggle>
    </ion-item>
    <ion-list-header>
      <ion-text class="text-smallest">Optional Safety Requirements</ion-text>
    </ion-list-header>
    <ion-item>
      <ion-icon name="compass-outline"></ion-icon>
      <ion-label class="ion-padding-start">Location Check-in</ion-label>
      <ion-toggle slot="end" name="location" color="primary"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-icon name="help-circle-outline"></ion-icon>
      <ion-label class="ion-padding-start">Symptom Questionnaire</ion-label>
      <ion-toggle slot="end" name="questionnaire" color="primary"></ion-toggle>
    </ion-item>
    <ion-item lines="none" class="ion-padding-top ion-margin-end">
      <ion-text class="text-smallest" color="medium">
        Settings apply to your safe space only. This application is not a diagnostic tool, and should not be used in contravention of local health regulations.
      </ion-text>
    </ion-item>
  </ion-list>

</ion-content>
