<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/passes-modal"></ion-back-button>
    </ion-buttons>
    <ion-title color="safetypass">
      My Safe Access Status
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <ion-row class="ion-margin-top ion-justify-content-center">
      <ion-icon name="warning" class="icon-big" color="danger"></ion-icon>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-text>Restricted</ion-text>
    </ion-row>
  </div>
  <!-- Items on this view will either be visible or not based on the Safe Access Requirements of the event or venue ID passed on load. -->
  <ion-list>
    <ion-list-header>Safe Access Requirements</ion-list-header>
    <ion-item>
      <ion-text class="text-smallest">The following requirements must be met prior to arrival in order to gain entry.</ion-text>
    </ion-item>
    <ion-list-header>
      <ion-text class="text-smallest">Vaccination Status</ion-text>
    </ion-list-header>
    <ion-item>
      <ion-icon name="checkmark-done-circle" color="success"></ion-icon>
      <ion-label class="ion-padding-start">Vaccinated</ion-label>
      <ion-icon name="ellipse-outline" color="medium" slot="end"></ion-icon>
    </ion-item>
    <ion-row class="ion-justify-content-center">
      <ion-text class="text-smallest">- OR -</ion-text>
    </ion-row>
    <ion-list-header>
      <ion-text class="text-smallest">Health Status</ion-text>
    </ion-list-header>
    <ion-item lines="none">
      <ion-icon name="checkmark-circle" color="success"></ion-icon>
      <ion-label class="ion-padding-start">Negative Virus Test</ion-label>
      <ion-note class="text-smallest" color="safetypass">Max age: 3 Days</ion-note>
      <ion-icon name="ellipse-outline" color="medium" slot="end"></ion-icon>
    </ion-item>
    <ion-row class="ion-justify-content-center">
      <ion-text class="text-smallest">- OR -</ion-text>
    </ion-row>
    <ion-item>
      <ion-icon name="checkmark-done-circle-outline" color="success"></ion-icon>
      <ion-label class="ion-padding-start">Recovered</ion-label>
      <ion-icon name="ellipse-outline" color="medium" slot="end"></ion-icon>
    </ion-item>
    <ion-row class="ion-justify-content-center">
      <ion-text class="text-smallest">- AND -</ion-text>
    </ion-row>
    <ion-list-header>
      <ion-text class="text-smallest">Location Services</ion-text>
    </ion-list-header>
    <ion-item>
      <ion-icon name="location-outline"></ion-icon>
      <ion-label class="ion-padding-start">Location Service Active</ion-label>
      <ion-toggle slot="end" name="negative" color="primary"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-button size="small" color="primary" expand="block"><ion-icon name="chevron-back-outline"></ion-icon>&nbsp;&nbsp;Back</ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button size="small" color="primary" fill="outline" expand="block"><ion-icon name="return-up-forward-outline"></ion-icon>&nbsp;&nbsp;Send</ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button size="small" color="medium" fill="outline" expand="block"><ion-icon name="repeat-outline"></ion-icon>&nbsp;&nbsp;Sell</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
