<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile-home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Personal Info
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/personal-info-edit">
        Edit
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-page">
  <ion-row class="ion-justify-content-center">
    <div class="profile">
      <ion-avatar class="profile-frame">
        <img src="/assets/jess-taylor-profile.jpg" class="profile-pic" alt="Profile Pic">
      </ion-avatar>
      <div class="btn">
        <ion-fab-button size="small" color="light" translucent="true" routerLink="/badge-app-default">
          <ion-icon name="qr-code-outline" color="black"></ion-icon>
        </ion-fab-button>
      </div>
    </div>
  </ion-row>
  <ion-text class="section-header" color="white">
    &nbsp;&nbsp;<br/>
  </ion-text>
  <ion-card>
    <ion-list>
      <ion-item color="light">
        <ion-label>
          <div class="field-label">Display name</div>
          Display Name
        </ion-label>
        <ion-icon src="/assets/centered-circle-check-oc-green.svg" slot="end" class="icon-small"></ion-icon>
      </ion-item>
      <ion-item color="light">
        <ion-label>
          <div class="field-label">Full name</div>
          First Middle Surname
        </ion-label>
        <ion-icon src="/assets/centered-circle-check-oc-green.svg" slot="end" class="icon-small"></ion-icon>
      </ion-item>
      <ion-item color="light">
        <ion-label>
          <div class="field-label">Primary email address</div>
          username@domain.com
        </ion-label>
        <ion-icon src="/assets/centered-circle-check-oc-green.svg" slot="end" class="icon-small"></ion-icon>
      </ion-item>
      <ion-item color="light">
        <ion-label>
          <div class="field-label">Mobile number</div>
          +1 (321) 456-7890
        </ion-label>
        <ion-icon src="/assets/centered-circle-check-oc-green.svg" slot="end" class="icon-small"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>
          <div class="field-label">DOB</div>
          &nbsp;&nbsp;
        </ion-label>
        <ion-icon name="alert-circle-outline" color="danger" slot="end" class="icon-small"></ion-icon>
      </ion-item>
      <ion-item routerLink="/verify-identity" detail="false">
        <ion-label color="secondary">
          <div class="field-label">IDV Source</div>
          Verify your identity
        </ion-label>
        <ion-icon name="alert-circle-outline" color="danger" slot="end" class="icon-small"></ion-icon>
      </ion-item>
      <ion-item-sliding>
        <ion-item lines="none" color="light">
          <ion-icon name="trash-outline"></ion-icon>
          <ion-label class="ion-padding-start" color="dark">
            <div class="field-label">Swipe Left to</div>
            Delete Account
          </ion-label>
          <ion-icon name="chevron-back-outline" color="medium" slot="end" class="icon-small"></ion-icon>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger" expandable routerLink="/delete-account">
            <ion-icon name="trash-outline" slot="start"></ion-icon>
            Delete Account
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-card>
</ion-content>

<ion-tab-bar slot="bottom" class="tab-blur" color="brand-grad-end">
  <ion-tab-button routerLink="/badge-mc-default" routerDirection="back">
    <ion-label>Badge</ion-label>
    <ion-icon name="qr-code-outline"></ion-icon>
  </ion-tab-button>
  <ion-tab-button routerLink="/home-scanner-milconnect" routerDirection="root">
    <ion-label>Scanner</ion-label>
    <ion-icon name="scan-outline"></ion-icon>
  </ion-tab-button>
  <!--<ion-tab-button routerLink="/wallet" routerDirection="forward">
    <ion-label color="dark">Wallet</ion-label>
    <ion-icon name="wallet-outline" color="dark"></ion-icon>
  </ion-tab-button>-->
  <ion-tab-button routerLink="/profile-home-mc" routerDirection="forward">
    <ion-label color="primary">Account</ion-label>
    <ion-icon name="person-outline" color="primary"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>
