<ion-header translucent="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile-home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Personal Info
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/personal-info-edit">
        Edit
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="utility">
  <!--<ion-row class="ion-justify-content-center">
    <div class="profile">
      <ion-avatar class="profile-frame">
        <img src="/assets/jess-taylor-profile.jpg" class="profile-pic" alt="Profile Pic">
      </ion-avatar>
      <div class="btn">
        <ion-fab-button size="small" color="light" translucent="true" routerLink="/badge-app-default">
          <ion-icon name="qr-code-outline" color="black"></ion-icon>
        </ion-fab-button>
      </div>
    </div>
  </ion-row>-->
  <ion-card>
    <ion-img src="/assets/profile-cherry.png" alt="profile pic"></ion-img>
    <ion-list>
      <ion-item color="light">
        <ion-label>
          <div class="field-label">Display name</div>
          Cherry Taylor
        </ion-label>
        <ion-icon src="/assets/centered-circle-check-oc-green.svg" slot="end" class="icon-small"></ion-icon>
      </ion-item>
      <ion-item color="light">
        <ion-label>
          <div class="field-label">Full name</div>
          Cherry Amanda Taylor
        </ion-label>
        <ion-icon src="/assets/centered-circle-check-oc-green.svg" slot="end" class="icon-small"></ion-icon>
      </ion-item>
      <ion-item color="light">
        <ion-label>
          <div class="field-label">Primary email address</div>
          username@domain.com
        </ion-label>
        <ion-icon src="/assets/centered-circle-check-oc-green.svg" slot="end" class="icon-small"></ion-icon>
      </ion-item>
      <ion-item color="light">
        <ion-label>
          <div class="field-label">Mobile number</div>
          +1 (321) 456-7890
        </ion-label>
        <ion-icon src="/assets/centered-circle-check-oc-green.svg" slot="end" class="icon-small"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>
          <div class="field-label">DOB</div>
          &nbsp;&nbsp;
        </ion-label>
        <ion-icon name="alert-circle-outline" color="danger" slot="end" class="icon-small"></ion-icon>
      </ion-item>
      <ion-item routerLink="/verify-identity" detail="false">
        <ion-label color="medium">
          <div class="field-label">IDV Source</div>
          Verify your identity
        </ion-label>
        <ion-icon name="alert-circle-outline" color="danger" slot="end" class="icon-small"></ion-icon>
      </ion-item>
      <ion-item-sliding>
        <ion-item lines="none" color="light">
          <ion-icon name="trash-outline"></ion-icon>
          <ion-label class="ion-padding-start" color="dark">
            <div class="field-label">Swipe Left to</div>
            Delete Account
          </ion-label>
          <ion-icon name="chevron-back-outline" color="medium" slot="end" class="icon-small"></ion-icon>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger" expandable routerLink="/delete-account">
            <ion-icon name="trash-outline" slot="start"></ion-icon>
            Delete Account
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-card>
</ion-content>

<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button size="small">
    <ion-icon src="/assets/OK-grn-fff.svg"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-tab-bar slot="bottom" translucent="true">
  <ion-tab-button routerLink="/channel-list" routerDirection="back">
    <ion-label color="medium">Channels</ion-label>
    <ion-icon name="at-circle-outline" color="medium"></ion-icon>
  </ion-tab-button>
  <ion-tab-button routerLink="/chat-list-group" routerDirection="back">
    <ion-label color="medium">Group Chats</ion-label>
    <ion-icon name="hardware-chip-outline" color="medium"></ion-icon>
  </ion-tab-button>
  <ion-tab-button>
    <ion-icon name="add-circle-outline"></ion-icon>
    <ion-label color="medium">New</ion-label>
  </ion-tab-button>
  <ion-tab-button routerLink="/chat-list" routerDirection="forward">
    <ion-label color="medium">1:1 Chats</ion-label>
    <ion-icon name="chatbubble-outline" color="medium"></ion-icon>
  </ion-tab-button>
  <ion-tab-button routerLink="/profile-home" routerDirection="forward">
    <ion-label color="primary">Profile</ion-label>
    <ion-icon src="/assets/person-circle-outline-okg.svg" color="black"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>
