<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/auth-payment"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Choose Address
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-page">
  <ion-row class="ion-justify-content-center">
    <ion-avatar class="profile-frame">
      <img src="/assets/jess-taylor-profile.jpg" class="profile-pic">
    </ion-avatar>
  </ion-row>
  <ion-text class="section-header" color="white">Display Name</ion-text>
  <ion-card>
    <ion-list>
      <ion-item routerLink="/auth-payment">
        <ion-label>
          <div class="field-label">Address 1</div>
          123 4th Ave Apt 5<br>New York, NY 10001 &nbsp;&nbsp;&nbsp;USA
        </ion-label>
      </ion-item>
      <ion-item routerLink="/auth-payment">
        <ion-label>
          <div class="field-label">Address 2</div>
          1001 Marshall Rd<br>Cape May, NJ 08250 &nbsp;&nbsp;&nbsp;USA
        </ion-label>
      </ion-item>
      <ion-item detail routerLink="/auth-payment">
        <ion-label>
          <div class="field-label">Address 3</div>
          55 Madison Ave<br>Miami, FL 23002 &nbsp;&nbsp;&nbsp;USA
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button routerLink="/address-add">
      <ion-icon name="add-outline" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
