<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile-home"></ion-back-button>
    </ion-buttons>
    <ion-title>Legal Agreements</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row><ion-text>&nbsp;</ion-text></ion-row>
  <ion-row class="ion-padding ion-justify-content-center">
    <ion-icon src="/assets/ok-check-fff-alpha.svg/" class="icon-big"></ion-icon>
  </ion-row>
  <ion-row class="ion-justify-content-center"><ion-text>&nbsp;</ion-text></ion-row>

  <ion-list>
    <ion-item routerLink="/terms-and-conditions">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label class="ion-padding-start">Terms & Conditions</ion-label>
    </ion-item>
    <ion-item routerLink="/privacy-policy">
      <ion-icon name="lock-closed-outline"></ion-icon>
      <ion-label class="ion-padding-start">Privacy Policy</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
