<ion-header class="ion-no-border">
  <ion-toolbar color="transparent">
    <ion-text class="ion-text-center">
      <ion-title class="ion-justify-content-center">
        <img class="brand" src="/assets/OK-grn-fff.svg">
      </ion-title>
    </ion-text>
  </ion-toolbar>
</ion-header>

<ion-content color="black" fullscreen="true">
  <div class="v-center">
    <ion-card>
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <h4>Sign in to continue</h4>
        </ion-row>
        <ion-row>
          <ion-toolbar class="pad10 ion-margin-bottom">
            <ion-button expand="block" shape="round" color="black" routerLink="/profile-home"><ion-icon name="logo-apple" color="white"></ion-icon>&nbsp;&nbsp;Sign in with Apple</ion-button>
          </ion-toolbar>
        </ion-row>
        <ion-row>
          <ion-toolbar class="pad10 ion-margin-bottom">
            <ion-button expand="block" shape="round" color="black" routerLink="/profile-home"><ion-icon src="/assets/logo-google-color.svg"></ion-icon>&nbsp;&nbsp;Sign in with Google</ion-button>
          </ion-toolbar>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <div class="ion-text-center">
            <ion-text>
              &nbsp;&nbsp;<br/>
              – OR –
              &nbsp;&nbsp;
            </ion-text>
          </div>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <h5>Sign in with Email</h5>
          <ion-text class="ion-text-center text-smallest">
            A link will be sent to your email address.
          </ion-text>
        </ion-row>
        <ion-row><ion-text>&nbsp;&nbsp;</ion-text></ion-row>
      </ion-grid>
      <ion-item class="margin5-start">
        <ion-icon name="mail" class="icon-small"></ion-icon>
        <ion-input class="ion-margin-start" type="text" placeholder="Email"></ion-input>
      </ion-item>
      <ion-row><ion-text>&nbsp;&nbsp;</ion-text></ion-row>
      <ion-toolbar class="pad10 ion-margin-bottom">
        <ion-button color="black" expand="block" shape="round" routerLink="/profile-home"><ion-icon src="/assets/ok-check-on.svg"></ion-icon>&nbsp;&nbsp;Sign in with Link</ion-button>
      </ion-toolbar>
    </ion-card>

  </div>
</ion-content>
