<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile-home"></ion-back-button>
    </ion-buttons>
    <ion-title>
    Personal Info
  </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/edit-personal-info">
        Edit
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center">
    <div class="profile">
      <ion-avatar class="profile-frame">
        <img src="/assets/jess-taylor-profile.jpg" class="profile-pic" alt="Profile Pic">
      </ion-avatar>
      <div class="btn">
        <ion-fab-button size="small" color="light" translucent="true" routerLink="/home">
          <ion-icon name="qr-code-outline" color="primary"></ion-icon>
        </ion-fab-button>
      </div>
    </div>
  </ion-row>
  <ion-text class="section-header" color="primary">
    &nbsp;&nbsp;<br/>
  </ion-text>
  <ion-list>
    <ion-item>
      <ion-label>
        <div class="field-label">Display name</div>
        Display Name
      </ion-label>
      <!--//only appears AFTER MilitaryConnect enrollment// -->
      <ion-avatar slot="end">
        <img src="/assets/star-us-army.png" alt="US Army" />
      </ion-avatar>
    </ion-item>
    <ion-item>
      <ion-label>
        <div class="field-label">Full name</div>
        First Middle Surname
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <!--<div class="field-label">Verified</div>-->
        <ion-icon name="checkmark-circle-outline" color="primary"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label>
        <div class="field-label">Primary email address</div>
        username@aerpass.com
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <!--<div class="field-label">Verified</div>-->
        <ion-icon name="checkmark-circle-outline" color="primary"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label>
        <div class="field-label">Mobile number</div>
        +1 (321) 456-7890
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <!--<div class="field-label">Verified</div>-->
        <ion-icon name="checkmark-circle-outline" color="primary"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label>
        <div class="field-label">DOB</div>
        09/17/1972
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <!--<div class="field-label">Verified</div>-->
        <ion-icon name="checkmark-circle-outline" color="primary"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item><!--//only appears AFTER MilitaryConnect enrollment// -->
      <ion-label>
        <div class="field-label">Military Service</div>
        US Army
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <!--<div class="field-label">Verified</div>-->
        <ion-icon name="checkmark-circle-outline" color="primary"></ion-icon>
      </ion-note>
    </ion-item>
    <!--<ion-item routerLink="/verify-identity">
      <ion-icon name="alert-circle-outline" color="danger"></ion-icon>
      <ion-text class="ion-padding-start text-smallest" color="medium">
        Your AerPass Vault requires ID verification.<br/>
        Please verify ID to access Vault services.
      </ion-text>
    </ion-item>-->
    <ion-item-sliding>
      <ion-item detail>
        <ion-label color="dark">
          <div class="field-label">Swipe Right to</div>
          Delete Profile
        </ion-label>
        <ion-label slot="end" class="ion-text-end">
        </ion-label>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option color="danger" expandable routerLink="/delete-account">
          <ion-icon name="trash-outline" slot="start"></ion-icon>
          Delete Profile
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item lines="none">
      <ion-label class="ion-padding-start">
        <div class="field-label">&nbsp;&nbsp;</div>
        &nbsp;&nbsp;<br/>
        &nbsp;&nbsp;
      </ion-label>
    </ion-item>
  </ion-list>

  <!--<ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add-outline" size="large"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="milconnect">
        <ion-icon src="/assets/links-mark.svg" color="light"></ion-icon>
      </ion-fab-button>
      <ion-label class="aer-label" color="primary">Military</ion-label>
      <ion-fab-button color="light" routerLink="/add-card">
        <ion-icon name="card-outline" color="primary"></ion-icon>
      </ion-fab-button>
      <ion-label class="aer-label" color="primary">Add Code</ion-label>
    </ion-fab-list>
  </ion-fab>-->

</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button expand="block" class="pad15 ion-margin-bottom" fill="outline" routerLink="/profile-home">
      Done
    </ion-button>
  </ion-toolbar>
</ion-footer>
