<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/profile-home" routerDirection="back">
        <ion-icon name="arrow-back-outline" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Jess Taylor</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/edit-personal-info">
        <ion-icon name="pencil-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <ion-row class="ion-justify-content-center">
      <ion-avatar class="profile-frame">
        <img src="/assets/jess-taylor-profile.jpg" class="profile-pic">
      </ion-avatar>
    </ion-row>
    <div class="pad-top3">
      <ion-text class="section-header" color="primary">Personal Information</ion-text>
    </div>
  </div>

  <ion-list>
    <ion-item>
      <ion-label>
        <h3 class="field-label">Profile name</h3>
        <H2>Jess Taylor</H2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3 class="field-label">Full name</h3>
        <H2>Jesse Daniel Taylor</H2>
      </ion-label>
      <ion-note slot="end" align="right">
        Verified<br>
        <ion-icon name="checkmark-circle-outline" color="success"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3 class="field-label">Email address</h3>
        <H2>jess@aerpass.com</H2>
      </ion-label>
      <ion-note slot="end" align="right">
        Verified<br>
        <ion-icon name="checkmark-circle-outline" color="success"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3 class="field-label">Mobile number</h3>
        <H2>+1 (631) 697-8856</H2>
      </ion-label>
    </ion-item>
    <ion-item detail routerLink="/view-address-list">
      <ion-label>
        <h3 class="field-label">Addresses</h3>
        <H2>197 2nd Ave Floor 5<br>New York, NY 10003 &nbsp;&nbsp;&nbsp;USA</H2>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
