<ion-header class="ion-no-border">
  <ion-toolbar color="transparent">
    <ion-text class="ion-text-center">
      <ion-title class="ion-justify-content-center">
        <img class="brand" src="/assets/aerpass-blue.svg">
      </ion-title>
    </ion-text>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-page" fullscreen="true">
  <div class="v-center">
    <div class="pad10 ion-margin-bottom">
      <h1 class="white">Verify Your Identity</h1>
    </div>
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-button size="medium" color="secondary" expand="block" routerLink="/personal-info-edit"><ion-icon name="logo-facebook"></ion-icon>&nbsp;&nbsp;Facebook</ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button size="medium" color="cancel" expand="block" routerLink="/personal-info-edit"><ion-icon name="logo-google"></ion-icon>&nbsp;&nbsp;Google</ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <div class="ion-text-center">
            <ion-text>
              &nbsp;&nbsp;<br/>
              – OR –
              &nbsp;&nbsp;
            </ion-text>
          </div>
        </ion-row>
        <ion-row>
          <div class="ion-padding ion-text-center">
            <h4>Send identity verification code</h4>
            <ion-text class="text-smallest">
              An identity verification code will be sent to the email address you provide. Your mobile carrier's data rates may apply.
            </ion-text>
          </div>
        </ion-row>
        <ion-row><ion-text>&nbsp;&nbsp;</ion-text></ion-row>
      </ion-grid>
      <ion-item>
        <ion-icon name="mail" class="icon-small"></ion-icon>
        <ion-input class="ion-margin-start" type="text" placeholder="Email"></ion-input>
      </ion-item>
      <ion-row><ion-text>&nbsp;&nbsp;</ion-text></ion-row>
      <ion-toolbar class="pad20 ion-margin-bottom">
        <ion-button color="milconnect" expand="block" routerLink="/user-email-verify">Get Code</ion-button>
      </ion-toolbar>
    </ion-card>

  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-row class="ion-justify-content-center">
    <ion-icon name="shield-checkmark-outline" class="icon-small" color="white"></ion-icon>
    <ion-text class="text-smallest" color="white">
      &nbsp;&nbsp;Verified Service
    </ion-text>
  </ion-row>
</ion-footer>
