<ion-header class="ion-no-border">
  <ion-toolbar color="transparent">
    <ion-text class="ion-text-center">
      <ion-title class="ion-justify-content-center">
        <img class="brand" src="/assets/OK-grn-fff.svg">
      </ion-title>
    </ion-text>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" fullscreen="true">
  <div class="v-center">
    <ion-card>
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <h4>Sign in to continue</h4>
        </ion-row>
        <ion-row>
          <ion-toolbar class="pad10 ion-margin-bottom">
            <ion-button expand="block" shape="round" color="dark" routerLink="/personal-info-edit"><ion-icon name="logo-apple" color="white"></ion-icon>&nbsp;&nbsp;Sign in with Apple</ion-button>
          </ion-toolbar>
        </ion-row>
        <ion-row>
          <ion-toolbar class="pad10 ion-margin-bottom">
            <ion-button expand="block" shape="round" color="dark" fill="outline" routerLink="/personal-info-edit"><ion-icon src="/assets/logo-google-color.svg"></ion-icon>&nbsp;&nbsp;Sign in with Google</ion-button>
          </ion-toolbar>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <div class="ion-text-center">
            <ion-text>
              &nbsp;&nbsp;<br/>
              – OR –
              &nbsp;&nbsp;
            </ion-text>
          </div>
        </ion-row>
        <ion-row>
          <div class="pad10 ion-text-center">
            <h5>Email verification code</h5>
            <ion-text class="text-smallest">
              A verification code will be sent to the email address you provide.
            </ion-text>
          </div>
        </ion-row>
        <ion-row><ion-text>&nbsp;&nbsp;</ion-text></ion-row>
      </ion-grid>
      <ion-item class="margin5-start">
        <ion-icon name="mail" class="icon-small"></ion-icon>
        <ion-input class="ion-margin-start" type="text" placeholder="Email"></ion-input>
      </ion-item>
      <ion-row><ion-text>&nbsp;&nbsp;</ion-text></ion-row>
      <ion-toolbar class="pad10 ion-margin-bottom">
        <ion-button color="dark" expand="block" shape="round" routerLink="/personal-info-edit">Get Code</ion-button>
      </ion-toolbar>
    </ion-card>

  </div>
</ion-content>
