<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Payment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="auth-page">
  <div class="upper-third ion-text-center">
    <ion-icon src="/assets/A-symbol-blue.svg" class="icon-bigger"></ion-icon>
  </div>
  <div class="v-center">
    <ion-item lines="none" color="transparent" class="ion-align-items-baseline dark-gradient">
      <ion-avatar class="merchant-logo">
        <img src="/assets/aerpass-merchant-logo.png" alt="Merchant Logo">
      </ion-avatar>
      <ion-label class="ion-padding-start" color="white">
        AerPass
        <div class="address-label">
          1905 15th St #1287<br/>
          Boulder, CO 80302 &nbsp;&nbsp;USA
        </div>
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        &nbsp;&nbsp;
        <div class="address-label">
          720.306.5058<br/>
          aerpass.com
        </div>
      </ion-note>
    </ion-item>
    <ion-item detail>
      <ion-label>Amount</ion-label>
      <ion-label slot="end" class="ion-text-end">$25.00</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked" style="margin-bottom: 1vw">Method</ion-label>

      <ion-slides style="width: 100%">

        <ion-slide>
          <div class="method">
            <div class="card-top ion-padding-top ion-justify-content-center">
              <ion-icon src="/assets/A-symbol-blue.svg" class="icon-big"></ion-icon>
            </div>
            <ion-item lines="none" color="transparent" class="card-size">
              <ion-avatar>
                <img src="/assets/wellsfargo.png" alt="Merchant">
              </ion-avatar>
              <ion-label class="ion-padding-start" color="light">Wells Fargo &bull;&bull;&bull;&bull; 1111</ion-label>
            </ion-item>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="method"
               style="background: url(/assets/visa.svg) no-repeat center; background-size: contain;">
            <div class="card-top"></div>
            <ion-item lines="none" color="transparent" class="card-size">
              <ion-avatar>
                <img src="/assets/chase.png" alt="Merchant">
              </ion-avatar>
              <ion-label class="ion-padding-start" color="light">
                Visa &bull;&bull;&bull;&bull; 0331
              </ion-label>
            </ion-item>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="method"
               style="background: url(/assets/mastercard.svg) no-repeat center; background-size: contain;">
            <div class="card-top"></div>
            <ion-item lines="none" color="transparent" class="card-size">
              <ion-avatar>
                <img src="/assets/citi.png" alt="Merchant">
              </ion-avatar>
              <ion-label class="ion-padding-start" color="light">
                MasterCard &bull;&bull;&bull;&bull; 6789
              </ion-label>
            </ion-item>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="method"
               style="background: url(/assets/amex.svg) no-repeat center; background-size: contain;">
            <div class="card-top"></div>
            <ion-item lines="none" color="transparent" class="card-size">
              <ion-label class="ion-padding-start" color="light">
                American Express &bull;&bull;&bull;&bull; 6789
              </ion-label>
            </ion-item>
          </div>
        </ion-slide>

      </ion-slides>

    </ion-item>
    <!-- Set pay-account-auth img url var in app.scss to "aerpass-card.png" for bank payment type, and "cardbrand.svg" for card payment type -->
    <!-- Avatar Options: "/aerpass-merchant-logo.png" or "bank-logo.png" or "null"-->
    <!-- Label Options: "AerPass Direct" or "BankName &bull;&bull;&bull;&bull; 0331" -->
    <!-- <ion-img src="/assets/card-trans.png" alt="default" class="pad10 pay-account-auth"></ion-img> -->
    <ion-item detail routerLink="/choose-address">
      <ion-label>
        <div class="field-label">Shipping Address</div>
        123 4th Ave Apt 5<br>New York, NY 10001&nbsp;&nbsp;&nbsp;USA
      </ion-label>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-fab horizontal="center">
            <ion-fab-button color="success" routerLink="/payment-success">
              <ion-icon name="checkmark-sharp" class="icon-fab"></ion-icon>
            </ion-fab-button>
            <ion-label class="aer-label" color="white">Authorize</ion-label>
          </ion-fab>
        </ion-col>
        <ion-col size="6">
          <ion-fab horizontal="center">
            <ion-fab-button color="cancel" routerLink="/home-scanner" routerDirection="back">
              <ion-icon name="close" class="icon-fab"></ion-icon>
            </ion-fab-button>
            <ion-label class="aer-label" color="white">Cancel</ion-label>
          </ion-fab>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-row class="ion-justify-content-center">
    <ion-icon name="shield-checkmark-outline" class="icon-larger" color="primary"></ion-icon>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-text class="text-smallest" color="white">
      Verified Merchant
    </ion-text>
  </ion-row>
</ion-footer>
