$card-width: 85vw;
$card-height: 55vw;

.method {
  background: url(/assets/aerpass-card.png) no-repeat center;
  background-size: contain;
  width: $card-width;
  height: $card-height;
  padding: 0 5vw 0 5vw;
}

.card-size {
  width: $card-width;
  height: $card-height;
}

.card-top {
  height: $card-height - 12vw;
}
