<ion-header class="ion-no-border">
  <ion-toolbar color="transparent">
    <ion-title>Connect to</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="auth-page">
  <ion-row class="ion-justify-content-center">
    <img src="/assets/logo-spotify.svg" class="partner-logo" alt="Spotify" />
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-text class="ion-margin-bottom ion-text-center" color="white">
      <b>Sign in</b>
    </ion-text>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-avatar class="profile-frame-home" routerLink="/auth-login-brand">
      <img src="/assets/Spotify_icon-inner.svg" class="profile-pic-home" alt="Profile Pic">
    </ion-avatar>
  </ion-row>
  <ion-row class="ion-margin-bottom ion-justify-content-center">
    <ion-item lines="none" color="transparent">
      <ion-text class="text-small ion-text-center" color="white">
        <br/>Use Spotify app to continue
      </ion-text>
    </ion-item>
  </ion-row>


</ion-content>

<ion-footer class="ion-no-border">
  <ion-row class="ion-margin-bottom ion-justify-content-center">
    <ion-item lines="none" color="transparent">
      <ion-text class="pad5 text-smallest" color="white">
        Share my display name, email address, language preference, and picture with Spotify.
      </ion-text>
    </ion-item>
  </ion-row>
  <!--
    <ion-icon name="shield-checkmark-outline" class="icon-small" color="white"></ion-icon>
    <ion-text class="text-smallest" color="white">
      &nbsp;&nbsp;Verified Service
    </ion-text>
  </ion-row>-->
</ion-footer>
