<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="milconnect2"></ion-menu-button>
    </ion-buttons>
    <ion-text class="ion-text-center">
      <ion-title class="ion-justify-content-center">
        <ion-button routerLink="/profile-home-mc" routerDirection="root" fill="clear">
          <ion-avatar class="profile-pic-toolbar">
            <img src="/assets/jess-taylor-profile.jpg" alt="">
          </ion-avatar>
        </ion-button>
      </ion-title>
    </ion-text>
    <ion-buttons slot="end">
      <ion-button color="milconnect2" routerLink="/settings" routerDirection="root" fill="clear">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-row class="v-center">
    <img src="/assets/scanner-circle-mc.svg" alt="scanner">
  </ion-row>

  <ion-text color="white" class="upper-third ion-text-center text-smaller">
    Scan Military Connect QR codes for password-free logins, to safely pay at verified merchants, and more...
  </ion-text>

  <div class="v-center">
    <ion-slides style="width: 100%">
      <ion-slide>
        <div class="ion-text-center">
          <ion-row class="ion-justify-content-center">
            <div class="display-qr">
              <img src="/assets/qr-get-mc-circle-sq.png" routerLink="/auth-login-mc" alt="" />
            </div>
          </ion-row>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="ion-text-center">
          <ion-row class="ion-justify-content-center">
            <div class="display-qr">
              <img src="/assets/qr-get-mc-circle-sq.png" routerLink="/auth-payment" alt="" />
            </div>
          </ion-row>
        </div>
      </ion-slide>

    </ion-slides>
  </div>

  <div class="lower-third ion-justify-content-center">
    <!-- <ion-row class="ion-justify-content-center">
      <ion-text class="text-smaller ion-text-center" color="white">
        Scan&nbsp;&nbsp;<ion-icon src="/assets/links-mark.svg" class="icon-small nudge-down" color="white"></ion-icon>&nbsp;&nbsp;Code
      </ion-text>
    </ion-row> -->
    <ion-row class="ion-margin-vertical ion-justify-content-center">
      <ion-fab-button color="milconnect2" routerLink="/browser-mildeals">
        <ion-icon src="/assets/links-mark.svg" color="white" class="icon-fab"></ion-icon>
      </ion-fab-button>
    </ion-row>
  </div>

</ion-content>

<ion-tab-bar slot="bottom" class="tab-blur">
  <ion-tab-button routerLink="/badge-mc-default" routerDirection="back">
    <ion-label color="white">Badge</ion-label>
    <ion-icon name="qr-code-outline" color="white"></ion-icon>
  </ion-tab-button>
  <ion-tab-button routerLink="/home-scanner-mc" routerDirection="root">
    <ion-label color="milconnect2">Scanner</ion-label>
    <ion-icon name="scan-outline" color="milconnect2"></ion-icon>
  </ion-tab-button>
  <!--<ion-tab-button routerLink="/passes-modal" routerDirection="forward">
    <ion-label color="primary">Wallet</ion-label>
    <ion-icon name="wallet-outline" color="primary"></ion-icon>
  </ion-tab-button>-->
  <ion-tab-button routerLink="/profile-home-mc" routerDirection="forward">
    <ion-label color="white">Account</ion-label>
    <ion-icon name="person-outline" color="white"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>
