<ion-content color="milconnect2">
  <div class="v-center">
    <ion-row class="ion-justify-content-center">
      <ion-img src="/assets/logo-mc-white.svg" class="pad15"></ion-img>
    </ion-row>
    <ion-row class="text-smaller ion-justify-content-center ion-padding-top">
      &nbsp;&nbsp;
    </ion-row>
    <ion-row>
      <ion-slides pager="true" style='height: 100%;'>
        <ion-slide>
          <ion-grid>
            <ion-row class="pad20">
              <ion-text class="text">&nbsp;&nbsp;</ion-text>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-text class="text">
                Welcome!<br><br>
                Let's get started
              </ion-text>
            </ion-row>
          </ion-grid>
        </ion-slide>
        <ion-slide>
          <ion-grid>
            <ion-row class="text-small ion-text-justify pad15">
              The secure Smart ID that
              eliminates usernames and
              passwords, making it easy
              to login safely, everywhere
              Military Connect powered
              by AerPass is available.
            </ion-row>
          </ion-grid>
        </ion-slide>
        <ion-slide class="text-small">
          <ion-grid>
            <ion-row class="ion-justify-content-center">
              <ion-text class="text-smaller"><h3>User-Controlled Identity</h3></ion-text>
            </ion-row>
            <ion-row class="ion-text-left pad10">
              <ul class="text-smaller">
                <li>No usernames or passwords.</li>
                <li>You control what you share.</li>
                <li>No sensitive information is ever stored on your device.</li>
                <li>Access to Military Connect is linked to your device biometrics so only you can use it.</li>
              </ul>
            </ion-row>
            <ion-row><ion-text class="text">&nbsp;&nbsp;</ion-text></ion-row>
          </ion-grid>
        </ion-slide>
      </ion-slides>
    </ion-row>
    <ion-row class="ion-justify-content-center">&nbsp;&nbsp;</ion-row>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-fab horizontal="center">
            <ion-fab-button color="white" routerLink="/biometrics">
              <ion-icon name="person-outline" class="icon-fab" color="milconnect2"></ion-icon>
            </ion-fab-button>
            <ion-label class="aer-label" color="white">Create<br/>Account</ion-label>
          </ion-fab>
        </ion-col>
        <ion-col size="6">
          <ion-fab horizontal="center">
            <ion-fab-button color="mcgray" routerLink="/biometrics" routerDirection="back">
              <ion-icon name="phone-portrait-outline" class="icon-fab" color="milconnect"></ion-icon>
            </ion-fab-button>
            <ion-label class="aer-label" color="white">Connect<br/>Device</ion-label>
          </ion-fab>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
