ion-content {
  --overflow: hidden;
}

ion-icon {
  --ion-color-light: white;
}

ion-slides {
  --bullet-background: white;
  --bullet-background-active: white;
}

li:not(:last-child) {
  margin-bottom: .5em;
}

.auth-page {
  --background: linear-gradient(120deg, rgba(73,53,106,1) 5%, rgba(118,21,198,1) 95%);
}
