ion-content {
  --overflow: hidden;
}

ion-icon {
  --ion-color-light: white;
}

ion-slides {
  --bullet-background: var(--ion-color-milconnect2);
  --bullet-background-active: var(--ion-color-milconnect2);
}

li:not(:last-child) {
  margin-bottom: .5em;
}
