<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title color="white">Face ID Scan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-row class="v-center">
    <img src="/assets/id-scan-selfie.png" alt="Scan ID" routerLink="/verify-service-mc">
  </ion-row>
  <div class="lower-third ion-justify-content-center">
    <ion-row class="ion-margin-vertical ion-justify-content-center">
      <ion-fab-button color="medium" routerLink="/verify-id-doc-scan" routerDirection="back">
        <ion-icon name="close"></ion-icon>
      </ion-fab-button>
    </ion-row>
  </div>
</ion-content>
