<ion-header translucent="true" class="ion-no-border">
  <ion-toolbar>
    <ion-avatar slot="start" class="profile-pic-toolbar ion-margin-start" routerLink="/profile-home">
      <img src="/assets/jess-taylor-profile.jpg" alt="" />
    </ion-avatar>
    <ion-title>Contacts</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="" routerDirection="root" fill="clear">
        <ion-icon name="camera" color="primary"></ion-icon>
      </ion-button>
      <ion-button color="primary" routerLink="/connected-accounts" routerDirection="root" fill="clear">
        <ion-icon name="add-circle" class="icon-fab" color="true"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" color="utility">
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="dark" class="outline" routerLink="/ok-bottom-sheet" routerDirection="root">
      <ion-icon src="/assets/OK-grn-fff.svg" class="icon-fab"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-card>
    <ion-searchbar placeholder="Search Contacts"></ion-searchbar>
  </ion-card>
  <ion-card>
    <ion-list>
      <ion-list-header>Pinned</ion-list-header>
      <ion-item routerLink="/web-partner1-destination">
        <ion-img class="partner-app-icon" src="/assets/ca-spotify.png" alt=""></ion-img>
        <ion-label class="ion-padding-start">Spotify</ion-label>
      </ion-item>
      <ion-item routerLink="/personal-info">
        <ion-img class="partner-app-icon" src="/assets/ca-facebook.png" alt=""></ion-img>
        <ion-label class="ion-padding-start">Facebook</ion-label>
      </ion-item>
      <ion-item routerLink="/personal-info">
        <ion-img class="partner-app-icon" src="/assets/ca-instagram.png" alt=""></ion-img>
        <ion-label class="ion-padding-start">Instagram</ion-label>
      </ion-item>
      <ion-item routerLink="/personal-info">
        <ion-img class="partner-app-icon" src="/assets/ca-signal.png" alt=""></ion-img>
        <ion-label class="ion-padding-start">Signal</ion-label>
      </ion-item>
      <ion-item routerLink="/personal-info">
        <ion-img class="partner-app-icon" src="/assets/ca-slack.png" alt=""></ion-img>
        <ion-label class="ion-padding-start">Slack</ion-label>
      </ion-item>
      <ion-item routerLink="/personal-info">
        <ion-img class="partner-app-icon" src="/assets/ca-twitter.png" alt=""></ion-img>
        <ion-label class="ion-padding-start">Twitter</ion-label>
      </ion-item>
      <ion-item routerLink="/personal-info" lines="none">
        <ion-img class="partner-app-icon" src="/assets/ca-whatsapp.png" alt=""></ion-img>
        <ion-label class="ion-padding-start">WhatsApp</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card>
    <ion-list>
      <ion-list-header>Active Channels</ion-list-header>
      <ion-item detail routerLink="/personal-info">
        <ion-img class="partner-app-icon" src="/assets/ca-1800flowers.png" alt=""></ion-img>
        <ion-label class="ion-padding-start">1800 Flowers</ion-label>
      </ion-item>
      <ion-item detail routerLink="/personal-info">
        <ion-img class="partner-app-icon" src="/assets/ca-amazon.png" alt=""></ion-img>
        <ion-label class="ion-padding-start">Amazon</ion-label>
      </ion-item>
      <ion-item detail routerLink="/personal-info">
        <ion-img class="partner-app-icon" src="/assets/ca-bestbuy.png" alt=""></ion-img>
        <ion-label class="ion-padding-start">Best Buy</ion-label>
      </ion-item>
      <ion-item detail routerLink="/personal-info">
        <ion-img class="partner-app-icon" src="/assets/ca-costco.png" alt=""></ion-img>
        <ion-label class="ion-padding-start">Costco</ion-label>
      </ion-item>
      <ion-item detail routerLink="/personal-info">
        <ion-img class="partner-app-icon" src="/assets/ca-rakuten.png" alt=""></ion-img>
        <ion-label class="ion-padding-start">Rakuten</ion-label>
      </ion-item>
      <ion-item detail routerLink="/personal-info">
        <ion-img class="partner-app-icon" src="/assets/ca-target.png" alt=""></ion-img>
        <ion-label class="ion-padding-start">Target</ion-label>
      </ion-item>
      <ion-item detail routerLink="/personal-info" lines="none">
        <ion-img class="partner-app-icon" src="/assets/ca-walmart.png" alt=""></ion-img>
        <ion-label class="ion-padding-start">Walmart</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card>
    <ion-list>
      <ion-item detail routerLink="/browser-ap-members">
        <ion-icon name="logo-electron"></ion-icon>
        <ion-label class="ion-padding-start">Connected Accounts</ion-label>
      </ion-item>
      <ion-item detail routerLink="/browser-ap-members" color="medium">
        <ion-icon src="/assets/centered-circle-check-oc-green.svg" color="primary"></ion-icon>
        <ion-label class="ion-padding-start" color="primary">Member Services</ion-label>
      </ion-item>
      <ion-item-divider color="light"></ion-item-divider>
      <ion-item detail routerLink="/settings">
        <ion-icon name="phone-portrait-outline"></ion-icon>
        <ion-label class="ion-padding-start">Devices</ion-label>
      </ion-item>
      <ion-item detail routerLink="/settings-security">
        <ion-icon name="finger-print-outline"></ion-icon>
        <ion-label class="ion-padding-start">Biometrics & Security</ion-label>
      </ion-item>
      <ion-item detail routerLink="/legal">
        <ion-icon name="documents-outline"></ion-icon>
        <ion-label class="ion-padding-start">Legal Agreements</ion-label>
      </ion-item>
      <ion-item lines="none">
      </ion-item>
    </ion-list>
  </ion-card>

</ion-content>

<ion-tab-bar translucent="true" slot="bottom">
  <ion-tab-button routerLink="/calendar" routerDirection="root">
    <ion-icon src="/assets/home-off.svg"></ion-icon>
    <ion-label color="medium">Home</ion-label>
  </ion-tab-button>
  <ion-tab-button routerLink="/channel-list" routerDirection="root">
    <ion-label color="medium">Channels</ion-label>
    <ion-icon src="/assets/at-sign-off.svg"></ion-icon>
  </ion-tab-button>
  <ion-tab-button routerLink="/chat-list-group" routerDirection="root">
    <ion-label color="medium">Communities</ion-label>
    <ion-icon src="/assets/earth-off.svg"></ion-icon>
  </ion-tab-button>
  <ion-tab-button routerLink="/chat-list" routerDirection="root">
    <ion-label color="medium">Chats</ion-label>
    <ion-icon src="/assets/chatbubble-off.svg"></ion-icon>
  </ion-tab-button>
  <ion-tab-button routerLink="/profile-home" routerDirection="root">
    <ion-label color="medium">Settings</ion-label>
    <ion-icon src="/assets/settings-off.svg"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>
