// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #0096ff;
  --ion-color-primary-rgb: 0,150,255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #0084e0;
  --ion-color-primary-tint: #1aa1ff;

  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61,194,255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  --ion-color-tertiary: #051033;
  --ion-color-tertiary-rgb: 5,16,51;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #040e2d;
  --ion-color-tertiary-tint: #1e2847;

  --ion-color-success: #00a100;
  --ion-color-success-rgb: 0,161,0;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #008e00;
  --ion-color-success-tint: #1aaa1a;

  --ion-color-warning: #ffd800;
  --ion-color-warning-rgb: 255,216,0;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0be00;
  --ion-color-warning-tint: #ffdc1a;

  --ion-color-danger: #ff0000;
  --ion-color-danger-rgb: 255,0,0;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #e00000;
  --ion-color-danger-tint: #ff1a1a;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,36,40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146,148,156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,245,248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #0096ff;
    --ion-color-primary-rgb: 0,150,255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #0084e0;
    --ion-color-primary-tint: #1aa1ff;

    --ion-color-secondary: #3dc2ff;
    --ion-color-secondary-rgb: 61,194,255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #36abe0;
    --ion-color-secondary-tint: #50c8ff;

    --ion-color-tertiary: #051033;
    --ion-color-tertiary-rgb: 5,16,51;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255,255,255;
    --ion-color-tertiary-shade: #040e2d;
    --ion-color-tertiary-tint: #1e2847;

    --ion-color-success: #00a100;
    --ion-color-success-rgb: 0,161,0;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255,255,255;
    --ion-color-success-shade: #008e00;
    --ion-color-success-tint: #1aaa1a;

    --ion-color-warning: #ffd800;
    --ion-color-warning-rgb: 255,216,0;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #e0be00;
    --ion-color-warning-tint: #ffdc1a;

    --ion-color-danger: #ff0000;
    --ion-color-danger-rgb: 255,0,0;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #e00000;
    --ion-color-danger-tint: #ff1a1a;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244, 245, 248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0, 0, 0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34, 36, 40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255, 255, 255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0, 0, 0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-toolbar-background: #0d0d0d;

    --ion-item-background: #000000;
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18, 18, 18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #1e1e1e;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;
  }

  .dark-gradient {
    background: linear-gradient(0deg,rgba(255,255,255,.4),hsla(0,100%,100%,0) 100%) !important;
  }

}

:root {
  --ion-color-white: #ffffff;
  --ion-color-white-rgb: 255,255,255;
  --ion-color-white-contrast: #000000;
  --ion-color-white-contrast-rgb: 0,0,0;
  --ion-color-white-shade: #e0e0e0;
  --ion-color-white-tint: #ffffff;
}

.ion-color-white {
  --ion-color-base: var(--ion-color-white);
  --ion-color-base-rgb: var(--ion-color-white-rgb);
  --ion-color-contrast: var(--ion-color-white-contrast);
  --ion-color-contrast-rgb: var(--ion-color-white-contrast-rgb);
  --ion-color-shade: var(--ion-color-white-shade);
  --ion-color-tint: var(--ion-color-white-tint);
}

:root {
  --ion-color-hot: #FF6319;
  --ion-color-hot-rgb: 255,99,25;
  --ion-color-hot-contrast: #000000;
  --ion-color-hot-contrast-rgb: 0,0,0;
  --ion-color-hot-shade: #e05716;
  --ion-color-hot-tint: #ff7330;
}

.ion-color-hot {
  --ion-color-base: var(--ion-color-hot);
  --ion-color-base-rgb: var(--ion-color-hot-rgb);
  --ion-color-contrast: var(--ion-color-hot-contrast);
  --ion-color-contrast-rgb: var(--ion-color-hot-contrast-rgb);
  --ion-color-shade: var(--ion-color-hot-shade);
  --ion-color-tint: var(--ion-color-hot-tint);
}

:root {
  --ion-color-cancel: #eb445a;
  --ion-color-cancel-rgb: 235,68,90;
  --ion-color-cancel-contrast: #ffffff;
  --ion-color-cancel-contrast-rgb: 255,255,255;
  --ion-color-cancel-shade: #cf3c4f;
  --ion-color-cancel-tint: #ed576b;
}

.ion-color-cancel {
  --ion-color-base: var(--ion-color-cancel);
  --ion-color-base-rgb: var(--ion-color-cancel-rgb);
  --ion-color-contrast: var(--ion-color-cancel-contrast);
  --ion-color-contrast-rgb: var(--ion-color-cancel-contrast-rgb);
  --ion-color-shade: var(--ion-color-cancel-shade);
  --ion-color-tint: var(--ion-color-cancel-tint);
}

:root {
  --ion-color-safetypass: #e81b74;
  --ion-color-safetypass-rgb: 232,27,116;
  --ion-color-safetypass-contrast: #ffffff;
  --ion-color-safetypass-contrast-rgb: 255,255,255;
  --ion-color-safetypass-shade: #cc1866;
  --ion-color-safetypass-tint: #ea3282;
}

.ion-color-safetypass {
  --ion-color-base: var(--ion-color-safetypass);
  --ion-color-base-rgb: var(--ion-color-safetypass-rgb);
  --ion-color-contrast: var(--ion-color-safetypass-contrast);
  --ion-color-contrast-rgb: var(--ion-color-safetypass-contrast-rgb);
  --ion-color-shade: var(--ion-color-safetypass-shade);
  --ion-color-tint: var(--ion-color-safetypass-tint);
}

:root {
  --ion-color-raven: #051033;
  --ion-color-raven-rgb: 5,16,51;
  --ion-color-raven-contrast: #ffffff;
  --ion-color-raven-contrast-rgb: 255,255,255;
  --ion-color-raven-shade: #040e2d;
  --ion-color-raven-tint: #1e2847;
}

.ion-color-raven {
  --ion-color-base: var(--ion-color-raven);
  --ion-color-base-rgb: var(--ion-color-raven-rgb);
  --ion-color-contrast: var(--ion-color-raven-contrast);
  --ion-color-contrast-rgb: var(--ion-color-raven-contrast-rgb);
  --ion-color-shade: var(--ion-color-raven-shade);
  --ion-color-tint: var(--ion-color-raven-tint);
}

:root {
  --ion-color-milconnect: #49356a;
  --ion-color-milconnect-rgb: 73,53,106;
  --ion-color-milconnect-contrast: #ffffff;
  --ion-color-milconnect-contrast-rgb: 255,255,255;
  --ion-color-milconnect-shade: #402f5d;
  --ion-color-milconnect-tint: #5b4979;
}

.ion-color-milconnect {
  --ion-color-base: var(--ion-color-milconnect);
  --ion-color-base-rgb: var(--ion-color-milconnect-rgb);
  --ion-color-contrast: var(--ion-color-milconnect-contrast);
  --ion-color-contrast-rgb: var(--ion-color-milconnect-contrast-rgb);
  --ion-color-shade: var(--ion-color-milconnect-shade);
  --ion-color-tint: var(--ion-color-milconnect-tint);
}

:root {
  --ion-color-army-star: #FFCB05;
  --ion-color-army-star-rgb: 255,203,5;
  --ion-color-army-star-contrast: #000000;
  --ion-color-army-star-contrast-rgb: 0,0,0;
  --ion-color-army-star-shade: #e0b304;
  --ion-color-army-star-tint: #ffd01e;
}

.ion-color-army-star {
  --ion-color-base: var(--ion-color-army-star);
  --ion-color-base-rgb: var(--ion-color-army-star-rgb);
  --ion-color-contrast: var(--ion-color-army-star-contrast);
  --ion-color-contrast-rgb: var(--ion-color-army-star-contrast-rgb);
  --ion-color-shade: var(--ion-color-army-star-shade);
  --ion-color-tint: var(--ion-color-army-star-tint);
}

:root {
  --ion-color-army-gold: #D4BF91;
  --ion-color-army-gold-rgb: 212,191,145;
  --ion-color-army-gold-contrast: #000000;
  --ion-color-army-gold-contrast-rgb: 0,0,0;
  --ion-color-army-gold-shade: #bba880;
  --ion-color-army-gold-tint: #d8c59c;
}

.ion-color-army-gold {
  --ion-color-base: var(--ion-color-army-gold);
  --ion-color-base-rgb: var(--ion-color-army-gold-rgb);
  --ion-color-contrast: var(--ion-color-army-gold-contrast);
  --ion-color-contrast-rgb: var(--ion-color-army-gold-contrast-rgb);
  --ion-color-shade: var(--ion-color-army-gold-shade);
  --ion-color-tint: var(--ion-color-army-gold-tint);
}

:root {
  --ion-color-navy-gold: #C5B783;
  --ion-color-navy-gold-rgb: 197,183,131;
  --ion-color-navy-gold-contrast: #000000;
  --ion-color-navy-gold-contrast-rgb: 0,0,0;
  --ion-color-navy-gold-shade: #ada173;
  --ion-color-navy-gold-tint: #cbbe8f;
}

.ion-color-navy-gold {
  --ion-color-base: var(--ion-color-navy-gold);
  --ion-color-base-rgb: var(--ion-color-navy-gold-rgb);
  --ion-color-contrast: var(--ion-color-navy-gold-contrast);
  --ion-color-contrast-rgb: var(--ion-color-navy-gold-contrast-rgb);
  --ion-color-shade: var(--ion-color-navy-gold-shade);
  --ion-color-tint: var(--ion-color-navy-gold-tint);
}

:root {
  --ion-color-navy-blue: #00205B;
  --ion-color-navy-blue-rgb: 0,32,91;
  --ion-color-navy-blue-contrast: #ffffff;
  --ion-color-navy-blue-contrast-rgb: 255,255,255;
  --ion-color-navy-blue-shade: #001c50;
  --ion-color-navy-blue-tint: #1a366b;
}

.ion-color-navy-blue {
  --ion-color-base: var(--ion-color-navy-blue);
  --ion-color-base-rgb: var(--ion-color-navy-blue-rgb);
  --ion-color-contrast: var(--ion-color-navy-blue-contrast);
  --ion-color-contrast-rgb: var(--ion-color-navy-blue-contrast-rgb);
  --ion-color-shade: var(--ion-color-navy-blue-shade);
  --ion-color-tint: var(--ion-color-navy-blue-tint);
}

:root {
  --ion-color-airforce-blue: #003087;
  --ion-color-airforce-blue-rgb: 0,48,135;
  --ion-color-airforce-blue-contrast: #ffffff;
  --ion-color-airforce-blue-contrast-rgb: 255,255,255;
  --ion-color-airforce-blue-shade: #002a77;
  --ion-color-airforce-blue-tint: #1a4593;
}

.ion-color-airforce-blue {
  --ion-color-base: var(--ion-color-airforce-blue);
  --ion-color-base-rgb: var(--ion-color-airforce-blue-rgb);
  --ion-color-contrast: var(--ion-color-airforce-blue-contrast);
  --ion-color-contrast-rgb: var(--ion-color-airforce-blue-contrast-rgb);
  --ion-color-shade: var(--ion-color-airforce-blue-shade);
  --ion-color-tint: var(--ion-color-airforce-blue-tint);
}

:root {
  --ion-color-airforce-silver: #8A8D8F;
  --ion-color-airforce-silver-rgb: 138,141,143;
  --ion-color-airforce-silver-contrast: #000000;
  --ion-color-airforce-silver-contrast-rgb: 0,0,0;
  --ion-color-airforce-silver-shade: #797c7e;
  --ion-color-airforce-silver-tint: #96989a;
}

.ion-color-airforce-silver {
  --ion-color-base: var(--ion-color-airforce-silver);
  --ion-color-base-rgb: var(--ion-color-airforce-silver-rgb);
  --ion-color-contrast: var(--ion-color-airforce-silver-contrast);
  --ion-color-contrast-rgb: var(--ion-color-airforce-silver-contrast-rgb);
  --ion-color-shade: var(--ion-color-airforce-silver-shade);
  --ion-color-tint: var(--ion-color-airforce-silver-tint);
}

:root {
  --ion-color-marine-gold: #FFD500;
  --ion-color-marine-gold-rgb: 255,213,0;
  --ion-color-marine-gold-contrast: #000000;
  --ion-color-marine-gold-contrast-rgb: 0,0,0;
  --ion-color-marine-gold-shade: #e0bb00;
  --ion-color-marine-gold-tint: #ffd91a;
}

.ion-color-marine-gold {
  --ion-color-base: var(--ion-color-marine-gold);
  --ion-color-base-rgb: var(--ion-color-marine-gold-rgb);
  --ion-color-contrast: var(--ion-color-marine-gold-contrast);
  --ion-color-contrast-rgb: var(--ion-color-marine-gold-contrast-rgb);
  --ion-color-shade: var(--ion-color-marine-gold-shade);
  --ion-color-tint: var(--ion-color-marine-gold-tint);
}

:root {
  --ion-color-marine-crimson: #CC101F;
  --ion-color-marine-crimson-rgb: 204,16,31;
  --ion-color-marine-crimson-contrast: #ffffff;
  --ion-color-marine-crimson-contrast-rgb: 255,255,255;
  --ion-color-marine-crimson-shade: #b40e1b;
  --ion-color-marine-crimson-tint: #d12835;
}

.ion-color-marine-crimson {
  --ion-color-base: var(--ion-color-marine-crimson);
  --ion-color-base-rgb: var(--ion-color-marine-crimson-rgb);
  --ion-color-contrast: var(--ion-color-marine-crimson-contrast);
  --ion-color-contrast-rgb: var(--ion-color-marine-crimson-contrast-rgb);
  --ion-color-shade: var(--ion-color-marine-crimson-shade);
  --ion-color-tint: var(--ion-color-marine-crimson-tint);
}

:root {
  --ion-color-coastguard-blue: #006ba6;
  --ion-color-coastguard-blue-rgb: 0,107,166;
  --ion-color-coastguard-blue-contrast: #ffffff;
  --ion-color-coastguard-blue-contrast-rgb: 255,255,255;
  --ion-color-coastguard-blue-shade: #005e92;
  --ion-color-coastguard-blue-tint: #1a7aaf;
}

.ion-color-coastguard-blue {
  --ion-color-base: var(--ion-color-coastguard-blue);
  --ion-color-base-rgb: var(--ion-color-coastguard-blue-rgb);
  --ion-color-contrast: var(--ion-color-coastguard-blue-contrast);
  --ion-color-contrast-rgb: var(--ion-color-coastguard-blue-contrast-rgb);
  --ion-color-shade: var(--ion-color-coastguard-blue-shade);
  --ion-color-tint: var(--ion-color-coastguard-blue-tint);
}

:root {
  --ion-color-coastguard-red: #e03c31;
  --ion-color-coastguard-red-rgb: 224,60,49;
  --ion-color-coastguard-red-contrast: #ffffff;
  --ion-color-coastguard-red-contrast-rgb: 255,255,255;
  --ion-color-coastguard-red-shade: #c5352b;
  --ion-color-coastguard-red-tint: #e35046;
}

.ion-color-coastguard-red {
  --ion-color-base: var(--ion-color-coastguard-red);
  --ion-color-base-rgb: var(--ion-color-coastguard-red-rgb);
  --ion-color-contrast: var(--ion-color-coastguard-red-contrast);
  --ion-color-contrast-rgb: var(--ion-color-coastguard-red-contrast-rgb);
  --ion-color-shade: var(--ion-color-coastguard-red-shade);
  --ion-color-tint: var(--ion-color-coastguard-red-tint);
}
