// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #000000;
  --ion-color-primary-rgb: 0,0,0;
  --ion-color-primary-contrast: #00ff00;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #000000;
  --ion-color-primary-tint: #1a1a1a;

  --ion-color-secondary: #2251E7;
  --ion-color-secondary-rgb: 34,81,231;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #1e47cb;
  --ion-color-secondary-tint: #3862e9;

  --ion-color-tertiary: #e9e9e9;
  --ion-color-tertiary-rgb: 233,233,233;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #cdcdcd;
  --ion-color-tertiary-tint: #ebebeb;

  --ion-color-success: #00cc33;
  --ion-color-success-rgb: 0,204,51;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #00b42d;
  --ion-color-success-tint: #1ad147;

  --ion-color-warning: #FFD800;
  --ion-color-warning-rgb: 255,216,0;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0be00;
  --ion-color-warning-tint: #ffdc1a;

  --ion-color-danger: #ff3535;
  --ion-color-danger-rgb: 255,53,53;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0,0,0;
  --ion-color-danger-shade: #e02f2f;
  --ion-color-danger-tint: #ff4949;

  --ion-color-light: #fafafa;
  --ion-color-light-rgb: 250,250,250;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #dcdcdc;
  --ion-color-light-tint: #fbfbfb;

  --ion-color-medium: #757575;
  --ion-color-medium-rgb: 117,117,117;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #676767;
  --ion-color-medium-tint: #838383;

  --ion-color-dark: #111111;
  --ion-color-dark-rgb: 17,17,17;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #0f0f0f;
  --ion-color-dark-tint: #292929;

}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #00ff00;
    --ion-color-primary-rgb: 0,255,0;
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-contrast-rgb: 0,0,0;
    --ion-color-primary-shade: #00e000;
    --ion-color-primary-tint: #1aff1a;

    --ion-color-secondary: #2251E7;
    --ion-color-secondary-rgb: 34,81,231;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #1e47cb;
    --ion-color-secondary-tint: #3862e9;

    --ion-color-tertiary: #2e2e2e;
    --ion-color-tertiary-rgb: 46,46,46;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255,255,255;
    --ion-color-tertiary-shade: #282828;
    --ion-color-tertiary-tint: #434343;

    --ion-color-success: #00cc33;
    --ion-color-success-rgb: 0,204,51;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0,0,0;
    --ion-color-success-shade: #00b42d;
    --ion-color-success-tint: #1ad147;

    --ion-color-warning: #FFD800;
    --ion-color-warning-rgb: 255,216,0;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #e0be00;
    --ion-color-warning-tint: #ffdc1a;

    --ion-color-danger: #ff3535;
    --ion-color-danger-rgb: 255,53,53;
    --ion-color-danger-contrast: #000000;
    --ion-color-danger-contrast-rgb: 0,0,0;
    --ion-color-danger-shade: #e02f2f;
    --ion-color-danger-tint: #ff4949;

    --ion-color-light: #111111;
    --ion-color-light-rgb: 17,17,17;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255,255,255;
    --ion-color-light-shade: #0f0f0f;
    --ion-color-light-tint: #292929;

    --ion-color-medium: #757575;
    --ion-color-medium-rgb: 117,117,117;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255,255,255;
    --ion-color-medium-shade: #676767;
    --ion-color-medium-tint: #838383;

    --ion-color-dark: #fafafa;
    --ion-color-dark-rgb: 250,250,250;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0,0,0;
    --ion-color-dark-shade: #dcdcdc;
    --ion-color-dark-tint: #fbfbfb;

    --ion-color-utility: #1a1a1a;
    --ion-color-utility-rgb: 26,26,26;
    --ion-color-utility-contrast: #ffffff;
    --ion-color-utility-contrast-rgb: 255,255,255;
    --ion-color-utility-shade: #171717;
    --ion-color-utility-tint: #313131;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #111;
    --ion-background-color-rgb: 17,17,17;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-color-step-50: #1d1d1d;
    --ion-color-step-100: #292929;
    --ion-color-step-150: #353535;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #585858;
    --ion-color-step-350: #646464;
    --ion-color-step-400: #707070;
    --ion-color-step-450: #7c7c7c;
    --ion-color-step-500: #888888;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #cfcfcf;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-toolbar-background: #111;

    --ion-item-background: #111;
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #111;
    --ion-background-color-rgb: 17,17,17;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-color-step-50: #1d1d1d;
    --ion-color-step-100: #292929;
    --ion-color-step-150: #353535;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #585858;
    --ion-color-step-350: #646464;
    --ion-color-step-400: #707070;
    --ion-color-step-450: #7c7c7c;
    --ion-color-step-500: #888888;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #cfcfcf;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #111;

    --ion-toolbar-background: #111;

    --ion-tab-bar-background: #111;
  }

  .dark-gradient {
    background: linear-gradient(0deg,rgba(255,255,255,.4),hsla(0,100%,100%,0) 100%) !important;
  }

}

:root {
  --ion-color-white: #ffffff;
  --ion-color-white-rgb: 255,255,255;
  --ion-color-white-contrast: #000000;
  --ion-color-white-contrast-rgb: 0,0,0;
  --ion-color-white-shade: #e0e0e0;
  --ion-color-white-tint: #ffffff;
}

.ion-color-white {
  --ion-color-base: var(--ion-color-white);
  --ion-color-base-rgb: var(--ion-color-white-rgb);
  --ion-color-contrast: var(--ion-color-white-contrast);
  --ion-color-contrast-rgb: var(--ion-color-white-contrast-rgb);
  --ion-color-shade: var(--ion-color-white-shade);
  --ion-color-tint: var(--ion-color-white-tint);
}

:root {
  --ion-color-black: #000000;
  --ion-color-black-rgb: 0,0,0;
  --ion-color-black-contrast: #ffffff;
  --ion-color-black-contrast-rgb: 0,0,0;
  --ion-color-black-shade: #121212;
  --ion-color-black-tint: #000000;
}

.ion-color-black {
  --ion-color-base: var(--ion-color-black);
  --ion-color-base-rgb: var(--ion-color-black-rgb);
  --ion-color-contrast: var(--ion-color-black-contrast);
  --ion-color-contrast-rgb: var(--ion-color-black-contrast-rgb);
  --ion-color-shade: var(--ion-color-black-shade);
  --ion-color-tint: var(--ion-color-black-tint);
}

:root {
  --ion-color-utility: #f4f4f4;
  --ion-color-utility-rgb: 244,244,244;
  --ion-color-utility-contrast: #000000;
  --ion-color-utility-contrast-rgb: 0,0,0;
  --ion-color-utility-shade: #d7d7d7;
  --ion-color-utility-tint: #f5f5f5;
}

.ion-color-utility {
  --ion-color-base: var(--ion-color-utility);
  --ion-color-base-rgb: var(--ion-color-utility-rgb);
  --ion-color-contrast: var(--ion-color-utility-contrast);
  --ion-color-contrast-rgb: var(--ion-color-utility-contrast-rgb);
  --ion-color-shade: var(--ion-color-utility-shade);
  --ion-color-tint: var(--ion-color-utility-tint);
}

:root {
  --ion-color-hot: #FF6319;
  --ion-color-hot-rgb: 255,99,25;
  --ion-color-hot-contrast: #000000;
  --ion-color-hot-contrast-rgb: 0,0,0;
  --ion-color-hot-shade: #e05716;
  --ion-color-hot-tint: #ff7330;
}

.ion-color-hot {
  --ion-color-base: var(--ion-color-hot);
  --ion-color-base-rgb: var(--ion-color-hot-rgb);
  --ion-color-contrast: var(--ion-color-hot-contrast);
  --ion-color-contrast-rgb: var(--ion-color-hot-contrast-rgb);
  --ion-color-shade: var(--ion-color-hot-shade);
  --ion-color-tint: var(--ion-color-hot-tint);
}

:root {
  --ion-color-true: #009900;
  --ion-color-true-rgb: 0,153,0;
  --ion-color-true-contrast: #000000;
  --ion-color-true-contrast-rgb: 0,0,0;
  --ion-color-true-shade: #008700;
  --ion-color-true-tint: #1aa31a;
}

.ion-color-true {
  --ion-color-base: var(--ion-color-true);
  --ion-color-base-rgb: var(--ion-color-true-rgb);
  --ion-color-contrast: var(--ion-color-true-contrast);
  --ion-color-contrast-rgb: var(--ion-color-true-contrast-rgb);
  --ion-color-shade: var(--ion-color-true-shade);
  --ion-color-tint: var(--ion-color-true-tint);
}

:root {
  --ion-color-spot-green: #1db954;
  --ion-color-spot-green-rgb: 29,185,84;
  --ion-color-spot-green-contrast: #ffffff;
  --ion-color-spot-green-contrast-rgb: 255,255,255;
  --ion-color-spot-green-shade: #1aa34a;
  --ion-color-spot-green-tint: #34c065;
}

.ion-color-spot-green {
  --ion-color-base: var(--ion-color-spot-green);
  --ion-color-base-rgb: var(--ion-color-spot-green-rgb);
  --ion-color-contrast: var(--ion-color-spot-green-contrast);
  --ion-color-contrast-rgb: var(--ion-color-spot-green-contrast-rgb);
  --ion-color-shade: var(--ion-color-spot-green-shade);
  --ion-color-tint: var(--ion-color-spot-green-tint);
}

:root {
  --ion-color-cancel: #ee334e;
  --ion-color-cancel-rgb: 238,51,78;
  --ion-color-cancel-contrast: #000000;
  --ion-color-cancel-contrast-rgb: 0,0,0;
  --ion-color-cancel-shade: #d12d45;
  --ion-color-cancel-tint: #f04760;
}

.ion-color-cancel {
  --ion-color-base: var(--ion-color-cancel);
  --ion-color-base-rgb: var(--ion-color-cancel-rgb);
  --ion-color-contrast: var(--ion-color-cancel-contrast);
  --ion-color-contrast-rgb: var(--ion-color-cancel-contrast-rgb);
  --ion-color-shade: var(--ion-color-cancel-shade);
  --ion-color-tint: var(--ion-color-cancel-tint);
}

:root {
  --ion-color-safetypass: #e81b74;
  --ion-color-safetypass-rgb: 232,27,116;
  --ion-color-safetypass-contrast: #ffffff;
  --ion-color-safetypass-contrast-rgb: 255,255,255;
  --ion-color-safetypass-shade: #cc1866;
  --ion-color-safetypass-tint: #ea3282;
}

.ion-color-safetypass {
  --ion-color-base: var(--ion-color-safetypass);
  --ion-color-base-rgb: var(--ion-color-safetypass-rgb);
  --ion-color-contrast: var(--ion-color-safetypass-contrast);
  --ion-color-contrast-rgb: var(--ion-color-safetypass-contrast-rgb);
  --ion-color-shade: var(--ion-color-safetypass-shade);
  --ion-color-tint: var(--ion-color-safetypass-tint);
}

:root {
  --ion-color-raven: #051033;
  --ion-color-raven-rgb: 5,16,51;
  --ion-color-raven-contrast: #ffffff;
  --ion-color-raven-contrast-rgb: 255,255,255;
  --ion-color-raven-shade: #040e2d;
  --ion-color-raven-tint: #1e2847;
}

.ion-color-raven {
  --ion-color-base: var(--ion-color-raven);
  --ion-color-base-rgb: var(--ion-color-raven-rgb);
  --ion-color-contrast: var(--ion-color-raven-contrast);
  --ion-color-contrast-rgb: var(--ion-color-raven-contrast-rgb);
  --ion-color-shade: var(--ion-color-raven-shade);
  --ion-color-tint: var(--ion-color-raven-tint);
}

:root {
  --ion-color-brand-bg: #051033;
  --ion-color-brand-bg-rgb: 5,16,51;
  --ion-color-brand-bg-contrast: #ffffff;
  --ion-color-brand-bg-contrast-rgb: 255,255,255;
  --ion-color-brand-bg-shade: #040e2d;
  --ion-color-brand-bg-tint: #1e2847;
}

.ion-color-brand-bg {
  --ion-color-base: var(--ion-color-brand-bg);
  --ion-color-base-rgb: var(--ion-color-brand-bg-rgb);
  --ion-color-contrast: var(--ion-color-brand-bg-contrast);
  --ion-color-contrast-rgb: var(--ion-color-brand-bg-contrast-rgb);
  --ion-color-shade: var(--ion-color-brand-bg-shade);
  --ion-color-tint: var(--ion-color-brand-bg-tint);
}

:root {
  --ion-color-brand-grad-start: #1a1a1a;
  --ion-color-brand-grad-start-rgb: 26,26,26;
  --ion-color-brand-grad-start-contrast: #ffffff;
  --ion-color-brand-grad-start-contrast-rgb: 255,255,255;
  --ion-color-brand-grad-start-shade: #171717;
  --ion-color-brand-grad-start-tint: #313131;
}

.ion-color-brand-grad-start {
  --ion-color-base: var(--ion-color-brand-grad-start);
  --ion-color-base-rgb: var(--ion-color-brand-grad-start-rgb);
  --ion-color-contrast: var(--ion-color-brand-grad-start-contrast);
  --ion-color-contrast-rgb: var(--ion-color-brand-grad-start-contrast-rgb);
  --ion-color-shade: var(--ion-color-brand-grad-start-shade);
  --ion-color-tint: var(--ion-color-brand-grad-start-tint);
}

:root {
  --ion-color-brand-grad-end: #444;
  --ion-color-brand-grad-end-rgb: 68,68,68;
  --ion-color-brand-grad-end-contrast: #ffffff;
  --ion-color-brand-grad-end-contrast-rgb: 255,255,255;
  --ion-color-brand-grad-end-shade: #3c3c3c;
  --ion-color-brand-grad-end-tint: #575757;
}

.ion-color-brand-grad-end {
  --ion-color-base: var(--ion-color-brand-grad-end);
  --ion-color-base-rgb: var(--ion-color-brand-grad-end-rgb);
  --ion-color-contrast: var(--ion-color-brand-grad-end-contrast);
  --ion-color-contrast-rgb: var(--ion-color-brand-grad-end-contrast-rgb);
  --ion-color-shade: var(--ion-color-brand-grad-end-shade);
  --ion-color-tint: var(--ion-color-brand-grad-end-tint);
}

:root {
  --ion-color-purple1: #7615c6;
  --ion-color-purple1-rgb: 118,21,198;
  --ion-color-purple1-contrast: #ffffff;
  --ion-color-purple1-contrast-rgb: 255,255,255;
  --ion-color-purple1-shade: #6812ae;
  --ion-color-purple1-tint: #842ccc;
}

.ion-color-milconnect2 {
  --ion-color-base: var(--ion-color-purple1);
  --ion-color-base-rgb: var(--ion-color-purple1-rgb);
  --ion-color-contrast: var(--ion-color-purple1-contrast);
  --ion-color-contrast-rgb: var(--ion-color-purple1-contrast-rgb);
  --ion-color-shade: var(--ion-color-purple1-shade);
  --ion-color-tint: var(--ion-color-purple1-tint);
}

:root {
  --ion-color-army-black: #20242d;
  --ion-color-army-black-rgb: 32,36,45;
  --ion-color-army-black-contrast: #ffffff;
  --ion-color-army-black-contrast-rgb: 255,255,255;
  --ion-color-army-black-shade: #1c2028;
  --ion-color-army-black-tint: #363a42;
}

.ion-color-army-black {
  --ion-color-base: var(--ion-color-army-black);
  --ion-color-base-rgb: var(--ion-color-army-black-rgb);
  --ion-color-contrast: var(--ion-color-army-black-contrast);
  --ion-color-contrast-rgb: var(--ion-color-army-black-contrast-rgb);
  --ion-color-shade: var(--ion-color-army-black-shade);
  --ion-color-tint: var(--ion-color-army-black-tint);
}

:root {
  --ion-color-shadow: #4f4f4f;
  --ion-color-shadow-rgb: 79,79,79;
  --ion-color-shadow-contrast: #ffffff;
  --ion-color-shadow-contrast-rgb: 255,255,255;
  --ion-color-shadow-shade: #464646;
  --ion-color-shadow-tint: #616161;
}

.ion-color-shadow {
  --ion-color-base: var(--ion-color-shadow);
  --ion-color-base-rgb: var(--ion-color-shadow-rgb);
  --ion-color-contrast: var(--ion-color-shadow-contrast);
  --ion-color-contrast-rgb: var(--ion-color-shadow-contrast-rgb);
  --ion-color-shade: var(--ion-color-shadow-shade);
  --ion-color-tint: var(--ion-color-shadow-tint);
}

:root {
  --ion-color-brand2-spotify: #2e40a4;
  --ion-color-brand2-spotify-rgb: 46,64,164;
  --ion-color-brand2-spotify-contrast: #ffffff;
  --ion-color-brand2-spotify-contrast-rgb: 255,255,255;
  --ion-color-brand2-spotify-shade: #283890;
  --ion-color-brand2-spotify-tint: #4353ad;
}

.ion-color-brand2-spotify {
  --ion-color-base: var(--ion-color-brand2-spotify);
  --ion-color-base-rgb: var(--ion-color-brand2-spotify-rgb);
  --ion-color-contrast: var(--ion-color-brand2-spotify-contrast);
  --ion-color-contrast-rgb: var(--ion-color-brand2-spotify-contrast-rgb);
  --ion-color-shade: var(--ion-color-brand2-spotify-shade);
  --ion-color-tint: var(--ion-color-brand2-spotify-tint);
}

:root {
  --ion-color-brand-facebook: #1877F2;
  --ion-color-brand-facebook-rgb: 24,119,242;
  --ion-color-brand-facebook-contrast: #ffffff;
  --ion-color-brand-facebook-contrast-rgb: 0,0,0;
  --ion-color-brand-facebook-shade: #1569d5;
  --ion-color-brand-facebook-tint: #2f85f3;
}

.ion-color-brand-facebook {
  --ion-color-base: var(--ion-color-brand-facebook);
  --ion-color-base-rgb: var(--ion-color-brand-facebook-rgb);
  --ion-color-contrast: var(--ion-color-brand-facebook-contrast);
  --ion-color-contrast-rgb: var(--ion-color-brand-facebook-contrast-rgb);
  --ion-color-shade: var(--ion-color-brand-facebook-shade);
  --ion-color-tint: var(--ion-color-brand-facebook-tint);
}
