<ion-content fullscreen="true">
  <ion-row>
    <img src="/assets/ocrconfirm-ok.png" alt="OCR"/>
  </ion-row>

  <ion-list>
    <ion-item>
      <ion-label color="medium">First name</ion-label>
      <ion-label>Cherry</ion-label>
      <ion-icon name="checkmark-circle-outline" color="true" slot="end" class="icon-small"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label color="medium">Middle name</ion-label>
      <ion-label>Amanda</ion-label>
      <ion-icon name="checkmark-circle-outline" color="true" slot="end" class="icon-small"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label color="medium">Last name</ion-label>
      <ion-label>Taylor</ion-label>
      <ion-icon name="checkmark-circle-outline" color="true" slot="end" class="icon-small"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label color="medium">D.O.B.</ion-label>
      <ion-label>24/06/1984</ion-label>
      <ion-icon name="checkmark-circle-outline" color="true" slot="end" class="icon-small"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label color="medium">License number</ion-label>
      <ion-label>361 527 488</ion-label>
      <ion-icon name="checkmark-circle-outline" color="true" slot="end" class="icon-small"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label color="medium">License expiry date</ion-label>
      <ion-label>24/06/2028</ion-label>
      <ion-icon name="checkmark-circle-outline" color="true" slot="end" class="icon-small"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label color="medium">State of issuance</ion-label>
      <ion-label>New York</ion-label>
      <ion-icon name="checkmark-circle-outline" color="true" slot="end" class="icon-small"></ion-icon>
    </ion-item>
    <ion-item lines="none">
      <ion-label>&nbsp;&nbsp;</ion-label>
    </ion-item>
  </ion-list>
  <ion-row>
    <img src="/assets/ocrconfirm-ok-footer.png" alt="OCR" routerLink="/success-ocrverify"/>
  </ion-row>
</ion-content>
