<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Verify Service
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/personal-info-mc-unverified" routerDirection="back">
        <ion-icon name="close-outline" color="milconnect2"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-text class="upper-third">
    Your military service must be verified to access your benefits.<br/>
    &nbsp;&nbsp;<br/>
    Please select an option below.
  </ion-text>

  <div class="v-center">
    <ion-row>
      <ion-toolbar>
        <ion-button expand="block" color="milconnect2" class="pad15 ion-margin-vertical" routerLink="/ocr-verify-mc">
          Verify by Military ID
        </ion-button>
      </ion-toolbar>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-text class="ion-text-center text-smaller">
        &mdash; OR  &mdash;
      </ion-text>
    </ion-row>
    <ion-row>
      <ion-toolbar>
        <ion-button expand="block" color="milconnect2" fill="outline" class="pad15 ion-margin-vertical" routerLink="/verify-service-mc-form">
          Verify by Form
        </ion-button>
      </ion-toolbar>
    </ion-row>
  </div>

</ion-content>
