<ion-content fullscreen="true" color="white">
  <ion-row>
    <img src="/assets/ocrconfirm-ok.png" alt="OCR"/>
  </ion-row>

  <ion-list>
    <ion-item color="white">
      <ion-label color="medium">First name</ion-label>
      <ion-label>Cherry</ion-label>
      <ion-icon name="checkmark-circle-outline" color="brand3" slot="end" class="icon-small"></ion-icon>
    </ion-item>
    <ion-item color="white">
      <ion-label color="medium">Middle name</ion-label>
      <ion-label>Amanda</ion-label>
      <ion-icon name="checkmark-circle-outline" color="brand3" slot="end" class="icon-small"></ion-icon>
    </ion-item>
    <ion-item color="white">
      <ion-label color="medium">Last name</ion-label>
      <ion-label>Taylor</ion-label>
      <ion-icon name="checkmark-circle-outline" color="brand3" slot="end" class="icon-small"></ion-icon>
    </ion-item>
    <ion-item color="white">
      <ion-label color="medium">D.O.B.</ion-label>
      <ion-label>24/06/1984</ion-label>
      <ion-icon name="checkmark-circle-outline" color="brand3" slot="end" class="icon-small"></ion-icon>
    </ion-item>
    <ion-item color="white">
      <ion-label color="medium">License number</ion-label>
      <ion-label>361 527 488</ion-label>
      <ion-icon name="checkmark-circle-outline" color="brand3" slot="end" class="icon-small"></ion-icon>
    </ion-item>
    <ion-item color="white">
      <ion-label color="medium">License expiry date</ion-label>
      <ion-label>24/06/2028</ion-label>
      <ion-icon name="checkmark-circle-outline" color="brand3" slot="end" class="icon-small"></ion-icon>
    </ion-item>
    <ion-item color="white">
      <ion-label color="medium">State of issuance</ion-label>
      <ion-label>New York</ion-label>
      <ion-icon name="checkmark-circle-outline" color="brand3" slot="end" class="icon-small"></ion-icon>
    </ion-item>
    <ion-item lines="none" color="white">
      <ion-label>&nbsp;&nbsp;</ion-label>
    </ion-item>
  </ion-list>
    <ion-row class="ion-margin-top ion-justify-content-center">
        <ion-text>
            <h5><b>Remember:</b></h5>
        </ion-text>
    </ion-row>
    <ion-row class="ion-margin-top ion-justify-content-center">
        <ion-text>
            <b>Only you can see your data.</b>
        </ion-text>
    </ion-row>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar color="white" class="ion-padding-bottom">
    <ion-grid>
      <ion-row>
        <ion-col size="5">
          <ion-button color="medium" fill="clear" expand="block" shape="round" routerLink="/verify-id-recovery" routerDirection="back">
            <ion-icon name="chevron-back-circle" color="medium" class="icon-fab"></ion-icon>&nbsp;&nbsp;Back
          </ion-button>
        </ion-col>
        <ion-col size="7">
          <ion-button color="deep" expand="block" shape="round" routerLink="/success-ocrverify">
            <ion-text color="brand2">Confirm Details</ion-text>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
