ion-content {
  --overflow: hidden;
}

ion-icon {
  --ion-color-light: white;
}

ion-slides {
  --bullet-background: white;
  --bullet-background-active: white;
}

li:not(:last-child) {
  margin-bottom: .5em;
}
