<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="medium" defaultHref="/home-scanner"></ion-back-button>
    </ion-buttons>
    <ion-title color="medium">User Connect</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div class="v-center">
    <h5 class="ion-text-center">
      Connect to <span style="color: var(--ion-color-secondary)">1800Flowers Sign-In</span>
    </h5>
    <ion-row class="ion-justify-content-center">
      <ion-text class="ion-text-center">
        &nbsp;&nbsp;<br/>&nbsp;&nbsp;
      </ion-text>
    </ion-row>
    <!--<ion-row class="pad10">
      <ion-card routerLink="/verify-email-success">
        <ion-card-content class="ion-text-center">Scan QR code to sign-in</ion-card-content>
        <img src="/assets/ap-validate-email-qr.png" />
      </ion-card>
    </ion-row>-->
    <ion-toolbar>
      <ion-button expand="block" class="pad15" color="primary" routerLink="/auth-login">
        <ion-icon src="/assets/A-symbol.svg" color="white"></ion-icon>
        &nbsp; Connect with AERPASS
      </ion-button>
    </ion-toolbar>
    <ion-row class="ion-justify-content-center">
      <ion-text class="ion-text-center">
        &nbsp;&nbsp;<br/>&nbsp;&nbsp;
      </ion-text>
    </ion-row>
    <!--<ion-row class="ion-justify-content-center">
    <ion-text class="ion-text-center text-smaller">
      &nbsp;&nbsp;<br/>
      Not a member?<br/>&nbsp;&nbsp;
    </ion-text>
    </ion-row>
    <ion-toolbar>
      <ion-button expand="block" class="pad15" color="primary" fill="outline" routerLink="/login-auth">
        Get&nbsp;&nbsp;
        <ion-icon src="/assets/A-symbol.svg" color="primary"></ion-icon>&nbsp;
        AERPASS
      </ion-button>
    </ion-toolbar>-->
    <ion-row class="pad5">
      <ion-text class="ion-text-justify text-smallest">
        &nbsp;&nbsp;<br/>
        To continue, AERPASS will share your display name, email address, language preference, and profile picture with 1800Flowers Sign-in. Before using this app, you can review 1800Flowers Sign-In's <span style="color: var(--ion-color-secondary)">privacy policy</span> and <span style="color: var(--ion-color-secondary)">terms of service</span>.<br/>&nbsp;
      </ion-text>
    </ion-row>
  </div>
</ion-content>
