<ion-content color="deep">

  <div class="v-center">
      <ion-row class="pad10 ion-margin-bottom ion-justify-content-center">
          <ion-text class="text">
              Step 1: Biometrics<br/><br/>
          </ion-text>
      </ion-row>
      <ion-row class="ion-justify-content-center">
          <ion-icon name="finger-print-outline" class="icon-huge" color="brand2"></ion-icon>
      </ion-row>
      <ion-row class="pad10 ion-margin-top ion-justify-content-center">
          <ion-text class="text">
              <br/>Prove you're human
          </ion-text>
      </ion-row>
  </div>


</ion-content>
<ion-footer class="ion-no-border">
    <ion-toolbar color="deep">
        <ion-button expand="block" shape="round" class="pad15 ion-margin-bottom" color="brand2" routerLink="/browser-eas">
            Activate Biometrics
        </ion-button>
    </ion-toolbar>
</ion-footer>