<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile-home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Identities
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center">
    <div class="profile">
      <ion-avatar class="profile-frame">
        <img src="/assets/jess-taylor-profile.jpg" class="profile-pic" alt="Profile Pic">
      </ion-avatar>
      <div class="btn">
        <ion-fab-button size="small" color="light" translucent="true" routerLink="/home">
          <ion-icon name="qr-code-outline" color="primary"></ion-icon>
        </ion-fab-button>
      </div>
    </div>
  </ion-row>
  <ion-text class="section-header" color="primary">&nbsp;&nbsp;<br/>Display Name<br/><br/></ion-text>
  <ion-list>
    <ion-item detail routerLink="/persona-x1">
      <ion-avatar>
        <img src="/assets/jess-taylor-profile.jpg">
      </ion-avatar>
      <ion-label class="ion-padding-start">
        Display Name
        <div class="field-label">username@aerpass.com</div>
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <ion-icon name="checkmark-circle-outline" color="primary"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item detail routerLink="/persona-x2">
      <ion-avatar>
        <img src="/assets/person-circle-outline-medium.svg">
      </ion-avatar>
      <ion-label class="ion-padding-start">
        Display Name
        <div class="field-label">username@gmail.com</div>
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <ion-icon name="checkmark-circle-outline" color="primary"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item detail routerLink="/persona-x3">
      <ion-avatar>
        <img src="/assets/person-circle-outline-medium.svg">
      </ion-avatar>
      <ion-label class="ion-padding-start">
        School - Admin
        <div class="field-label">admin@nyu.edu</div>
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <ion-icon name="checkmark-circle-outline" color="primary"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item detail routerLink="/persona-x3">
      <ion-avatar>
        <img src="/assets/person-circle-outline-medium.svg">
      </ion-avatar>
      <ion-label class="ion-padding-start">
        Private - Other
        <div class="field-label">secret@other.net</div>
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <ion-icon name="checkmark-circle-outline" color="primary"></ion-icon>
      </ion-note>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button routerLink="/persona-add">
      <ion-icon name="add-outline" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
