<ion-header class="ion-no-border">
  <ion-toolbar color="danger"></ion-toolbar>
</ion-header>
<ion-content color="danger">

  <ion-row>
    <div class="v-center pad10">
      <ion-icon name="alert-circle-outline" class="icon-huge" color="light"></ion-icon><br/>
      <ion-text class="ion-justify-content-center" color="light"><h1>PLEASE CONFIRM</h1></ion-text>
      <ion-text class="text-small">
        <br/>This action will permanently<br/>delete your Smart ID and<br/>cannot be undone.
      </ion-text>
    </div>
  </ion-row>

</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar color="danger">
    <ion-button expand="block" class="pad15 ion-margin-bottom" color="light" routerLink="/get-started">
      Delete Profile
    </ion-button>
    <ion-button expand="block" class="pad15 ion-margin-bottom" color="dark" routerLink="/personal-info" routerDirection="back">
      Cancel
    </ion-button>
  </ion-toolbar>
</ion-footer>
