<ion-header class="ion-no-border">
  <ion-toolbar color="danger"></ion-toolbar>
</ion-header>
<ion-content color="danger">

  <ion-row>
    <div class="hv-center">
      <ion-icon name="alert-circle-outline" class="icon-huge" color="light"></ion-icon><br/>
      <ion-text class="ion-justify-content-center" color="light"><h1>PLEASE CONFIRM</h1></ion-text>
    </div>
  </ion-row>

  <ion-row class="lower-third ion-justify-content-center">
    <ion-text class="text-small ion-text-center">
      This action cannot be undone.
    </ion-text>
  </ion-row>

</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar color="danger">
    <ion-button expand="block" class="pad15 ion-margin-bottom" color="light" routerLink="/get-started">
      Delete Account
    </ion-button>
    <ion-button expand="block" class="pad15 ion-margin-bottom" color="dark" routerLink="/view-personal-info" routerDirection="back">
      Cancel
    </ion-button>
  </ion-toolbar>
</ion-footer>
