<ion-content fullscreen="true">
  <ion-row>
    <img src="/assets/ocrverify-mc.png" alt="OCR" routerLink="/success-ocrverify-mc"/>
  </ion-row>
  <ion-row>
    <img src="/assets/ocrverify.png" alt="OCR"/>
  </ion-row>
  <ion-row>
    <img src="/assets/ocrverify-mc-footer.png" alt="OCR" routerLink="/auth-login-partner5"/>
  </ion-row>
  <ion-fab slot="fixed" vertical="bottom" horizontal="center">
    <ion-label class="aer-label ion-text-center" color="milconnect2">MC Login</ion-label>
    <ion-fab-button color="milconnect2" routerLink="/auth-login-partner5-mc">
      <ion-icon src="/assets/links-mark.svg" class="icon-fab" color="white"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
