<ion-header class="ion-no-border">
  <ion-toolbar color="transparent">
    <ion-buttons slot="start">
      <ion-back-button color="medium" defaultHref="/home-scanner"></ion-back-button>
    </ion-buttons>
    <ion-title color="medium">AerPass Connect</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-page" fullscreen="true">
  <div class="v-center">
    <ion-card>
      <h4 class="ion-text-center">
        Scan QR code to connect to<br/>
        <span style="color: var(--ion-color-secondary)">1800Flowers Sign-In</span>
      </h4>
      <ion-row class="pad15">
        <img src="/assets/ap-validate-email-qr.png" routerLink="/auth-login" />
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-text class="ion-text-center text-smaller">
          &nbsp;&nbsp;<br/>
          Don't have AerPass?<br/>&nbsp;&nbsp;
        </ion-text>
      </ion-row>
      <ion-row class="pad15">
        <ion-item>
          <ion-label position="stacked" color="medium">
            Enter mobile number
          </ion-label>
          <ion-input type="text" value="+1 (321) 456-7890"></ion-input>
        </ion-item>
      </ion-row>
      <!--<ion-toolbar>
        <ion-button expand="block" class="pad15" color="primary" routerLink="/auth-login">
          <ion-icon src="/assets/A-symbol.svg" color="white"></ion-icon>
          &nbsp; AerPass Connect
        </ion-button>
      </ion-toolbar>-->
      <ion-row class="ion-justify-content-center">
        <ion-text class="ion-text-center">
          &nbsp;&nbsp;<br/>&nbsp;&nbsp;
        </ion-text>
      </ion-row>

      <ion-row class="pad5">
        <ion-text class="ion-text-justify text-smallest">
          &nbsp;&nbsp;<br/>
          To continue, AerPass will share your display name, email address, language preference, and profile picture with 1800Flowers Sign-in. Before using this app, you can review 1800Flowers Sign-In's <span style="color: var(--ion-color-secondary)">privacy policy</span> and <span style="color: var(--ion-color-secondary)">terms of service</span>.<br/>&nbsp;
        </ion-text>
      </ion-row>
    </ion-card>
  </div>
</ion-content>
