//MilitaryConnect branding
.profile-pic-pid {
  width: 54vw;
  height: 54vw;
  border-radius: 50%;
  border: 2pt solid var(--ion-color-coastguard-blue);
  text-align: center;
  display: inline-block;
}

.profile-frame-pid {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56.5vw;
  height: 56.5vw;
  border-radius: 50%;
  border: 2pt solid var(--ion-color-coastguard-blue);
}
