<ion-header translucent="true" class="ion-no-border">
  <ion-toolbar>
    <ion-avatar slot="start" class="profile-pic-toolbar ion-margin-start" routerLink="/profile-select">
      <img src="/assets/jess-taylor-profile.jpg" alt="" />
    </ion-avatar>
    <ion-title>Channels</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon name="search" color="primary"></ion-icon>
      </ion-button>
      <ion-button color="primary" fill="clear">
        <ion-icon name="camera" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" color="utility">
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="black" class="outline" routerLink="/ok-bottom-sheet" routerDirection="root">
      <ion-icon name="add" class="icon-larger"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-row>
    <ion-text>&nbsp;</ion-text>
  </ion-row>
  <ion-row class="ion-padding ion-justify-content-center">
    <ion-icon src="/assets/ok-check-fff-alpha.svg/" class="icon-big"></ion-icon>
  </ion-row>
  <ion-card>
    <ion-item lines="none" routerLink="/channel-detail">
      <ion-avatar slot="start">
        <img src="/assets/jess-taylor-profile.jpg">
      </ion-avatar>
      <ion-label color="primary">
        <b>My Channel</b><br/>
        <ion-text class="text-smaller" color="medium">40K Followers</ion-text>
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-list>
      <ion-list-header>Favorites</ion-list-header>
      <ion-item routerLink="/channel-detail">
        <ion-avatar slot="start">
          <img src="/assets/profile-rose-morgan.jpg">
        </ion-avatar>
        <ion-label>
          <b>Rose Morgan</b><br/>
          <ion-text class="text-smaller" color="medium">40K Followers</ion-text>
        </ion-label>
      </ion-item>
      <ion-item routerLink="/channel-detail">
        <ion-avatar slot="start">
          <img src="/assets/profile-morgan.png">
        </ion-avatar>
        <ion-label>
          <b>David Morgan</b><br/>
          <ion-text class="text-smaller" color="medium">10K Followers</ion-text>
        </ion-label>
      </ion-item>
      <ion-item routerLink="/channel-detail">
        <ion-avatar slot="start">
          <img src="/assets/profile-zen.png">
        </ion-avatar>
        <ion-label>
          <b>Daniel Zen</b><br/>
          <ion-text class="text-smaller" color="medium">10K Followers</ion-text>
        </ion-label>
      </ion-item>
      <ion-item routerLink="/channel-detail">
        <ion-avatar slot="start">
          <img src="/assets/profile-donnell.jpg">
        </ion-avatar>
        <ion-label>
          <b>Mike Donnell</b><br/>
          <ion-text class="text-smaller" color="medium">10K Followers</ion-text>
        </ion-label>
      </ion-item>
      <ion-item lines="none" routerLink="/channel-detail">
        <ion-avatar slot="start">
          <img src="/assets/profile-taylor.png">
        </ion-avatar>
        <ion-label>
          <b>Jess Taylor</b><br/>
          <ion-text class="text-smaller" color="medium">10K Followers</ion-text>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card>
    <ion-list>
      <ion-list-header>People</ion-list-header>
      <ion-item routerLink="/channel-detail">
        <ion-avatar slot="start">
          <img src="/assets/person-circle-outline-medium.svg">
        </ion-avatar>
        <ion-label>
          <b>Person A</b><br/>
          <ion-text class="text-smaller" color="medium">2.4M Followers</ion-text>
        </ion-label>
      </ion-item>
      <ion-item routerLink="/channel-detail">
        <ion-avatar slot="start">
          <img src="/assets/person-circle-outline-medium.svg">
        </ion-avatar>
        <ion-label>
          <b>Person B</b><br/>
          <ion-text class="text-smaller" color="medium">1M Followers</ion-text>
        </ion-label>
      </ion-item>
      <ion-item routerLink="/channel-detail">
        <ion-avatar slot="start">
          <img src="/assets/person-circle-outline-medium.svg">
        </ion-avatar>
        <ion-label>
          <b>Person C</b><br/>
          <ion-text class="text-smaller" color="medium">750K Followers</ion-text>
        </ion-label>
      </ion-item>
      <ion-item routerLink="/channel-detail">
        <ion-avatar slot="start">
          <img src="/assets/person-circle-outline-medium.svg">
        </ion-avatar>
        <ion-label>
          <b>Person D</b><br/>
          <ion-text class="text-smaller" color="medium">500K Followers</ion-text>
        </ion-label>
      </ion-item>
      <ion-item lines="none" routerLink="/channel-detail">
        <ion-avatar slot="start">
          <img src="/assets/person-circle-outline-medium.svg">
        </ion-avatar>
        <ion-label>
          <b>Person E</b><br/>
          <ion-text class="text-smaller" color="medium">250K Followers</ion-text>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card>
    <ion-list>
      <ion-list-header>Businesses</ion-list-header>
      <ion-item routerLink="/channel-detail">
        <ion-img slot="start" class="partner-app-icon" src="/assets/ca-1800flowers.png" alt=""></ion-img>
        <ion-label class="ion-padding-start">1800 Flowers</ion-label>
      </ion-item>
      <ion-item routerLink="/channel-detail">
        <ion-img slot="start" class="partner-app-icon" src="/assets/ca-amazon.png" alt=""></ion-img>
        <ion-label class="ion-padding-start">Amazon</ion-label>
      </ion-item>
      <ion-item routerLink="/channel-detail">
        <ion-img slot="start" class="partner-app-icon" src="/assets/ca-bestbuy.png" alt=""></ion-img>
        <ion-label class="ion-padding-start">Best Buy</ion-label>
      </ion-item>
      <ion-item routerLink="/channel-detail">
        <ion-img slot="start" class="partner-app-icon" src="/assets/ca-costco.png" alt=""></ion-img>
        <ion-label class="ion-padding-start">Costco</ion-label>
      </ion-item>
      <ion-item routerLink="/channel-detail">
        <ion-img slot="start" class="partner-app-icon" src="/assets/ca-rakuten.png" alt=""></ion-img>
        <ion-label class="ion-padding-start">Rakuten</ion-label>
      </ion-item>
      <ion-item routerLink="/channel-detail">
        <ion-img slot="start" class="partner-app-icon" src="/assets/ca-target.png" alt=""></ion-img>
        <ion-label class="ion-padding-start">Target</ion-label>
      </ion-item>
      <ion-item routerLink="/channel-detail" lines="none">
        <ion-img slot="start" class="partner-app-icon" src="/assets/ca-walmart.png" alt=""></ion-img>
        <ion-label class="ion-padding-start">Walmart</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

</ion-content>

<ion-tab-bar translucent="true" slot="bottom">
  <ion-tab-button routerLink="/calendar" routerDirection="root">
    <ion-icon src="/assets/home-off.svg"></ion-icon>
    <ion-label color="medium">Home</ion-label>
  </ion-tab-button>
  <ion-tab-button routerLink="/channel-list" routerDirection="root">
    <ion-label color="dark">Channels</ion-label>
    <ion-icon src="/assets/at-sign-grn-111.svg"></ion-icon>
  </ion-tab-button>
  <ion-tab-button routerLink="/chat-list-group" routerDirection="root">
    <ion-label color="medium">Communities</ion-label>
    <ion-icon src="/assets/earth-off.svg"></ion-icon>
  </ion-tab-button>
  <ion-tab-button routerLink="/chat-list" routerDirection="root">
    <ion-label color="medium">Chats</ion-label>
    <ion-icon src="/assets/chatbubble-off.svg"></ion-icon>
  </ion-tab-button>
  <ion-tab-button routerLink="/profile-home" routerDirection="root">
    <ion-label color="medium">Settings</ion-label>
    <ion-icon src="/assets/settings-off.svg"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>
