<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/view-test-list"></ion-back-button>
    </ion-buttons>
    <ion-title>
    Test Details
  </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center">
    <ion-avatar class="profile-frame">
      <img src="/assets/jess-taylor-profile.jpg" class="profile-pic">
    </ion-avatar>
  </ion-row>
  <ion-text class="section-header" color="primary">Jess Taylor</ion-text>

  <ion-list>
    <ion-item>
      <ion-label>
        <div class="field-label">Manufacturer / Lab</div>
        PRA Health Sciences
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <div class="field-label">Type</div>
        Serology - Antibody
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <div class="field-label">Certified</div>
        <ion-icon name="shield-checkmark-outline" color="primary"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label>
        <div class="field-label">Result</div>
        Negative
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <div class="field-label">Clear</div>
        <ion-icon name="checkmark-circle-outline" color="success"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label>
        <div class="field-label">Test Date</div>
        6/14/2020
      </ion-label>
      <ion-label slot="end" class="ion-text-end">
        <div class="field-label">Result Date</div>
        6/14/2020
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <div class="field-label">Specimen ID</div>
        078-988-9015-0
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
