<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/view-test-list">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Jess Taylor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <br>
    <ion-row class="ion-justify-content-center">
      <div class="pad10">
          <img src="/assets/PRA_Health.png">
      </div>
    </ion-row>
    <div class="pad-top3">
      <ion-text class="section-header" color="primary">Test Details</ion-text>
    </div>
  </div>

  <ion-list>
    <ion-item>
      <ion-label>
        <h3 class="field-label">Manufacturer / Lab</h3>
        <H2>PRA Health Sciences</H2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3 class="field-label">Type</h3>
        <H2>Serology - Antibody</H2>
      </ion-label>
      <ion-note slot="end" align="right">
        Certified<br>
        <ion-icon name="checkmark-circle-outline" color="primary"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3 class="field-label">Result</h3>
        <H2>Negative</H2>
      </ion-label>
      <ion-note slot="end" align="right">
        Clear<br>
        <ion-icon name="checkmark-circle-outline" color="success"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3 class="field-label">Test Date</h3>
        <H2>6/14/2020</H2>
      </ion-label>
      <ion-label slot="end" align="right">
        <h3 class="field-label">Result Date</h3>
        <H2>6/14/2020</H2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3 class="field-label">Specimen ID</h3>
        <H2>078-988-9015-0</H2>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
