<ion-header class="ion-no-border">
  <ion-toolbar translucent="true">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home-scanner"></ion-back-button>
    </ion-buttons>
    <ion-title color="safetypass">
      SafetyPASS Check In
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-card>
    <img src="assets/google-map-msg.png" />
    <ion-card-header>
      <ion-card-subtitle>Check-in</ion-card-subtitle>
      <ion-card-title class="text-smaller">Madison Square Garden</ion-card-title>
    </ion-card-header>
  <ion-card-content>
    <ion-row>
      <ion-text class="text-smallest">
        Billed as the "world's most famous arena" hosts pro sports, concerts & other big events.
      </ion-text>
    </ion-row>
    <ion-row>
      &nbsp;&nbsp;
    </ion-row>
    <ion-row>
      <ion-icon name="location-outline" color="primary"></ion-icon>
      <ion-text class="ion-padding-start text-smallest">
        4 Pennsylvania Plaza, New York, NY 10001
      </ion-text>
    </ion-row>
    <ion-row>
      <ion-item>
        <ion-label position="floating" color="medium">How many in your party? <ion-text color="danger">*</ion-text></ion-label>
        <ion-input></ion-input>
      </ion-item>
    </ion-row>
  </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" class="pad15 ion-margin-bottom" routerLink="/checkin-success">
      Check In
    </ion-button>
  </ion-toolbar>
</ion-footer>
