<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="end" routerLink="/add-personal-info">
      <ion-button>Skip</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content color="primary">
  <div class="hv-center">
    <ion-row class="text ion-text-left pad15">
      <ion-text class="text">Safety PASS Network</ion-text>
    </ion-row>
    <ion-row class="text-small ion-text-left pad15">
      requires identity verification
    </ion-row>
    <ion-row class="ion-text-left pad15 text-small">
      <ul>
        <li>Verification is based on a scan of your driver license or state ID card.</li>
        <li>AerPass wall also perform a facial scan to verify that it's really you and not a robot.</li>
        <li>Once you've been verified, you will be able to order tests, upload results, and access your health records.</li>
      </ul>
    </ion-row>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-button expand="block" class="pad15 ion-margin-bottom" color="light" routerLink="/jumio1">
      Verify Identity
    </ion-button>
  </ion-toolbar>
</ion-footer>
