<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile-home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content color="primary">
  <div class="v-center">
    <ion-row class="text ion-text-left pad15">
      <ion-text class="text">AERPASS</ion-text>
    </ion-row>
    <ion-row class="text-small ion-text-justify pad15">
      Stores your most sensitive information in a Vault that can never be accessed without identity verification.
    </ion-row>
    <ion-row class="ion-text-justify pad15 text-smaller">
      <ul>
        <li>Verification is based on a scan of a government issued ID card, driver's license, or passport.</li>
        <li>AerPass wall also perform a facial scan to verify that it's really you and no one else.</li>
        <li>Once you've been verified, you will be able to send and receive money, and access all services which require your true identity.</li>
      </ul>
    </ion-row>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-button expand="block" class="pad15 ion-margin-bottom" color="light" routerLink="/jumio1">
      Verify Identity
    </ion-button>
  </ion-toolbar>
</ion-footer>
