ion-icon {
  --ion-color-light: white;
}

ion-slides {
  --bullet-background: var(--ion-color-brand2);
  --bullet-background-active: var(--ion-color-brand2);
}

li:not(:last-child) {
  margin-bottom: .5em;
}
