<ion-content color="black">
  <div class="v-center">
    <ion-row class="ion-justify-content-center">
      <ion-img src="/assets/OK-grn-fff.svg" class="pad20"></ion-img>
    </ion-row>
    <ion-row class="text-smaller ion-justify-content-center ion-padding-top">
      &nbsp;&nbsp;
    </ion-row>
    <ion-row>
      <ion-slides pager="true" style='height: 100%;'>
        <ion-slide>
          <ion-grid>
            <ion-row class="pad20">
              <ion-text class="text">&nbsp;&nbsp;</ion-text>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-text class="text">
                Welcome!<br/><br/>
                Let's get started
              </ion-text>
            </ion-row>
          </ion-grid>
        </ion-slide>
        <ion-slide class="text-small">
          <ion-grid>
            <ion-row class="ion-justify-content-center">
              <ion-text class="text-smaller"><h3>Messaging you can trust</h3></ion-text>
            </ion-row>
            <ion-row class="ion-text-left pad10">
              <ul class="text-smaller">
                <li><i>Every</i> user's identity is verified.</li>
                <li>Prove your identity to any user without showing your ID.</li>
                <li>Verify the identity of any user with just a few taps.</li>
                <li>You'll only see messages from users you’ve connected with & approved.</li>
                <li>No bots.  No spam.  No scams.</li>
              </ul>
            </ion-row>
            <ion-row><ion-text class="text">&nbsp;&nbsp;</ion-text></ion-row>
          </ion-grid>
        </ion-slide>
        <ion-slide class="text-small">
          <ion-grid>
            <ion-row class="ion-justify-content-center">
              <ion-text class="text-smaller"><h3>You control your data</h3></ion-text>
            </ion-row>
            <ion-row class="ion-text-left pad10">
              <ul class="text-smaller">
                <li>Absolute privacy protection</li>
                <li>You control what you share</li>
                <li>No sensitive information is ever stored on your device</li>
                <li>Easily disconnect and reconnect your device at any time</li>
                <li>Access is linked to your device biometrics so only you can use it</li>
              </ul>
            </ion-row>
            <ion-row><ion-text class="text">&nbsp;&nbsp;</ion-text></ion-row>
          </ion-grid>
        </ion-slide>
      </ion-slides>
    </ion-row>
    <ion-row class="ion-justify-content-center">&nbsp;&nbsp;</ion-row>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-fab horizontal="center">
            <ion-fab-button color="success" routerLink="/biometrics">
              <ion-icon name="person-outline" class="icon-fab"></ion-icon>
            </ion-fab-button>
            <ion-label class="aer-label">Create<br/>Account</ion-label>
          </ion-fab>
        </ion-col>
        <ion-col size="6">
          <ion-fab horizontal="center">
            <ion-fab-button color="army-black" class="outline" routerLink="/biometrics-mc">
              <ion-icon name="phone-portrait-outline" class="icon-fab" color="success"></ion-icon>
            </ion-fab-button>
            <ion-label class="aer-label">Connect<br/>Device</ion-label>
          </ion-fab>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
<!--<ion-footer class="ion-no-border">
  <ion-toolbar color="raven">
    <ion-button expand="block" color="primary" class="pad15 ion-margin-bottom" routerLink="/biometrics">
      Connect Device
    </ion-button>
  </ion-toolbar>
</ion-footer>-->
