<ion-content color="deep">
  <div class="v-center">
    <ion-row class="ion-justify-content-center">
      <ion-img src="/assets/AOK-Logo-grad-lt.svg" class="pad20"></ion-img>
    </ion-row>
    <ion-row class="text-smaller ion-justify-content-center ion-padding-top">
      &nbsp;&nbsp;
    </ion-row>
    <ion-row>
      <ion-slides pager="true" style='height: 100%;'>
        <ion-slide>
          <ion-grid>
            <ion-row class="pad10">
              <ion-text class="text">&nbsp;&nbsp;</ion-text>
            </ion-row>
            <ion-row class="pad10 ion-justify-content-center">
              <ion-text class="text">
                Messages you can trust from people you know.<br/><br/>
                  Go from Zero to Trust<br/>in three steps.
              </ion-text>
            </ion-row>
          </ion-grid>
        </ion-slide>
        <ion-slide class="text-small">
          <ion-grid>
            <ion-row class="ion-justify-content-center">
              <ion-text class="text-smaller"><h3>You control your contacts</h3></ion-text>
            </ion-row>
            <ion-row class="ion-text-left pad10">
              <ul class="text-smaller">
                <li><i>Every</i> user's identity is verified<br/><br/></li>
                <li>You'll only see messages from users you’ve approved<br/><br/></li>
                <li>No spam.  No scams</li>
              </ul>
            </ion-row>
            <ion-row><ion-text class="text">&nbsp;&nbsp;</ion-text></ion-row>
          </ion-grid>
        </ion-slide>
        <ion-slide class="text-small">
          <ion-grid>
            <ion-row class="ion-justify-content-center">
              <ion-text class="text-smaller"><h3>You control your data</h3></ion-text>
            </ion-row>
            <ion-row class="ion-text-left pad10">
              <ul class="text-smaller">
                  <li>Absolute privacy protection<br/><br/></li>
                  <li>Access is linked to your device biometrics so only you can be you<br/><br/></li>
                  <li>You control what you share</li>
              </ul>
            </ion-row>
            <ion-row><ion-text class="text">&nbsp;&nbsp;</ion-text></ion-row>
          </ion-grid>
        </ion-slide>
      </ion-slides>
    </ion-row>
    <ion-row class="ion-justify-content-center">&nbsp;&nbsp;</ion-row>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
    <ion-toolbar color="deep">
        <ion-button expand="block" shape="round" class="pad15 ion-margin-bottom" color="brand2" routerLink="/biometrics">
            Get Started
        </ion-button>
    </ion-toolbar>
</ion-footer>

