<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/view-health-info"></ion-back-button>
    </ion-buttons>
    <ion-title color="safetypass">
    Health Checks
  </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center">
    <ion-avatar class="profile-frame">
      <img src="/assets/jess-taylor-profile.jpg" class="profile-pic">
    </ion-avatar>
  </ion-row>
  <ion-text class="section-header" color="primary">History<br/><br/></ion-text>

  <ion-list>
    <ion-item detail routerLink="/view-test-details">
      <ion-icon name="flask-outline"></ion-icon>
      <ion-label class="ion-padding-start">
        Abbott Labs
        <div class="field-label">SARS-CoV-2 Antigen</div>
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <ion-icon name="checkmark-circle" color="success"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item detail routerLink="/view-test-details">
      <ion-icon name="flask-outline"></ion-icon>
      <ion-label class="ion-padding-start">
        PRA Health
        <div class="field-label">SARS-CoV-2 Antibody</div>
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <ion-icon name="checkmark-circle" color="success"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item detail routerLink="/view-test-details">
      <ion-icon name="flask-outline"></ion-icon>
      <ion-label class="ion-padding-start">
        LabCorp
        <div class="field-label">SARS-CoV-2 Molecular PCR</div>
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <ion-icon name="checkmark-circle" color="success"></ion-icon>
      </ion-note>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="cloud-download-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
