<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/view-health-info">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Jess Taylor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center">
    <ion-avatar class="profile-frame">
      <img src="/assets/jess-taylor-profile.jpg" class="profile-pic">
    </ion-avatar>
  </ion-row>
  <ion-text class="section-header" color="primary">Testing</ion-text>

  <ion-list>
    <ion-item detail routerLink="/view-test-details">
      <ion-avatar>
        <img src="/assets/PRA_Health.png">
      </ion-avatar>
      <ion-label class="ion-padding-start">
        PRA Health
        <div class="field-label">COVID-19 Antibody</div>
      </ion-label>
      <ion-note slot="end" align="right">
        <ion-icon name="checkmark-circle-outline" color="success"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item detail routerLink="/view-test-details">
      <ion-avatar>
        <img src="/assets/PRA_Health.png">
      </ion-avatar>
      <ion-label class="ion-padding-start">
        PRA Health
        <div class="field-label">COVID-19 Antibody</div>
      </ion-label>
      <ion-note slot="end" align="right">
        <ion-icon name="checkmark-circle-outline" color="success"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item detail routerLink="/view-test-details">
      <ion-avatar>
        <img src="/assets/PRA_Health.png">
      </ion-avatar>
      <ion-label class="ion-padding-start">
        PRA Health
        <div class="field-label">COVID-19 Molecular PCR</div>
      </ion-label>
      <ion-note slot="end" align="right">
        <ion-icon name="checkmark-circle-outline" color="success"></ion-icon>
      </ion-note>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/add-test">
      <ion-icon name="add-outline" class="larger-icon"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
