<ion-content color="milconnect2">

  <ion-row>
    <div class="v-center">
      <ion-icon name="checkmark-circle-outline" class="icon-huge" color="white"></ion-icon><br/>
      <ion-text class="ion-justify-content-center" color="white"><h1>SUCCESS!</h1></ion-text>
      <ion-row class="pad10 ion-margin-top ion-justify-content-center">
        <ion-text class="text-smaller ion-text-center" color="white">
          Your military service has been verified.
        </ion-text>
      </ion-row>
      <ion-row class="pad10 ion-margin-top ion-justify-content-center">
        <ion-text class="text-smaller ion-text-center" color="white">
          <br/>
          Tap to get the Military Connect app.
        </ion-text>
      </ion-row>
    </div>
  </ion-row>

</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar color="milconnect2">
    <ion-button expand="block" class="pad15 ion-margin-bottom" color="white" href="https://get-mc.aerpass.com">
      Get the App
    </ion-button>
  </ion-toolbar>
</ion-footer>
