ion-content, ion-header, ion-toolbar, ion-avatar, ion-row, ion-tab-bar {
  --background: transparent;
  //  --background:rgba(5,16,51,0.75);
}

ion-content {
  --overflow: hidden;
}

.upper-third {
  @extend .stretch!optional;
  padding: 0 15vw 0 15vw;
  background-color: transparent;
  position: absolute;
  top: 13%;
  margin-top: env(safe-area-inset-top);
  z-index: 9;
}

ion-tab-bar {
  background: rgba(5,16,51,0.75);
}

.display-qr {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60vw;
  height: 60vw;
}
