ion-content, ion-avatar, ion-row, ion-tab-bar {
  --background: transparent;
}

ion-content {
  --overflow: hidden;
}

.upper-third {
  @extend .stretch!optional;
  padding: 0 5vw 0 5vw;
  background-color: transparent;
  position: absolute;
  top: 15%;
  margin-top: env(safe-area-inset-top);
  z-index: 9;
}
