<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="light" routerLink="/profile-home" routerDirection="root" fill="clear">
        <ion-icon name="reorder-three-outline" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-justify-content-center">
      <ion-button routerLink="/profile-home" routerDirection="root" fill="clear">
        <ion-avatar class="profile-pic-toolbar">
          <img src="/assets/jess-taylor-profile.jpg">
        </ion-avatar>
      </ion-button>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" routerLink="/profile-home" routerDirection="root" fill="clear">
        <ion-icon name="notifications-outline" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-row class="hv-center">
    <img src="/assets/scanner-bg.png" alt="scanner">
  </ion-row>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add-outline" size="large"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light">
        <ion-icon name="qr-code-outline" color="primary"></ion-icon>
      </ion-fab-button>
      <ion-label class="aer-label" color="light">Health<br/>Check</ion-label>
    </ion-fab-list>
  </ion-fab>

</ion-content>
