<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!--<ion-text class="ion-text-center">
      <ion-title class="ion-justify-content-center">
        <ion-button routerLink="/profile-home" routerDirection="root" fill="clear">
          <ion-avatar class="profile-pic-toolbar">
            <img src="/assets/jess-taylor-profile.jpg">
          </ion-avatar>
        </ion-button>
      </ion-title>
    </ion-text>-->
    <ion-buttons slot="end">
      <ion-button color="primary" routerLink="/app-email-client-find" routerDirection="root" fill="clear">
        <ion-icon name="notifications-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-row class="v-center">
    <img src="/assets/scanner-bg.png" alt="scanner">
  </ion-row>
  <div class="hero-top">
    <ion-row class="ion-justify-content-center">
      <div class="profile">
        <ion-avatar class="profile-frame">
          <img src="/assets/jess-taylor-profile.jpg" class="profile-pic" alt="Profile Pic" routerLink="/profile-home" routerDirection="root">
        </ion-avatar>
        <div class="btn">
          <ion-fab-button size="small" color="light" translucent="true" routerLink="/profile-code">
            <ion-icon name="qr-code-outline" color="primary"></ion-icon>
          </ion-fab-button>
        </div>
      </div>
    </ion-row>
  </div>

  <div class="v-center">
    <ion-slides style="width: 100%">
      <ion-slide>
        <div class="ion-text-center">
          <ion-row class="ion-justify-content-center">
            <div class="display-qr">
              <img src="/assets/ap-login-auth-qr.svg" routerLink="/login-auth" />
            </div>
          </ion-row>
          <div>
            <ion-text class="text-smallest" color="primary">Scan QR Code to Login</ion-text>
          </div>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="ion-text-center">
          <ion-row class="ion-justify-content-center">
            <div class="display-qr">
              <img src="/assets/ap-payment-auth-qr.svg" routerLink="/payment-auth" />
            </div>
          </ion-row>
          <div>
            <ion-text class="text-smallest" color="primary">Scan QR Code to Pay</ion-text>
          </div>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="ion-text-center">
          <ion-row class="ion-justify-content-center">
            <div class="display-qr">
              <img src="/assets/ap-safety-pass-result-qr.svg" routerLink="/hc-result" />
            </div>
          </ion-row>
          <div>
            <ion-text class="text-smallest" color="primary">Scan QR Code to Validate</ion-text>
          </div>
        </div>
      </ion-slide>

    </ion-slides>
  </div>

  <ion-row class="lower-third ion-justify-content-center">
    <ion-button expand="block" class="pad20" color="light" routerLink="/view-hc-status">
      <ion-icon src="/assets/shield-cross-outline.svg" color="safetypass"></ion-icon>
      <ion-text color="safetypass">&nbsp;&nbsp;SafetyPASS Badge</ion-text>
    </ion-button>
  </ion-row>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed" edge>
    <ion-fab-button routerLink="/activate-card">
      <ion-icon class="icon-fab" name="logo-usd"></ion-icon>
    </ion-fab-button>
    <!--<ion-fab-list side="top">
      <ion-fab-button color="light" routerLink="/profile-home">
        <ion-icon name="arrow-down-outline" color="primary"></ion-icon>
      </ion-fab-button>
      <ion-label class="fab-label">Request</ion-label>
      <ion-fab-button color="light" routerLink="/profile-home">
        <ion-icon name="arrow-up-outline" color="primary"></ion-icon>
      </ion-fab-button>
      <ion-label class="fab-label">Send</ion-label>
      <ion-fab-button color="light" routerLink="/profile-home">
        <ion-icon name="logo-usd" color="primary"></ion-icon>
      </ion-fab-button>
      <ion-label class="fab-label">Balance</ion-label>
    </ion-fab-list>-->
  </ion-fab>
</ion-content>
<ion-footer translucent="true">
  <ion-toolbar>
  <ion-buttons slot="start" class="ion-margin-bottom">
    <ion-button routerLink="/home-map" routerDirection="back">
      <ion-icon name="compass-outline" color="primary"></ion-icon>
      <ion-label color="primary">&nbsp;&nbsp;Map&nbsp;</ion-label>
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="end" class="ion-margin-bottom">
    <ion-button routerLink="/passes-modal">
      <ion-icon name="wallet-outline" color="primary"></ion-icon>
      <ion-label color="primary">&nbsp;&nbsp;Wallet&nbsp;</ion-label>
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-footer>

