<ion-header translucent="true" class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button routerLink="/calendar" routerDirection="back">Done</ion-button>
        </ion-buttons>
        <ion-title>
            <ion-segment value="scan">
                <ion-segment-button value="code" routerLink="/badge-profile-share" routerDirection="back">
                    <ion-label>Code</ion-label>
                </ion-segment-button>
                <ion-segment-button value="scan" routerLink="/home-scanner">
                    <ion-label>Scan</ion-label>
                </ion-segment-button>
            </ion-segment>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
    <ion-text color="white" class="upper-third ion-text-center text-smaller">
        Scan the QR code on your contact's device
    </ion-text>
    <ion-row class="v-center">
        <img src="/assets/scan-qr-device.jpg" alt="Scan QR Code" routerLink="/auth-login-ref">
    </ion-row>
    <div class="lower-third ion-justify-content-center">
        <ion-row class="ion-margin-vertical ion-justify-content-center">
            <ion-fab-button translucent="true" color="primary">
                <ion-icon name="images-outline"></ion-icon>
            </ion-fab-button>
        </ion-row>
    </div>
</ion-content>
