<ion-header class="ion-no-border">
  <ion-toolbar color="black">
    <ion-buttons slot="start">
      <ion-button color="white" routerLink="/tm-media-app-artist" routerDirection="root" fill="clear">
        <ion-icon name="sync-outline" color="white"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-text class="ion-text-center">
      <ion-title class="ion-justify-content-center">
        RENAISSANCE TOUR
      </ion-title>
    </ion-text>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="black">

  <div id="container-top">
    <ion-row class="ion-justify-content-center">
      <div class="ion-text-center">
        <ion-row class="ion-justify-content-center">
          <div class="profile-home">
            <ion-avatar class="profile-frame-home">
              <img src="/assets/jess-taylor-profile.jpg" class="profile-pic-home" alt="Profile Pic" routerLink="/tm-badge-ticket-code" routerDirection="root" />
            </ion-avatar>
            <div class="btn">
              <ion-fab-button color="light" translucent="true" routerLink="/tm-badge-ticket-code" routerDirection="root">
                <ion-icon name="qr-code-outline" color="dark" class="icon-fab"></ion-icon>
              </ion-fab-button>
            </div>
          </div>
        </ion-row>
        <ion-text class="section-header" color="white">
          Hannah Taylor
        </ion-text>
      </div>
    </ion-row>
  </div>
  <div id="container-bottom">
    <ion-row class="ion-justify-content-center">
      <div class="ion-text-center">
        <ion-row class="ion-justify-content-center">
          <ion-card class="display-details bg-light-blur">
            <ion-grid>
              <ion-row class="ion-padding-top ion-justify-content-center">
                <ion-card-subtitle>
                  Lincoln Financial Field
                </ion-card-subtitle>
              </ion-row>
              <ion-row class="ion-justify-content-center">
                <ion-text class="text-strong" color="dark">
                  Standard
                </ion-text>
              </ion-row>
            </ion-grid>
            <ion-row>
              <ion-col size="4">
                <ion-text class="text-smallest">
                  SECTION
                </ion-text>
              </ion-col>
              <ion-col size="4">
                <ion-text class="text-smallest">
                  ROW
                </ion-text>
              </ion-col>
              <ion-col size="4">
                <ion-text class="text-smallest">
                  SEAT
                </ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-text class="text-smaller" color="dark">
                  <b>218</b>
                </ion-text>
              </ion-col>
              <ion-col>
                <ion-text class="text-smaller" color="dark">
                  <b>14</b>
                </ion-text>
              </ion-col>
              <ion-col>
                <ion-text class="text-smaller" color="dark">
                  <b>10</b>
                </ion-text>
              </ion-col>
            </ion-row>
            <ion-toolbar class="base">
              <ion-row>
                <ion-col size="6">
                  <ion-button size="small" color="primary" fill="outline" expand="block"><ion-icon name="return-up-forward-outline"></ion-icon>&nbsp;&nbsp;Send</ion-button>
                </ion-col>
                <ion-col size="6">
                  <ion-button size="small" color="medium" fill="outline" expand="block"><ion-icon name="repeat-outline"></ion-icon>&nbsp;&nbsp;Sell</ion-button>
                </ion-col>
              </ion-row>
            </ion-toolbar>
          </ion-card>
        </ion-row>
      </div>
    </ion-row>
  </div>

</ion-content>
