<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile-home"></ion-back-button>
    </ion-buttons>
    <ion-title>
    AerPass Personas
  </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center">
    <ion-avatar class="profile-frame">
      <img src="/assets/jess-taylor-profile.jpg" class="profile-pic">
    </ion-avatar>
  </ion-row>
  <ion-text class="section-header" color="primary">Display Name<br/><br/></ion-text>
  <ion-list>
    <ion-item detail routerLink="/view-id">
        <ion-avatar>
          <img src="/assets/jess-taylor-profile.jpg">
        </ion-avatar>
      <ion-label class="ion-padding-start">
        Display Name
        <div class="field-label">username@aerpass.com</div>
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <ion-icon name="business-outline"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item detail routerLink="/view-id2">
      <ion-avatar>
        <img src="/assets/blank-user-avatar.png">
      </ion-avatar>
      <ion-label class="ion-padding-start">
        Display Name
        <div class="field-label">username@gmail.com</div>
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item detail routerLink="/view-id3">
      <ion-avatar>
        <img src="/assets/aerpass-merchant-logo.png">
      </ion-avatar>
      <ion-label class="ion-padding-start">
        School - Admin
        <div class="field-label">admin@nyu.edu</div>
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <ion-icon name="school-outline"></ion-icon>
      </ion-note>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/add-id">
      <ion-icon name="add-outline" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
