<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile-home"></ion-back-button>
    </ion-buttons>
    <ion-title>
    Employers
  </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center">
    <ion-avatar class="profile-frame">
      <img src="/assets/jess-taylor-profile.jpg" class="profile-pic">
    </ion-avatar>
  </ion-row>
  <ion-text class="section-header" color="primary">Jess Taylor</ion-text>
  <ion-list>
    <ion-item detail routerLink="/view-employer">
      <ion-avatar>
        <img src="/assets/jess-taylor-profile.jpg">
      </ion-avatar>
      <ion-label class="ion-padding-start">
        Aerius Inc.
        <div class="field-label">jess@aerpass.com</div>
      </ion-label>
    </ion-item>
    <ion-item detail routerLink="/view-employer">
      <ion-avatar>
        <img src="/assets/jess-taylor-profile.jpg">
      </ion-avatar>
      <ion-label class="ion-padding-start">
        Health Check
        <div class="field-label">jtaylor@healthchecksystems.com</div>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/add-employer">
      <ion-icon name="add-outline" class="icon-larger"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
