<ion-header translucent="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile-home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Personal Info
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/personal-info-edit">
        Edit
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="utility">
  <ion-card>
    <ion-img src="/assets/og-user-profile-free.jpg" alt="profile pic"></ion-img>
    <ion-list>
      <ion-item>
        <ion-label>
          <div class="field-label">Display name</div>
          Cherry Taylor
        </ion-label>
        <ion-icon name="checkmark-circle" color="brand3" slot="end" class="icon-small"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>
          <div class="field-label">Full name</div>
          Cherry Amanda Taylor
        </ion-label>
        <ion-icon name="checkmark-circle" color="brand3" slot="end" class="icon-small"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>
          <div class="field-label">Primary email address</div>
          username@domain.com
        </ion-label>
        <ion-icon name="checkmark-circle" color="brand3" slot="end" class="icon-small"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>
          <div class="field-label">Mobile number</div>
          +1 (321) 456-7890
        </ion-label>
        <ion-icon name="checkmark-circle" color="brand3" slot="end" class="icon-small"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>
          <div class="field-label">DOB</div>
          06/24/1984
        </ion-label>
        <ion-icon name="checkmark-circle" color="brand3" slot="end" class="icon-small"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>
          <div class="field-label">IDV Source</div>
          Passport
        </ion-label>
        <ion-icon name="checkmark-circle" color="brand3" slot="end" class="icon-small"></ion-icon>
      </ion-item>
      <ion-item-sliding>
        <ion-item lines="none">
          <ion-icon name="trash-outline"></ion-icon>
          <ion-label class="ion-padding-start" color="dark">
            <div class="field-label">Swipe Left to</div>
            Delete Account
          </ion-label>
          <ion-icon name="chevron-back-outline" color="medium" slot="end" class="icon-small"></ion-icon>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger" expandable routerLink="/delete-account">
            <ion-icon name="trash-outline" slot="start"></ion-icon>
            Delete Account
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-card>

</ion-content>

<ion-tab-bar translucent="true" slot="bottom">
  <ion-tab-button routerLink="/calendar" routerDirection="root">
    <ion-icon src="/assets/home-off.svg"></ion-icon>
    <ion-label color="medium">Home</ion-label>
  </ion-tab-button>
  <ion-tab-button routerLink="/channel-list" routerDirection="root">
    <ion-label color="medium">Channels</ion-label>
    <ion-icon src="/assets/at-sign-off.svg"></ion-icon>
  </ion-tab-button>
  <ion-tab-button routerLink="/chat-list-group" routerDirection="root">
    <ion-label color="medium">Communities</ion-label>
    <ion-icon src="/assets/earth-off.svg"></ion-icon>
  </ion-tab-button>
  <ion-tab-button routerLink="/chat-list" routerDirection="root">
    <ion-label color="medium">Chats</ion-label>
    <ion-icon src="/assets/chatbubble-off.svg"></ion-icon>
  </ion-tab-button>
  <ion-tab-button routerLink="/profile-home" routerDirection="root">
    <ion-label color="primary">Settings</ion-label>
    <ion-icon src="/assets/settings-on.svg" color="primary"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>
