$card-width: 85vw;
$card-height: 55vw;

.method {
  background: linear-gradient(120deg, var(--ion-color-brand-grad-start) 5%, var(--ion-color-brand-grad-end) 95%);
  //background: url(/assets/aerpass-card.png) no-repeat center;
  //background-size: contain;
  width: $card-width;
  height: $card-height;
  border-radius: 4vw;
  padding: 0 5vw 0 5vw;
}

.card-size {
  width: $card-width;
  height: $card-height;
}

.card-top {
  height: $card-height - 12vw;
}

.profile-spacer-top {
  padding-top: .5rem;
}
