<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-label color="medium">Cancel</ion-label>
      </ion-button>
    </ion-buttons>
    <ion-title>Personal Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center">
    <ion-avatar class="profile-frame">
      <img src="/assets/jess-taylor-profile.jpg" class="profile-pic">
    </ion-avatar>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-button color="primary" size="small" fill="clear">
      Add Picture
    </ion-button>
  </ion-row>
  <ion-list>
    <ion-item>
      <ion-label position="stacked" color="medium">
        Display name <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input type="text" value=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col>
          <ion-label position="stacked" color="medium">
            First name <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input type="text" value=""></ion-input>
        </ion-col>
        <ion-col>
          <div>
            <ion-label position="stacked" color="medium">Middle name</ion-label>
            <ion-input type="text" value=""></ion-input>
          </div>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col>
          <ion-label position="stacked" color="medium">
            Last name <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input type="text" value=""></ion-input>
        </ion-col>
        <ion-col>
          <ion-label position="stacked" color="medium">Suffix</ion-label>
          <ion-input type="text" value=""></ion-input>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" color="medium">
        Email address <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input type="email" value="" email="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" color="medium">
        Mobile number <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input type="tel" value=""></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-icon name="alert-circle-outline" color="danger"></ion-icon>
      <ion-text class="text-smallest ion-padding-start" color="medium">
        Email address must be verified in order to use AerPass.
      </ion-text>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button expand="block" class="pad15" routerLink="/profile-home">
      Continue
    </ion-button>
  </ion-toolbar>
</ion-footer>
