<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-label color="medium">Cancel</ion-label>
      </ion-button>
    </ion-buttons>
    <ion-title>Personal Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <br>
    <ion-row class="ion-justify-content-center">
      <div class="profile-frame">
        <ion-avatar class="profile-pic">
          <img src="/assets/jess-taylor-profile.jpg">
        </ion-avatar>
      </div>
    </ion-row>
    <ion-button color="primary" size="small" fill="clear" >
      Add Picture
    </ion-button>
  </div>
  <ion-list>
    <ion-item>
      <ion-label position="stacked" color="medium">Nickname</ion-label>
      <ion-input type="text" value=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col>
          <div>
            <ion-label position="stacked" color="medium">First name <ion-text color="danger">*</ion-text></ion-label>
            <ion-input type="text" value=""></ion-input>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-label position="stacked" color="medium">Middle name</ion-label>
            <ion-input type="text" value=""></ion-input>
          </div>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col>
          <div>
            <ion-label position="stacked" color="medium">Last name <ion-text color="danger">*</ion-text></ion-label>
            <ion-input type="text" value=""></ion-input>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-label position="stacked" color="medium">Suffix</ion-label>
            <ion-input type="text" value=""></ion-input>
          </div>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" color="medium">Email address <ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="email" value="" email="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" color="medium">Mobile number <ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="tel" value=""></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-icon name="alert-circle-outline" color="danger"></ion-icon>
      <ion-text class="text-smallest ion-padding-start" color="medium">
        Your email address must be verified in order to start using AerPass.
      </ion-text>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button expand="block" class="pad15" routerLink="/profile-home">
      Continue
    </ion-button>
  </ion-toolbar>
</ion-footer>
