<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Login</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/home-scanner" routerDirection="back">
        <ion-label color="medium">Cancel</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-page">
  <div class="hv-center">
    <ion-item lines="none" color="transparent" class="ion-align-items-baseline dark-gradient">
      <ion-avatar class="merchant-logo">
        <img src="/assets/aerpass-merchant-logo.png" alt="Merchant Logo">
      </ion-avatar>
      <ion-label class="ion-padding-start" color="light">
        www.aerpass.com
        <div class="address-label">
          Website login request
        </div>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-center section-header" color="primary">Login as:</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked" style="margin-bottom: 1vw">Persona</ion-label>

      <ion-slides style="width: 100%">

        <ion-slide>
          <div class="method">
            <ion-row class="ion-justify-content-center">
              <ion-avatar class="profile-frame">
                <img src="/assets/jess-taylor-profile.jpg" class="profile-pic" alt="Profile Pic">
              </ion-avatar>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-text color="light">Display Name - Work</ion-text><br/>
              <ion-text class="text-smaller" color="light">username@aerpass.com</ion-text>
            </ion-row>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="method">
            <ion-row class="ion-justify-content-center">
              <ion-avatar class="profile-frame">
                <img src="/assets/jess-taylor-profile.jpg" class="profile-pic" alt="Profile Pic">
              </ion-avatar>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-text color="light">Display Name - Personal</ion-text><br/>
              <ion-text class="text-smaller" color="light">username@gmail.com</ion-text>
            </ion-row>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="method">
            <ion-row class="ion-justify-content-center">
              <ion-avatar class="profile-frame">
                <img src="/assets/jess-taylor-profile.jpg" class="profile-pic" alt="Profile Pic">
              </ion-avatar>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-text color="light">Admin - AerPass</ion-text><br/>
              <ion-text class="text-smaller" color="light">admin@aerpass.com</ion-text>
            </ion-row>
          </div>
        </ion-slide>

      </ion-slides>

    </ion-item>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-row class="ion-justify-content-center">
    <ion-icon name="shield-checkmark-outline" class="icon-larger" color="primary"></ion-icon>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-text class="text-smallest" color="medium">
      Website Certified.<br/><br/>
    </ion-text>
  </ion-row>
  <ion-toolbar>
    <ion-button expand="block" class="pad15 ion-margin-bottom" routerLink="/login-success">
      Authorize
    </ion-button>
  </ion-toolbar>
</ion-footer>
