<ion-header translucent="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/channel-list" routerDirection="back">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
      <ion-avatar class="profile-pic-toolbar" routerLink="/chat-list" routerDirection="back">
        <img src="/assets/jess-taylor-profile.jpg" alt="" />
      </ion-avatar>
    </ion-buttons>
    <ion-text color="primary" class="ion-padding-top ion-padding-start">
      <strong>Cherry Taylor</strong>
    </ion-text>
    <ion-buttons slot="end">
      <ion-button routerLink="" routerDirection="root" fill="clear">
        <ion-icon name="videocam-outline" color="primary"></ion-icon>
      </ion-button>
      <ion-button routerLink="" routerDirection="root" fill="clear">
        <ion-icon name="call-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" color="utility">
  <ion-card>
    <img src="/assets/og-user-profile-plus.jpg" alt="Cherry Taylor">
    <ion-item lines="none">
      <ion-label color="primary">
        <b>My Channel</b><br/>
        <ion-text class="text-smaller" color="medium">View / Create</ion-text>
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <img src="/assets/og-user-profile-plus.jpg" alt="Cherry Taylor">
    <ion-item lines="none">
      <ion-label color="primary">
        <b>My Channel</b><br/>
        <ion-text class="text-smaller" color="medium">View / Create</ion-text>
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <img src="/assets/og-user-profile-plus.jpg" alt="Cherry Taylor">
    <ion-item lines="none">
      <ion-label color="primary">
        <b>My Channel</b><br/>
        <ion-text class="text-smaller" color="medium">View / Create</ion-text>
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <img src="/assets/og-user-profile-plus.jpg" alt="Cherry Taylor">
    <ion-item lines="none">
      <ion-label color="primary">
        <b>My Channel</b><br/>
        <ion-text class="text-smaller" color="medium">View / Create</ion-text>
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <img src="/assets/og-user-profile-plus.jpg" alt="Cherry Taylor">
    <ion-item lines="none">
      <ion-label color="primary">
        <b>My Channel</b><br/>
        <ion-text class="text-smaller" color="medium">View / Create</ion-text>
      </ion-label>
    </ion-item>
  </ion-card>

</ion-content>

<ion-footer translucent="true">
  <ion-toolbar class="ion-padding-bottom">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="add" class="icon-fab"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-input class="outline">
    </ion-input>
    <ion-buttons slot="end" class="ion-margin-start">
      <ion-button>
        <ion-icon name="camera-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="mic-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
