<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile-home"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Info</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/personal-info" routerDirection="back">
        <ion-label>Cancel</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <ion-row class="ion-justify-content-center">
      <ion-avatar class="profile-frame">
        <img src="/assets/jess-taylor-profile.jpg" class="profile-pic">
      </ion-avatar>
    </ion-row>
    <ion-button color="primary" size="small" fill="clear">
      Change Picture
    </ion-button>
  </div>
  <ion-list>
    <ion-item>
      <ion-label position="stacked" color="medium">
        Display name
      </ion-label>
      <ion-input type="text" value="Display Name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col size="6">
          <ion-label position="stacked" color="medium">
            First name
          </ion-label>
          <ion-input type="text">First</ion-input>
        </ion-col>
        <ion-col size="6">
          <ion-label position="stacked" color="medium">
            Middle name
          </ion-label>
          <ion-input type="text">Middle</ion-input>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col size="6">
          <ion-label position="stacked" color="medium">
            Last name
          </ion-label>
          <ion-input type="text">Lastname</ion-input>
        </ion-col>
        <ion-col size="6">
          <ion-label position="stacked" color="medium">
            Suffix
          </ion-label>
          <ion-input type="text"></ion-input>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" color="medium">
        DOB
      </ion-label>
      <ion-input type="text" placeholder="09/17/1972"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" color="medium">
        Email address
      </ion-label>
      <ion-input type="email" value="username@aerpass.com" email="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" color="medium">
        Mobile number
      </ion-label>
      <ion-input type="text" value="+1 (321) 456-7890"></ion-input>
    </ion-item>

  </ion-list>

</ion-content>
<ion-footer class="ion-no-border ion-margin-bottom">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-button size="small" color="primary" fill="outline" expand="block" routerLink="/success-account-created">Create Account</ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button size="small" color="primary" expand="block" routerLink="/profile-home">Save Changes</ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button size="small" color="medium" fill="outline" expand="block" routerLink="/error-email-in-use">Email in Use</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
<!--<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button expand="block" class="pad15 ion-margin-bottom" routerLink="/profile-home">
      Save Changes
    </ion-button>
  </ion-toolbar>
</ion-footer>-->
