<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile-home"></ion-back-button>
    </ion-buttons>
    <ion-title color="milconnect">
      MilitaryConnect
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center">
    <div class="partner-hero">
      <ion-img src="/assets/mc-logo-49356a.svg"></ion-img>
    </div>
  </ion-row>
  <ion-list>
    <ion-item detail routerLink="/home">
      <ion-icon name="qr-code-outline"></ion-icon>
      <ion-label class="ion-padding-start">ID Badge</ion-label>
    </ion-item>
    <ion-item detail routerLink="/app-browser">
      <ion-icon src="/assets/links-mark.svg"></ion-icon>
      <ion-label class="ion-padding-start">MilitaryConnect Network</ion-label>
    </ion-item>
    <ion-item-divider color="light"></ion-item-divider>
    <!-- <ion-item detail routerLink="/consent-docs">
      <ion-icon name="documents-outline"></ion-icon>
      <ion-label class="ion-padding-start">Consent Documents</ion-label>
    </ion-item> -->
    <ion-item detail routerLink="/settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label class="ion-padding-start">Settings</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
