<ion-header class="ion-no-border">
  <ion-toolbar color="raven">
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-text class="ion-text-center">
      <ion-title class="ion-justify-content-center">
        <img class="brand" src="/assets/aerpass-blue.svg" alt="" />
      </ion-title>
    </ion-text>
    <ion-buttons slot="end">
      <ion-button color="primary" routerLink="/settings" routerDirection="root" fill="clear">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="raven">

  <div id="container-top">
    <ion-row class="ion-justify-content-center">
      <div class="ion-text-center">
        <ion-row class="ion-justify-content-center">
          <div class="profile-home">
            <ion-avatar class="profile-frame-home">
              <img src="/assets/jess-taylor-profile.jpg" class="profile-pic-home" alt="Profile Pic" routerLink="/profile-home" routerDirection="root" />
            </ion-avatar>
            <div class="btn">
              <ion-fab-button color="light" translucent="true" routerLink="/badge-mc-default">
                <ion-icon src="/assets/A-symbol-circle-inset.svg" color="primary" class="icon-fab"></ion-icon>
              </ion-fab-button>
            </div>
          </div>
        </ion-row>
        <ion-text class="section-header" color="white">
          AerPass Member
        </ion-text>
      </div>
    </ion-row>
  </div>
  <div id="container-bottom">
    <ion-row class="ion-justify-content-center">
      <div class="ion-text-center">
        <ion-row class="ion-justify-content-center">
          <div class="display-qr">
            <img src="/assets/qr-get-app-circle-sq.png" alt="" />
          </div>
        </ion-row>
        <!--<ion-toolbar color="transparent">
          <ion-segment value="default" color="light">
            <ion-segment-button value="default">
              <ion-label color="primary">Pass Code</ion-label>
            </ion-segment-button>
            <ion-segment-button value="altpass">
              <ion-label color="primary">Details</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-toolbar>-->
      </div>
    </ion-row>
  </div>

</ion-content>

<ion-tab-bar slot="bottom" class="tab-blur" color="raven">
  <ion-tab-button routerLink="/badge-app-default" routerDirection="back">
    <ion-label color="primary">Badge</ion-label>
    <ion-icon name="qr-code-outline" color="primary"></ion-icon>
  </ion-tab-button>
  <ion-tab-button routerLink="/home-scanner" routerDirection="root">
    <ion-label color="white">Scanner</ion-label>
    <ion-icon name="scan-outline" color="white"></ion-icon>
  </ion-tab-button>
  <ion-tab-button routerLink="/profile-home" routerDirection="forward">
    <ion-label color="white">Account</ion-label>
    <ion-icon name="person-outline" color="white"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>
