<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-text class="ion-text-center">
      <ion-title class="ion-justify-content-center">
        <img class="brand" src="/assets/OneCheck-Text-Logo-grn-fff.svg" alt="" />
      </ion-title>
    </ion-text>
    <ion-buttons slot="end">
      <ion-button color="primary" routerLink="/settings" routerDirection="root" fill="clear">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="auth-page">

  <div id="container-top">
    <ion-row class="ion-justify-content-center">
      <div class="ion-text-center">
        <ion-row class="ion-justify-content-center">
          <div class="profile-home">
            <ion-avatar class="profile-frame-home">
              <img src="/assets/jess-taylor-profile.jpg" class="profile-pic-home" alt="Profile Pic" routerLink="/badge-app-default-code" routerDirection="root" />
            </ion-avatar>
            <div class="btn">
              <ion-fab-button color="light" translucent="true" routerLink="/badge-app-default-code" routerDirection="root">
                <ion-icon name="qr-code-outline" color="black" class="icon-fab"></ion-icon>
              </ion-fab-button>
            </div>
          </div>
        </ion-row>
        <ion-text class="section-header" color="white">
          Hannah Taylor
        </ion-text>
      </div>
    </ion-row>
  </div>
  <div id="container-bottom">
    <ion-row class="ion-justify-content-center">
      <div class="ion-text-center">
        <ion-row class="ion-justify-content-center">
          <ion-card class="display-details bg-light-blur">
            <ion-grid>
              <ion-row class="ion-padding-top ion-justify-content-center">
                <ion-card-subtitle>
                  The SSE ARENA
                </ion-card-subtitle>
              </ion-row>
              <ion-row class="ion-justify-content-center">
                <ion-text class="text-strong" color="dark">
                  Standard
                </ion-text>
              </ion-row>
            </ion-grid>
            <ion-row>
              <ion-col size="4">
                <ion-text class="text-smallest">
                  SECTION
                </ion-text>
              </ion-col>
              <ion-col size="4">
                <ion-text class="text-smallest">
                  ROW
                </ion-text>
              </ion-col>
              <ion-col size="4">
                <ion-text class="text-smallest">
                  SEAT
                </ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-text class="text-smaller" color="dark">
                  <b>S10</b>
                </ion-text>
              </ion-col>
              <ion-col>
                <ion-text class="text-smaller" color="dark">
                  <b>G</b>
                </ion-text>
              </ion-col>
              <ion-col>
                <ion-text class="text-smaller" color="dark">
                  <b>95</b>
                </ion-text>
              </ion-col>
            </ion-row>
            <ion-toolbar class="base" color="transparent">
              <ion-row>
                <ion-col size="6">
                  <ion-button size="small" color="primary" fill="outline" expand="block"><ion-icon name="return-up-forward-outline"></ion-icon>&nbsp;&nbsp;Send</ion-button>
                </ion-col>
                <ion-col size="6">
                  <ion-button size="small" color="medium" fill="outline" expand="block"><ion-icon name="repeat-outline"></ion-icon>&nbsp;&nbsp;Sell</ion-button>
                </ion-col>
              </ion-row>
            </ion-toolbar>
          </ion-card>
        </ion-row>
      </div>
    </ion-row>
  </div>

</ion-content>

<ion-tab-bar slot="bottom" class="tab-blur" color="brand-grad-end">
  <ion-tab-button routerLink="/badge-app-default" routerDirection="back">
    <ion-label color="primary">Badge</ion-label>
    <ion-icon name="qr-code-outline" color="primary"></ion-icon>
  </ion-tab-button>
  <ion-tab-button routerLink="/home-scanner" routerDirection="root">
    <ion-label color="white">Scanner</ion-label>
    <ion-icon name="scan-outline" color="white"></ion-icon>
  </ion-tab-button>
  <ion-tab-button routerLink="/profile-home" routerDirection="forward">
    <ion-label color="white">Account</ion-label>
    <ion-icon name="person-outline" color="white"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>
