<ion-content color="black">
  <ion-row>
    <div class="v-center">
      <ion-icon src="/assets/centered-circle-check-ok-green.svg/" class="icon-huge"></ion-icon><br/>
      <ion-text class="ion-justify-content-center" color="success"><h1>SUCCESS!</h1></ion-text>
      <ion-row class="ion-justify-content-center">
        <ion-text class="text-small ion-text-center" color="white">
          <br/>You're signed in.
        </ion-text>
      </ion-row>
    </div>
  </ion-row>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar color="black">
    <ion-button expand="block" shape="round" class="pad15 ion-margin-bottom" color="success" routerLink="/verify-identity">
      Continue
    </ion-button>
  </ion-toolbar>
</ion-footer>
