<ion-content color="army-black">

  <ion-row>
    <div class="v-center pad10">
      <ion-icon name="alert-circle-outline" class="icon-huge" color="danger"></ion-icon><br/>
      <ion-text class="ion-justify-content-center" color="white"><h1>PLEASE CONFIRM</h1></ion-text>
      <ion-text class="text-small" color="white">
        <br/>This action will delete device: <span style="color: var(--ion-color-primary)">Device Name</span> from your Account. You can reconnect your device at any time.<br/>&nbsp;&nbsp;
      </ion-text>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-fab horizontal="center">
              <ion-fab-button color="danger" routerLink="/settings">
                <ion-icon name="checkmark-sharp" class="icon-fab"></ion-icon>
              </ion-fab-button>
              <ion-label class="aer-label" color="white">Delete<br/>Device</ion-label>
            </ion-fab>
          </ion-col>
          <ion-col size="6">
            <ion-fab horizontal="center">
              <ion-fab-button color="white" routerLink="/settings" routerDirection="back">
                <ion-icon name="close" class="icon-fab"></ion-icon>
              </ion-fab-button>
              <ion-label class="aer-label" color="white">Cancel</ion-label>
            </ion-fab>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-row>

</ion-content>
