<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/hc-clinical-scanner"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Patient Check in
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center">
    <div class="profile">
      <ion-avatar class="profile-frame">
        <img src="/assets/jess-taylor-profile.jpg" class="profile-pic" alt="Profile Pic">
      </ion-avatar>
      <div class="btn">
        <ion-fab-button size="small" color="light" translucent="true">
          <ion-icon name="checkmark-circle-outline" color="success"></ion-icon>
        </ion-fab-button>
      </div>
    </div>
  </ion-row>
  <ion-text class="section-header" color="primary">
    &nbsp;&nbsp;<br/>
  </ion-text>
  <ion-list>
    <ion-item>
      <ion-label>
        <div class="field-label">Full name</div>
        FIRST MIDDLE SURNAME
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <div class="field-label">Verified</div>
        <ion-icon name="checkmark-circle-outline" color="success"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label>
        <div class="field-label">DOB</div>
        09/17/1972
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <div class="field-label">Verified</div>
        <ion-icon name="checkmark-circle-outline" color="success"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label>
        <div class="field-label">Email address</div>
        username@aerpass.com
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <div class="field-label">Verified</div>
        <ion-icon name="checkmark-circle-outline" color="success"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label>
        <div class="field-label">Mobile number</div>
        +1 (321) 456-7890
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <div class="field-label">Verified</div>
        <ion-icon name="checkmark-circle-outline" color="success"></ion-icon>
      </ion-note>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer class="ion-no-border">
  <div class="ion-text-center">
    <ion-row class="ion-justify-content-center">
      <ion-text class="ion-text-center">Appointment Type<br/>&nbsp;&nbsp;</ion-text>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-toolbar>
        <ion-segment value="diagnostic">
          <ion-segment-button value="diagnostic">
            <ion-label>Diagnostic</ion-label>
          </ion-segment-button>
          <ion-segment-button value="vaccination">
            <ion-label>Vaccination</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>
    </ion-row>
  </div>
  <ion-toolbar>
    <ion-button expand="block" class="pad15 ion-margin-vertical" routerLink="/hc-clinical-scanner-patient">
      Check in
    </ion-button>
  </ion-toolbar>
</ion-footer>
