<ion-header translucent="true" class="ion-no-border">
  <ion-toolbar>
    <ion-avatar slot="start" class="profile-pic-toolbar ion-margin-start" routerLink="/profile-select">
      <img src="/assets/jess-taylor-profile.jpg" alt="" />
    </ion-avatar>
    <ion-title>Settings</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/personal-info-edit">
        Edit
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="utility">
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="dark" class="outline" routerLink="/ok-bottom-sheet" routerDirection="root">
      <ion-icon name="add" class="icon-larger"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-card>
    <img src="/assets/og-user-profile-plus.jpg" alt="Cherry Taylor">
    <ion-item lines="none">
      <ion-label color="primary">
        <b>Cherry Taylor – OK</b><br/>
        <ion-text class="text-smaller" color="medium">a-ok.me</ion-text>
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-list>
      <ion-item routerLink="/personal-info">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label class="ion-padding-start">Personal Info</ion-label>
      </ion-item>
      <ion-item lines="none" routerLink="/personas">
        <ion-icon name="people-circle-outline"></ion-icon>
        <ion-label class="ion-padding-start">Personas</ion-label>
      </ion-item>
      <!--<ion-item routerLink="/bank-list">
        <ion-icon name="card-outline"></ion-icon>
        <ion-label class="ion-padding-start">Payment Methods</ion-label>
      </ion-item>
      <ion-item routerLink="/id-documents">
        <ion-icon src="/assets/id-card-outline.svg" color="medium"></ion-icon>
        <ion-label class="ion-padding-start" color="medium">Identity Documents</ion-label>
      </ion-item>
      <ion-item routerLink="/address-list">
        <ion-icon name="home-outline" color="medium"></ion-icon>
        <ion-label class="ion-padding-start" color="medium">
          Addresses
        </ion-label>
      </ion-item>
      <ion-item routerLink="/wallet">
        <ion-icon name="wallet-outline" color="medium"></ion-icon>
        <ion-label class="ion-padding-start" color="medium">Tickets & Passes</ion-label>
      </ion-item>-->
    </ion-list>
  </ion-card>
  <ion-card>
    <ion-list>
      <ion-item routerLink="/connected-accounts">
        <ion-icon name="logo-electron"></ion-icon>
        <ion-label class="ion-padding-start">Connections</ion-label>
      </ion-item>
      <ion-item lines="none" routerLink="/browser-ap-members">
        <ion-icon src="/assets/circle-check-ok-grn-mid.svg" color="primary"></ion-icon>
        <ion-label class="ion-padding-start">Verified Posts</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card>
    <ion-list>
      <ion-item routerLink="/settings">
        <ion-icon name="phone-portrait-outline"></ion-icon>
        <ion-label class="ion-padding-start">Devices</ion-label>
      </ion-item>
      <ion-item routerLink="/settings-security">
        <ion-icon name="finger-print-outline"></ion-icon>
        <ion-label class="ion-padding-start">Biometrics & Security</ion-label>
      </ion-item>
      <ion-item routerLink="/legal">
        <ion-icon name="documents-outline"></ion-icon>
        <ion-label class="ion-padding-start">Legal Agreements</ion-label>
      </ion-item>
      <ion-item lines="none">
      </ion-item>
    </ion-list>
  </ion-card>

</ion-content>

<ion-tab-bar translucent="true" slot="bottom">
  <ion-tab-button routerLink="/calendar" routerDirection="root">
    <ion-icon src="/assets/home-off.svg"></ion-icon>
    <ion-label color="medium">Home</ion-label>
  </ion-tab-button>
  <ion-tab-button routerLink="/channel-list" routerDirection="root">
    <ion-label color="medium">Channels</ion-label>
    <ion-icon src="/assets/at-sign-off.svg"></ion-icon>
  </ion-tab-button>
  <ion-tab-button routerLink="/chat-list-group" routerDirection="root">
    <ion-label color="medium">Communities</ion-label>
    <ion-icon src="/assets/earth-off.svg"></ion-icon>
  </ion-tab-button>
  <ion-tab-button routerLink="/chat-list" routerDirection="root">
    <ion-label color="medium">Chats</ion-label>
    <ion-icon src="/assets/chatbubble-off.svg"></ion-icon>
  </ion-tab-button>
  <ion-tab-button routerLink="/profile-home" routerDirection="root">
    <ion-label color="dark">Settings</ion-label>
    <ion-icon src="/assets/settings-on.svg"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>
