<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-menu-button></ion-menu-button>
      </ion-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" routerLink="/view-notifications" routerDirection="root" fill="clear">
        <ion-icon name="notifications-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center">
    <div class="profile">
      <ion-avatar class="profile-frame">
        <img src="/assets/LA-profile-image.jpg" class="profile-pic" alt="Profile Pic">
      </ion-avatar>
      <div class="btn">
        <ion-fab-button size="small" color="light" translucent="true" routerLink="/home">
          <ion-icon name="qr-code-outline" color="primary"></ion-icon>
        </ion-fab-button>
      </div>
    </div>
  </ion-row>
  <ion-text class="section-header" color="primary">
    <br/>Leon Atkins<br/><br/>
  </ion-text>
  <ion-list>
    <ion-item detail routerLink="/view-personal-info">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label class="ion-padding-start">Personal Info</ion-label>
    </ion-item>
    <ion-item detail routerLink="/view-id-list">
      <ion-icon name="people-circle-outline"></ion-icon>
      <ion-label class="ion-padding-start">Identities</ion-label>
    </ion-item>
    <ion-item detail routerLink="/view-bank-list">
      <ion-icon name="card-outline"></ion-icon>
      <ion-label class="ion-padding-start">Banks & Cards</ion-label>
    </ion-item>
    <!--<ion-item detail>
      <ion-icon name="logo-usd" color="medium"></ion-icon>
      <ion-label class="ion-padding-start" color="medium">Balance & Activity</ion-label>
    </ion-item>-->
    <ion-item-divider color="light"></ion-item-divider>
    <ion-item detail routerLink="/view-health-info">
      <ion-icon src="/assets/shield-cross-outline.svg" color="safetypass"></ion-icon>
      <ion-label class="ion-padding-start" color="safetypass">SafetyPASS</ion-label>
    </ion-item>
    <ion-item detail routerLink="/passes-modal">
      <ion-icon name="wallet-outline"></ion-icon>
      <ion-label class="ion-padding-start">Tickets & Passes</ion-label>
    </ion-item>
    <ion-item-divider color="light"></ion-item-divider>
    <!-- <ion-item detail routerLink="/biometrics-security">
      <ion-icon name="finger-print-outline"></ion-icon>
      <ion-label class="ion-padding-start">Biometrics & Security</ion-label>
    </ion-item> -->
    <ion-item detail routerLink="/legal-agreements">
      <ion-icon name="documents-outline"></ion-icon>
      <ion-label class="ion-padding-start">Legal Agreements</ion-label>
    </ion-item>
    <ion-item lines="none">
    </ion-item>
  </ion-list>

</ion-content>

<ion-tab-bar slot="bottom" class="ion-padding-bottom">
  <ion-tab-button routerLink="/home" routerDirection="back">
    <ion-label color="safetypass">SafetyPASS</ion-label>
    <ion-icon src="/assets/shield-cross-outline.svg" color="safetypass"></ion-icon>
  </ion-tab-button>
  <ion-tab-button routerLink="/home-scanner" routerDirection="root">
    <ion-label color="primary">Scanner</ion-label>
    <ion-icon name="scan-outline" color="primary"></ion-icon>
  </ion-tab-button>
  <ion-tab-button routerLink="/passes-modal" routerDirection="forward">
    <ion-label color="primary">Wallet</ion-label>
    <ion-icon name="wallet-outline" color="primary"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>
