<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-menu-button></ion-menu-button>
      </ion-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" routerLink="/settings" routerDirection="root" fill="clear">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="/assets/cherrys-confections-ogi.png" alt="Cherry's Confections">
    <ion-card-content>
      <ion-text color="dark"><b>Cherry's Confections</b></ion-text><br/>
      <ion-text class="text-smaller">a-ok.me</ion-text>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-list>
      <ion-item detail routerLink="/personal-info">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label class="ion-padding-start">Personal Info</ion-label>
      </ion-item>
      <ion-item detail routerLink="/personas">
        <ion-icon name="people-circle-outline"></ion-icon>
        <ion-label class="ion-padding-start">Personas</ion-label>
      </ion-item>
      <ion-item detail routerLink="/bank-list">
        <ion-icon name="card-outline"></ion-icon>
        <ion-label class="ion-padding-start">Payment Methods</ion-label>
      </ion-item>
      <ion-item detail routerLink="/id-documents">
        <ion-icon src="/assets/id-card-outline.svg" color="medium"></ion-icon>
        <ion-label class="ion-padding-start" color="medium">Identity Documents</ion-label>
      </ion-item>
      <ion-item detail routerLink="/address-list">
        <ion-icon name="home-outline" color="medium"></ion-icon>
        <ion-label class="ion-padding-start" color="medium">
          Shipping Addresses
        </ion-label>
      </ion-item>
      <ion-item detail routerLink="/wallet">
        <ion-icon name="wallet-outline" color="medium"></ion-icon>
        <ion-label class="ion-padding-start" color="medium">Tickets & Passes</ion-label>
      </ion-item>
      <ion-item-divider color="light"></ion-item-divider>
      <ion-item detail routerLink="/connected-accounts">
        <ion-icon name="logo-electron"></ion-icon>
        <ion-label class="ion-padding-start">Connections</ion-label>
      </ion-item>
      <ion-item detail routerLink="/browser-ap-members">
        <ion-icon src="/assets/centered-circle-check-oc-green.svg" color="primary" class="sv-shadow"></ion-icon>
        <ion-label class="ion-padding-start">Verified Posts</ion-label>
      </ion-item>
      <ion-item-divider color="light"></ion-item-divider>
      <ion-item detail routerLink="/settings">
        <ion-icon name="phone-portrait-outline"></ion-icon>
        <ion-label class="ion-padding-start">Devices</ion-label>
      </ion-item>
      <ion-item detail routerLink="/settings-security">
        <ion-icon name="finger-print-outline"></ion-icon>
        <ion-label class="ion-padding-start">Biometrics & Security</ion-label>
      </ion-item>
      <ion-item detail routerLink="/legal">
        <ion-icon name="documents-outline"></ion-icon>
        <ion-label class="ion-padding-start">Legal Agreements</ion-label>
      </ion-item>
      <ion-item lines="none">
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>

<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button size="small">
    <ion-icon name="add-outline" size="large"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-tab-bar slot="bottom" class="tab-blur">
  <ion-tab-button routerLink="/channel-list" routerDirection="back">
    <ion-label color="medium">Channels</ion-label>
    <ion-icon name="at-circle-outline" color="medium"></ion-icon>
  </ion-tab-button>
  <ion-tab-button routerLink="/chat-list-group" routerDirection="back">
    <ion-label color="medium">Group Chats</ion-label>
    <ion-icon name="hardware-chip-outline" color="medium"></ion-icon>
  </ion-tab-button>
  <ion-tab-button>
    <ion-icon name="add-circle-outline"></ion-icon>
    <ion-label color="medium">New</ion-label>
  </ion-tab-button>
  <ion-tab-button routerLink="/chat-list" routerDirection="forward">
    <ion-label color="medium">1:1 Chats</ion-label>
    <ion-icon name="chatbubble-outline" color="medium"></ion-icon>
  </ion-tab-button>
  <ion-tab-button routerLink="/profile-home" routerDirection="forward">
    <ion-label color="primary">Profile</ion-label>
    <ion-icon src="/assets/person-circle-outline-okg.svg" color="primary"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>
