<ion-content color="primary">
  <ion-slides pager="true" style='height: 100%;'>
    <ion-slide>
      <ion-grid>
        <ion-row class="text ion-justify-content-center pad15">
          <ion-text class="text-small">Enter New Passcode<br/>&nbsp;&nbsp;</ion-text>
        </ion-row>
        <ion-row class="text-small ion-text-left pad15">
          <img src="/assets/dialpad.png"/>
        </ion-row>
        <ion-row class="text-small ion-text-left pad15">&nbsp;&nbsp;</ion-row>
        <ion-row class="ion-justify-content-evenly">
          <ion-button color="primary" routerLink="">Back</ion-button>
          <ion-button color="primary" routerLink="/get-started">Cancel</ion-button>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row class="text ion-justify-content-center pad15">
          <ion-text class="text-small">Confirm New Passcode<br/>&nbsp;&nbsp;</ion-text>
        </ion-row>
        <ion-row class="text-small ion-text-left pad15">
          <img src="/assets/dialpad.png"/>
        </ion-row>
        <ion-row class="text-small ion-text-left pad15">&nbsp;&nbsp;</ion-row>
        <ion-row class="ion-justify-content-evenly">
          <ion-button color="primary" routerLink="">Back</ion-button>
          <ion-button color="primary" routerLink="/verify-identity">Cancel</ion-button>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
