<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="medium" defaultHref="/get-started"></ion-back-button>
    </ion-buttons>
    <ion-text class="ion-text-center">
      <ion-title class="ion-justify-content-center">
        Connect Device
      </ion-title>
    </ion-text>

  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div class="v-center">
    <div class="ion-text-center">
      <ion-row class="scan-top"></ion-row>
      <ion-row class="ion-justify-content-center">
        <div class="scan-bezel">
          <div class="scan-lr"></div>
          <div class="scan-frame"></div>
          <div class="scan-lr"></div>
        </div>
      </ion-row>
      <ion-row class="scan-bottom">
        <ion-grid>
          <ion-row class="ion-justify-content-center">
            <ion-text class="text-smaller ion-text-center" color="white">
              Scan&nbsp;&nbsp;<ion-icon src="/assets/A-symbol.svg" class="icon-small nudge-down" color="white"></ion-icon>&nbsp;&nbsp;Code
            </ion-text>
          </ion-row>
        </ion-grid>
      </ion-row>
    </div>
  </div>
  <ion-text color="light" class="upper-third ion-text-center text-smaller">
    Scan the Connect Device QR code to connect this device to your AerPass account.
  </ion-text>

  <div class="v-center">
    <div class="ion-text-center">
      <ion-row class="ion-justify-content-center">
        <div class="display-qr">
          <img src="/assets/ap-login-auth-qr.svg" routerLink="/success-device-connected" />
        </div>
      </ion-row>
    </div>
  </div>

  <ion-row class="lower-third ion-justify-content-center">
    <ion-text class="ion-text-center" color="white">– OR –<br/>&nbsp;&nbsp;</ion-text>
  </ion-row>

  <!--<ion-modal #modal trigger="sendcode-modal" [initialBreakpoint]="0.25" [breakpoints]="[0, 0.25, 0.5, 0.75]">
    <ng-template>
      <ion-content>
        <ion-searchbar placeholder="Search" (click)="modal.setCurrentBreakpoint(0.75)"></ion-searchbar>
        <ion-list>
          <ion-item>
            <ion-avatar slot="start">
              <ion-img src="https://i.pravatar.cc/300?u=b"></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>Connor Smith</h2>
              <p>Sales Rep</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <ion-img src="https://i.pravatar.cc/300?u=a"></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>Daniel Smith</h2>
              <p>Product Designer</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <ion-img src="https://i.pravatar.cc/300?u=d"></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>Greg Smith</h2>
              <p>Director of Operations</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <ion-img src="https://i.pravatar.cc/300?u=e"></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>Zoey Smith</h2>
              <p>CEO</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>-->

</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button id="sendcode-modal" expand="block" color="primary" class="pad15 ion-margin-bottom" routerLink="/user-email-verify">
      Send&nbsp;&nbsp;<ion-icon src="/assets/A-symbol.svg" class="icon-small" color="white"></ion-icon>&nbsp;&nbsp;Code
    </ion-button>
  </ion-toolbar>
</ion-footer>
