<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="medium" defaultHref="/get-started"></ion-back-button>
    </ion-buttons>
    <ion-text class="ion-text-center">
      <ion-title class="ion-justify-content-center">
        Connect Device
      </ion-title>
    </ion-text>

  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div class="v-center">
    <div class="ion-text-center">
      <ion-row class="scan-top"></ion-row>
      <ion-row class="ion-justify-content-center">
        <div class="scan-bezel">
          <div class="scan-lr"></div>
          <div class="scan-frame"></div>
          <div class="scan-lr"></div>
        </div>
      </ion-row>
      <ion-row class="scan-bottom">
        <ion-grid>
          <ion-row class="ion-justify-content-center">
            <ion-text class="text-smaller ion-text-center" color="white">
              Scan&nbsp;&nbsp;<ion-icon src="/assets/A-symbol.svg" class="icon-small nudge-down" color="white"></ion-icon>&nbsp;&nbsp;Code
            </ion-text>
          </ion-row>
        </ion-grid>
      </ion-row>
    </div>
  </div>
  <ion-text color="light" class="upper-third ion-text-center text-smaller">
    Scan the Connect Device QR code on another of your AerPass-enabled devices to add this device to your AerPass account.
  </ion-text>

  <div class="v-center">
    <div class="ion-text-center">
      <ion-row class="ion-justify-content-center">
        <div class="display-qr">
          <img src="/assets/ap-login-auth-qr.svg" routerLink="/verify-email-success" />
        </div>
      </ion-row>
    </div>
  </div>

</ion-content>
