<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-buttons slot="start" routerLink="/home-scanner">
      <ion-button>Done</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content color="dark">

  <ion-row>
    <div class="v-center pad10">
      <ion-icon src="/assets/centered-circle-check-oc-green.svg/" class="icon-huge"></ion-icon><br/>
      <ion-text class="ion-justify-content-center" color="success"><h1>SUCCESS!</h1></ion-text>
      <ion-text class="text-small ion-text-center" color="white">
        <br/>Your card is activated.
      </ion-text>
    </div>
  </ion-row>

</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-button expand="block" class="pad15 ion-margin-bottom" color="primary" routerLink="/bank-list">
      Done
    </ion-button>
  </ion-toolbar>
</ion-footer>
