<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/legal-agreements">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Terms & Conditions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center">
    <ion-icon src="/assets/A-symbol.svg" class="icon-big" color="primary"></ion-icon>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-icon name="ellipsis-horizontal"></ion-icon>
  </ion-row>
  <ion-row class="ion-justify-content-center"><ion-text>&nbsp;</ion-text></ion-row>



</ion-content>


