ion-header, ion-toolbar, ion-avatar, ion-row {
  --background: transparent;
  //  --background:rgba(5,16,51,0.75);
}

ion-content {
  --background: #111 url("/assets/efe-kurnaz.jpg") no-repeat center center / cover;
}

ion-title {
  color: var(--ion-color-white);
}
