ion-header, ion-toolbar, ion-avatar, ion-row {
  --background: transparent;
}

ion-content {
  --background: #111 url("/assets/efe-kurnaz.jpg") no-repeat center center / cover;
}

ion-title {
  color: var(--ion-color-white);
}
