<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-avatar slot="start" class="profile-pic-toolbar ion-margin-start" routerLink="/profile-select">
      <img src="/assets/jess-taylor-profile.jpg" alt="" />
    </ion-avatar>
    <ion-title class="ion-justify-content-center">
      <ion-icon src="/assets/OK-grn-fff.svg" class="icon-larger sv-shadow"></ion-icon>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon name="search" color="light"></ion-icon>
      </ion-button>
      <ion-button routerDirection="root" fill="clear">
        <ion-icon name="camera" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="dark" class="outline" routerLink="/ok-bottom-sheet" routerDirection="root">
      <ion-icon name="add" class="icon-larger"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="v-center back">
    <img src="/assets/efe-kurnaz.jpg" alt="scenic">
  </div>
  <ion-row>
    <ion-text>&nbsp;</ion-text>
  </ion-row>
  <ion-row class="ion-padding ion-justify-content-center">
    <ion-icon src="/assets/ok-check-fff-alpha.svg/" class="icon-big"></ion-icon>
  </ion-row>
  <ion-card>
    <ion-list>
      <ion-list-header>Updates</ion-list-header>
      <ion-item routerLink="/chat-detail" detail="false">
        <ion-avatar slot="start">
          <img src="/assets/profile-morgan.png">
        </ion-avatar>
        <ion-label>
          <strong>David Morgan</strong>
          <div class="field-label important">The Rapide values sank without trace, but that noise!</div>
          <div class="field-label">You reacted ;) to "The Rapide values sank without trace, but that noise!"</div>
        </ion-label>
        <ion-note slot="end" class="ion-text-end">
          <div class="field-label">8:30 PM</div>
          <ion-icon class="icon-small" name="star" color="medium"></ion-icon>
        </ion-note>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="/assets/profile-zen.png">
        </ion-avatar>
        <ion-label>
          <ion-text><b>Daniel Zen</b></ion-text>
          <div class="field-label important">Ok, I sent them the examples & my feedback...</div>
          <div class="field-label">You reacted :) to "Ok, I sent them the examples & my feedback"</div>
        </ion-label>
        <ion-note slot="end" class="ion-text-end">
          <div class="field-label">7:45 PM</div>
          <ion-icon class="icon-small" name="star" color="medium"></ion-icon>
        </ion-note>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="/assets/profile-donnell.jpg">
        </ion-avatar>
        <ion-label>
          <ion-text><b>Mike Donnell</b></ion-text>
          <div class="field-label important">Fremen, half addicted to the spice!</div>
          <div class="field-label">You loved "Fremen, half addicted to the spice!"</div>
        </ion-label>
        <ion-note slot="end" class="ion-text-end">
          <div class="field-label">7:30 PM</div>
          <ion-icon class="icon-small" name="star" color="medium"></ion-icon>
        </ion-note>
      </ion-item>
      <ion-item lines="none">
        <ion-avatar slot="start">
          <img src="/assets/jess-taylor-profile.jpg">
        </ion-avatar>
        <ion-label>
          <ion-text><b>Fiona Connor</b></ion-text>
          <div class="field-label important">How do we feel about sharing vids with new people?</div>
          <div class="field-label">Asking for a friend who is over all the catfish.</div>
        </ion-label>
        <ion-note slot="end" class="ion-text-end">
          <div class="field-label">7:29 PM</div>
          <ion-icon class="icon-small" name="star-outline" color="light"></ion-icon>
        </ion-note>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card>
    <ion-list>
      <ion-list-header>Events</ion-list-header>
      <ion-item routerLink="/ok-bottom-sheet">
        <ion-label>OK Messaging</ion-label>
        <ion-note slot="end">10:30 AM</ion-note>
      </ion-item>
      <ion-item lines="none" routerLink="/ok-bottom-sheet">
        <ion-label>ID\Verse Demo</ion-label>
        <ion-note slot="end">12:30 PM</ion-note>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>

<ion-tab-bar color="dark" slot="bottom" class="ion-no-border">
  <ion-tab-button routerLink="/calendar" routerDirection="root">
    <ion-icon src="/assets/home-on.svg" class="sv-shadow"></ion-icon>
    <ion-label color="success">Home</ion-label>
  </ion-tab-button>
  <ion-tab-button routerLink="/channel-list" routerDirection="root">
    <ion-label color="light">Channels</ion-label>
    <ion-icon src="/assets/at-sign-fff.svg"></ion-icon>
  </ion-tab-button>
  <ion-tab-button routerLink="/chat-list-group" routerDirection="root">
    <ion-label color="light">Communities</ion-label>
    <ion-icon src="/assets/earth-fff.svg"></ion-icon>
  </ion-tab-button>
  <ion-tab-button routerLink="/chat-list" routerDirection="root">
    <ion-label color="light">Chats</ion-label>
    <ion-icon src="/assets/chatbubble-fff.svg"></ion-icon>
  </ion-tab-button>
  <ion-tab-button routerLink="/profile-home" routerDirection="root">
    <ion-label color="light">Settings</ion-label>
    <ion-icon src="/assets/settings-fff.svg"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>
