<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-avatar slot="start" class="profile-pic-toolbar ion-margin-start sv-shadow" routerLink="/profile-select">
      <img src="/assets/jess-taylor-profile.jpg" alt="" />
    </ion-avatar>
    <ion-title class="ion-justify-content-center">
      <ion-icon src="/assets/AOK-Logo-lt.svg" class="icon-larger sv-shadow"></ion-icon>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon name="search" color="white" class="sv-shadow"></ion-icon>
      </ion-button>
      <ion-button routerDirection="root" fill="clear">
        <ion-icon name="camera" color="white" class="sv-shadow"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="brand" class="outline" routerLink="/ok-bottom-sheet" routerDirection="root">
      <ion-icon name="add" color="black" class="icon-larger"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-row><ion-text>&nbsp;</ion-text></ion-row>
  <ion-row class="ion-padding ion-justify-content-center">
    <ion-icon src="/assets/At-Icon-alpha.svg" class="icon-big"></ion-icon>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-text color="white" class="sv-shadow"><h1><strong>Updates</strong></h1></ion-text>
  </ion-row>
  <ion-card>
    <ion-list>
      <ion-list-header>Chats</ion-list-header>
      <ion-item routerLink="/chat-detail" detail="false">
        <ion-avatar slot="start">
          <img src="/assets/profile-morgan.png">
        </ion-avatar>
        <ion-label>
          <strong>David Morgan</strong>
          <div class="field-label important">The Rapide values sank without trace, but that noise!</div>
          <div class="field-label">You reacted ;) to "The Rapide values sank without trace, but that noise!"</div>
        </ion-label>
        <ion-note slot="end" class="ion-text-end">
          <div class="field-label">8:30 PM</div>
          <ion-icon class="icon-small" name="star" color="medium"></ion-icon>
        </ion-note>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="/assets/profile-zen.png">
        </ion-avatar>
        <ion-label>
          <ion-text><b>Daniel Zen</b></ion-text>
          <div class="field-label important">Ok, I sent them the examples & my feedback...</div>
          <div class="field-label">You reacted :) to "Ok, I sent them the examples & my feedback"</div>
        </ion-label>
        <ion-note slot="end" class="ion-text-end">
          <div class="field-label">7:45 PM</div>
          <ion-icon class="icon-small" name="star" color="medium"></ion-icon>
        </ion-note>
      </ion-item>
      <ion-item lines="none">
        <ion-avatar slot="start">
          <img src="/assets/profile-taylor.png">
        </ion-avatar>
        <ion-label>
          <ion-text><b>Jess Taylor</b></ion-text>
          <div class="field-label important">I sent the video to Nancy...</div>
          <div class="field-label">She's onboard, haha!</div>
        </ion-label>
        <ion-note slot="end" class="ion-text-end">
          <div class="field-label">7:30 PM</div>
          <ion-icon class="icon-small" name="star" color="medium"></ion-icon>
        </ion-note>
      </ion-item>
    </ion-list>
  </ion-card>

  <!--<ion-card>
    <ion-list>
      <ion-list-header>Communities</ion-list-header>
      <ion-item routerLink="/channel-detail">
        <ion-avatar slot="start">
            <img src="/assets/profile-bookclub.jpg">
        </ion-avatar>
        <ion-label>
          <b>Book Club</b><br/>
          <ion-text class="text-smaller" color="medium">The Great Gatsby</ion-text>
        </ion-label>
      </ion-item>
      <ion-item routerLink="/channel-detail">
        <ion-avatar slot="start">
            <img src="/assets/profile-locals.jpg">
        </ion-avatar>
        <ion-label>
          <b>Local Chat</b><br/>
          <ion-text class="text-smaller" color="medium">Town meeting agenda</ion-text>
        </ion-label>
      </ion-item>
      <ion-item lines="none" routerLink="/channel-detail">
        <ion-avatar slot="start">
            <img src="/assets/profile-arsenal.jpg">
        </ion-avatar>
        <ion-label>
          <b>Arsenal Fans</b><br/>
          <ion-text class="text-smaller" color="medium">Man of the Match</ion-text>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>-->

  <ion-card>
    <ion-list>
      <ion-list-header>Feeds</ion-list-header>
      <ion-item routerLink="/channel-detail">
        <ion-avatar slot="start">
            <img src="/assets/profile-aok.jpg">
        </ion-avatar>
        <ion-label>
          <b>AOK.ME</b><br/>
          <ion-text class="text-smaller" color="medium">1.2M Followers</ion-text>
        </ion-label>
      </ion-item>
      <ion-item routerLink="/channel-detail">
        <ion-avatar slot="start">
            <img src="/assets/profile-xyz.jpg">
        </ion-avatar>
        <ion-label>
          <b>XYZ Inc.</b><br/>
          <ion-text class="text-smaller" color="medium">50K Followers</ion-text>
        </ion-label>
      </ion-item>
      <ion-item lines="none" routerLink="/channel-detail">
        <ion-avatar slot="start">
            <img src="/assets/profile-acme.jpg">
        </ion-avatar>
        <ion-label>
          <b>Acme Corporation</b><br/>
          <ion-text class="text-smaller" color="medium">104K Followers</ion-text>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

</ion-content>

<ion-tab-bar color="black" slot="bottom" class="ion-no-border">
  <ion-tab-button routerLink="/calendar" routerDirection="root">
    <ion-icon src="/assets/home-on.svg" class="sv-shadow"></ion-icon>
    <ion-label color="success">Home</ion-label>
  </ion-tab-button>
  <ion-tab-button routerLink="/chat-list" routerDirection="root">
    <ion-label color="medium">Chats</ion-label>
    <ion-icon src="/assets/chatbubble-off.svg"></ion-icon>
  </ion-tab-button>
    <!--<ion-tab-button routerLink="/connected-accounts" routerDirection="root">
        <ion-label color="medium">Calls</ion-label>
        <ion-icon name="call" color="medium"></ion-icon>
    </ion-tab-button>-->

    <!--<ion-tab-button routerLink="/chat-list-group" routerDirection="root">
        <ion-label color="medium">Communities</ion-label>
        <ion-icon src="/assets/earth-off.svg"></ion-icon>
    </ion-tab-button>-->
    <ion-tab-button routerLink="/channel-list" routerDirection="root">
        <ion-label color="medium">Feeds</ion-label>
        <ion-icon src="/assets/radio-off.svg"></ion-icon>
    </ion-tab-button>
  <ion-tab-button routerLink="/profile-home" routerDirection="root">
    <ion-label color="medium">Settings</ion-label>
    <ion-icon src="/assets/settings-off.svg"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>
