ion-content, ion-header, ion-toolbar, ion-avatar, ion-row {
  --background: raven;
}

ion-content {
  --overflow: hidden;
}

#container-top {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#containter-bottom {
  height: 50%;
}

.profile-home {
  position: relative;
  display: inline-block;
  width: 56.5vw;
  height: 56.5vw;
}

.profile-pic-home {
  width: 54vw;
  height: 54vw;
  border-radius: 50%;
  border: 2pt solid var(--ion-color-primary);
  text-align: center;
  display: inline-block;
}

.profile-frame-home {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56.5vw;
  height: 56.5vw;
  border-radius: 50%;
  border: 2pt solid var(--ion-color-primary);
}
