<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <div id="container">
    <strong>Ready to make an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
  <a href="/profile-home">View Profile</a><br>
  <a href="/view-personal-info">View Personal Info</a><br>
  <a href="/edit-personal-info">Edit Personal Info</a><br>
  <a href="/view-address-list">View Address List</a><br>
  <a href="/view-address">View Address</a><br>
  <a href="/edit-address">Edit Address</a><br>
  <a href="/add-address">Add Address</a><br>

</ion-content>
