<ion-content color="army-black">

  <ion-row>
    <div class="v-center">
      <ion-icon name="alert-circle-outline" class="icon-huge" color="warning"></ion-icon><br/>
      <ion-text class="ion-justify-content-center" color="white"><h1>PLEASE USE FORM</h1></ion-text>
      <ion-row class="ion-padding ion-justify-content-center">
        <ion-text class="text-smaller ion-text-center" color="white">
          <br/>We could not verify military service by ID<br><br>Please submit a verification form instead
        </ion-text>
      </ion-row>
    </div>
  </ion-row>

</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar color="army-black">
    <ion-button expand="block" class="pad15 ion-margin-bottom" color="white" routerLink="/verify-service-mc-form">
      Verify by Form
    </ion-button>
  </ion-toolbar>
</ion-footer>
