ion-title {
  color: var(--ion-color-white);
}

.auth-page {
  --background: url(/assets/milconnect-merchant-ultra.png) no-repeat center/cover fixed;
}

.profile-pic {
  width: 34vw;
  height: 34vw;
  border-radius: 50%;
  border: .5vw solid var(--ion-color-white);
  text-align: center;
  display: inline-block;
}

.profile-frame {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3vw;
  width: 36vw;
  height: 36vw;
  border-radius: 50%;
  border: .5vw solid var(--ion-color-white);
}

$card-width: 85vw;
$card-height: 55vw;

.method {
  background: url(/assets/milconnect-card.png) no-repeat center;
  background-size: contain;
  width: $card-width;
  height: $card-height;
  padding: 0 5vw 0 5vw;
}

.card-size {
  width: $card-width;
  height: $card-height;
}

.card-top {
  height: $card-height - 12vw;
}

.profile-spacer-top {
  padding-top: .5rem;
}
