<ion-header class="ion-no-border">
  <ion-toolbar class="ion-margin-top">
    <ion-searchbar value="Search in mail"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-text class="ion-padding text-smallest" color="medium">INBOX</ion-text>
  <ion-list>
    <!--<ion-item routerLink="/app-email-appt-confirm">
      <ion-avatar slot="start">
        <img src="/assets/aerpass-merchant-logo.png">
      </ion-avatar>
      <ion-label>
        <ion-text class="important">Department of Health</ion-text>
        <div class="field-label important">COVID-19 Vaccine - Appointment Confirmed</div>
        <div class="field-label">Your appointment to receive your COVID-19 vaccine is confirmed.</div>
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <div class="field-label">8:30 PM</div>
        <ion-icon class="icon-small" name="star-outline" color="medium"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item routerLink="/app-email-appt-choose">
      <ion-avatar slot="start">
        <img src="/assets/aerpass-merchant-logo.png">
      </ion-avatar>
      <ion-label>
        <ion-text class="important">Department of Health</ion-text>
        <div class="field-label important">COVID-19 Vaccine - Schedule Your Appointment</div>
        <div class="field-label">It is now time to schedule your appointment to get a COVID-19 vaccine.</div>
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <div class="field-label">7:45 PM</div>
        <ion-icon class="icon-small" name="star-outline" color="medium"></ion-icon>
      </ion-note>
    </ion-item>-->
    <ion-item routerLink="/user-email-verify">
      <ion-avatar slot="start">
        <img src="/assets/star-us-army.png">
      </ion-avatar>
      <ion-label>
        <ion-text class="important">Military Connect</ion-text>
        <div class="field-label important">Military Connect email verification</div>
        <div class="field-label">To verify your email please tap or scan the QR code below with the Military Connect app.</div>
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <div class="field-label">7:30 PM</div>
        <ion-icon class="icon-small" name="star-outline" color="medium"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item routerLink="/user-email-get-app">
      <ion-avatar slot="start">
        <img src="/assets/star-us-army.png">
      </ion-avatar>
      <ion-label>
        <ion-text class="important">Military Connect</ion-text>
        <div class="field-label important">Get the Military Connect app</div>
        <div class="field-label">To install the app please tap or click the link below:</div>
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <div class="field-label">7:29 PM</div>
        <ion-icon class="icon-small" name="star-outline" color="medium"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/blank-user-avatar.png">
      </ion-avatar>
      <ion-label>
        AERPASS Network
        <div class="field-label">AERPASS Invitation</div>
        <div class="field-label">To accept the invitation please tap or click the link below:</div>
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <div class="field-label">7:29 PM</div>
        <ion-icon class="icon-small" name="star-outline" color="medium"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/blank-user-avatar.png">
      </ion-avatar>
      <ion-label>
        Jet Blue
        <div class="field-label">Now arriving: even more safety innovations.</div>
        <div class="field-label">The latest tech for your trek.</div>
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <div class="field-label">7:20 PM</div>
        <ion-icon class="icon-small" name="star-outline" color="medium"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/blank-user-avatar.png">
      </ion-avatar>
      <ion-label>
        Amazon.com
        <div class="field-label">Download 2 free audiobooks today.</div>
        <div class="field-label">Fit more reading into your life. Start listening today.</div>
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <div class="field-label">7:15 PM</div>
        <ion-icon class="icon-small" name="star-outline" color="medium"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/blank-user-avatar.png">
      </ion-avatar>
      <ion-label>
        Crate and Barrel
        <div class="field-label">Up to 60% off clearance is making a splash.</div>
        <div class="field-label">Explore new markdowns just added. Hurry - favorites go fast.</div>
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <div class="field-label">7:00 PM</div>
        <ion-icon class="icon-small" name="star-outline" color="medium"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/blank-user-avatar.png">
      </ion-avatar>
      <ion-label>
        Adobe Creative Cloud
        <div class="field-label">Try a 1-min. Photoshop tutorial and hybrid drawing.</div>
        <div class="field-label">Insights and inspiration to spark your creativity.</div>
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <div class="field-label">6:55 PM</div>
        <ion-icon class="icon-small" name="star-outline" color="medium"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/blank-user-avatar.png">
      </ion-avatar>
      <ion-label>
        Ira Klein
        <div class="field-label">RE: Video of Safety PASS demo for Vaccination Program.</div>
        <div class="field-label">Hi Jonathan and Rich, I just viewed the video; it's awesome!</div>
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <div class="field-label">6:45 PM</div>
        <ion-icon class="icon-small" name="star-outline" color="medium"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/blank-user-avatar.png">
      </ion-avatar>
      <ion-label>
        Rich Muth
        <div class="field-label">Introduction to a new contact at Compliance Partner.</div>
        <div class="field-label">Heya, I hope you are well. I would like to introduce you.</div>
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <div class="field-label">6:40 PM</div>
        <ion-icon class="icon-small" name="star-outline" color="medium"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/blank-user-avatar.png">
      </ion-avatar>
      <ion-label>
        Rich Muth
        <div class="field-label">Introduction to a new contact at Compliance Partner.</div>
        <div class="field-label">Heya, I hope you are well. I would like to introduce you.</div>
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <div class="field-label">6:35 PM</div>
        <ion-icon class="icon-small" name="star-outline" color="medium"></ion-icon>
      </ion-note>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="light">
      <ion-icon name="add-outline" size="large" color="danger"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
