<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/view-health-info">Done</ion-back-button>
    </ion-buttons>
    <ion-title color="safetypass">
      Get Vaccinated
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-row class="ion-no-padding">
      <ion-img src="/assets/vaccine-dose2.jpg"></ion-img>
  </ion-row>
  <ion-list-header>Schedule Appointment</ion-list-header>
  <ion-list>
    <ion-item>
      <ion-label>
        <div class="field-label">Full name</div>
        FIRST MIDDLE SURNAME
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <div class="field-label">Verified</div>
        <ion-icon name="checkmark-circle-outline" color="success"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label>
        <div class="field-label">DOB</div>
        09/17/1972
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <div class="field-label">Verified</div>
        <ion-icon name="checkmark-circle-outline" color="success"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label>
        <div class="field-label">Primary email address</div>
        username@aerpass.com
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <div class="field-label">Verified</div>
        <ion-icon name="checkmark-circle-outline" color="success"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label>
        <div class="field-label">Mobile number</div>
        +1 (321) 456-7890
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <div class="field-label">Verified</div>
        <ion-icon name="checkmark-circle-outline" color="success"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label>
        <div class="field-label">Address</div>
        123 4th Ave Apt 5<br>New York, NY 10001&nbsp;&nbsp;&nbsp;USA
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-item-divider color="light"></ion-item-divider>
  <ion-list>
    <ion-item class="ion-margin-top" lines="none">
      <ion-label>
        Questionnaire
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-text class="text-smallest ion-padding-end">
        These questions will help you confirm your eligibility for
        COVID-19 vaccines, schedule appointments, and retrieve your
        vaccination records so you can receive a SafetyPASS.<br/>&nbsp;&nbsp;
      </ion-text>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked" class="field-label">Sex</ion-label>
      <ion-segment>
        <ion-segment-button value="male">Male</ion-segment-button>
        <ion-segment-button value="female">Female</ion-segment-button>
        <ion-segment-button value="other">Other</ion-segment-button>
      </ion-segment>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked" class="field-label ion-text-wrap">Are you a resident at a long-term care facility?</ion-label>
      <ion-segment>
        <ion-segment-button value="yes">Yes</ion-segment-button>
        <ion-segment-button value="no">No</ion-segment-button>
      </ion-segment>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked" class="field-label ion-text-wrap">Do you live in congregate setting? (e.g. homeless shelter, group home)</ion-label>
      <ion-segment>
        <ion-segment-button value="yes">Yes</ion-segment-button>
        <ion-segment-button value="no">No</ion-segment-button>
      </ion-segment>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" class="field-label ion-text-wrap">Please select the business/industry you work in from the following list:</ion-label>
      <ion-select value="Select">
        <ion-select-option value="accounting">Accounting</ion-select-option>
        <ion-select-option value="administration">Administration & Office Support</ion-select-option>
        <ion-select-option value="advertising-arts-media">Advertising, Arts & Media</ion-select-option>
        <ion-select-option value="banking-financial-services">Banking & Financial Services</ion-select-option>
        <ion-select-option value="call-center-customer-service">Call Center & Customer Service</ion-select-option>
        <ion-select-option value="community-services-dev">Community Services & Development</ion-select-option>
        <ion-select-option value="construction">Construction</ion-select-option>
        <ion-select-option value="consulting-strategy">Consulting & Strategy</ion-select-option>
        <ion-select-option value="design-architecture">Design & Architecture</ion-select-option>
        <ion-select-option value="education-training">Education & Training</ion-select-option>
        <ion-select-option value="engineering">Engineering</ion-select-option>
        <ion-select-option value="farming-animals-conservation">Farming, Animals & Conservation</ion-select-option>
        <ion-select-option value="government-defense">Government & Defense</ion-select-option>
        <ion-select-option value="healthcare-medical">Healthcare & Medical</ion-select-option>
        <ion-select-option value="hospitality-tourism">Hospitality & Tourism</ion-select-option>
        <ion-select-option value="human-resources-recruitment">Human Resources & Recruitment</ion-select-option>
        <ion-select-option value="information-communication-technology">Information & Communication Technology</ion-select-option>
        <ion-select-option value="insurance-superannuation">Insurance & Superannuation</ion-select-option>
        <ion-select-option value="legal">Legal</ion-select-option>
        <ion-select-option value="manufacturing-transport-logistics">Manufacturing, Transport & Logistics</ion-select-option>
        <ion-select-option value="marketing-communications">Marketing & Communications</ion-select-option>
        <ion-select-option value="mining-resources-energy">Mining, Resources & Energy</ion-select-option>
        <ion-select-option value="real-estate-property">Real Estate & Property</ion-select-option>
        <ion-select-option value="retail-consumer-products">Retail & Consumer Products</ion-select-option>
        <ion-select-option value="sales">Sales</ion-select-option>
        <ion-select-option value="science-technology">Science & Technology</ion-select-option>
        <ion-select-option value="sport-recreation">Sport & Recreation</ion-select-option>
        <ion-select-option value="trades-services">Trades & Services</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="ion-margin-top" lines="none">
      <ion-label>
        Insurance Information
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" class="text-smallest ion-text-wrap">
        COVID-19 vaccines are being made available for free to US citizens
        and residents. If you have health insurance, your provider or
        pharmacist will need the following information from your insurance
        card to be reimbursed for administering your vaccine.<br/>&nbsp;&nbsp;
      </ion-label>
      <ion-select value="select" interface="action-sheet">
        <ion-select-option value="insurance-yes">I have insurance</ion-select-option>
        <ion-select-option value="medicare">I have Medicare</ion-select-option>
        <ion-select-option value="insurance-no">I don't have insurance</ion-select-option>
        <ion-select-option value="insurance-cant-find">I can't find my insurance information</ion-select-option>
        <ion-select-option value="insurance-ask-later">Ask me later</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" class="field-label">
        <p><b>Insurance details:</b></p><br/>
        Member ID #
      </ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" class="field-label">
        Group #
      </ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" class="field-label">
        RX BIN
      </ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" class="field-label">
        RX PCN
      </ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" class="field-label">
        <p><b>Medicare details:</b></p><br/>
        Member ID #
      </ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" class="field-label">
        Name on Card
      </ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item class="ion-margin-top" lines="none">
      <ion-label>
        Screening Questions
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked" class="field-label ion-text-wrap">Are you sick today?</ion-label>
      <ion-segment>
        <ion-segment-button value="yes">Yes</ion-segment-button>
        <ion-segment-button value="no">No</ion-segment-button>
      </ion-segment>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked" class="field-label ion-text-wrap">Do you have allergies to medications, food, eggs, yeast, a vaccine component, or latex?</ion-label>
      <ion-segment>
        <ion-segment-button value="yes">Yes</ion-segment-button>
        <ion-segment-button value="no">No</ion-segment-button>
      </ion-segment>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked" class="field-label ion-text-wrap">Have you ever had a serious reaction after receiving a vaccination?</ion-label>
      <ion-segment>
        <ion-segment-button value="yes">Yes</ion-segment-button>
        <ion-segment-button value="no">No</ion-segment-button>
      </ion-segment>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked" class="field-label ion-text-wrap">Has any physician or healthcare professional ever cautioned or warned you about receiving certain vaccines or receiving vaccines outside of a medical setting?</ion-label>
      <ion-segment>
        <ion-segment-button value="yes">Yes</ion-segment-button>
        <ion-segment-button value="no">No</ion-segment-button>
      </ion-segment>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked" class="field-label ion-text-wrap">Do you have a long-term health problem such as heart disease, lung disease, liver disease, asthma, kidney disease, metabolic disease (e.g. diabetes), anemia, or other blood disorder?</ion-label>
      <ion-segment>
        <ion-segment-button value="yes">Yes</ion-segment-button>
        <ion-segment-button value="no">No</ion-segment-button>
      </ion-segment>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked" class="field-label ion-text-wrap">Have you had a seizure or a brain or nervous system problem or Guillain-Barré syndrome?</ion-label>
      <ion-segment>
        <ion-segment-button value="yes">Yes</ion-segment-button>
        <ion-segment-button value="no">No</ion-segment-button>
      </ion-segment>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked" class="field-label ion-text-wrap">Are you pregnant or is there a chance you could become pregnant during the next month?</ion-label>
      <ion-segment>
        <ion-segment-button value="yes">Yes</ion-segment-button>
        <ion-segment-button value="no">No</ion-segment-button>
      </ion-segment>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked" class="field-label ion-text-wrap">Do you have a history of fainting, particularly with vaccines?</ion-label>
      <ion-segment>
        <ion-segment-button value="yes">Yes</ion-segment-button>
        <ion-segment-button value="no">No</ion-segment-button>
      </ion-segment>
    </ion-item>
    <ion-item>&nbsp;</ion-item>
    <ion-item lines="none" class="ion-margin-end">
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-text class="text-smallest ion-text-justify" color="medium">
        <br/>I hereby certify that I am at least 18 years of age, or the parent or legal guardian of the minor patient.
      </ion-text>
    </ion-item>
    <ion-item lines="none" class="ion-margin-end">
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-text class="text-smallest ion-text-justify" color="medium">
        <br/>I have read, or have had read to me, the written information regarding the vaccine(s) being administered.
        I have had the opportunity to ask questions that were answered to my satisfaction.
        I understand the benefits and risks of the vaccine(s) being administered and have received a copy of the Vaccine Information Sheet.
        I hereby give my consent to the vaccination provider to administer the vaccine(s) and agree to the vaccination terms and conditions.
      </ion-text>
    </ion-item>
    <ion-item lines="none">&nbsp;</ion-item>
  </ion-list>
  <!--<div>
    <iframe src="https://safetypass.sandbox.webshield.io/" width="100%" height="812pt"></iframe>
  </div>-->
  <ion-toolbar>
    <ion-button expand="block" class="pad15 ion-margin-bottom" color="safetypass" routerLink="/vaccine-success">
      Schedule Vaccination
    </ion-button>
  </ion-toolbar>
</ion-content>

<!--<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button expand="block" class="pad15 ion-margin-bottom" color="safetypass" routerLink="/vaccine-success">
      Schedule Vaccination
    </ion-button>
  </ion-toolbar>
</ion-footer>-->
