<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/view-health-info"></ion-back-button>
    </ion-buttons>
    <ion-title>
        Health Insurance<br/>&nbsp;
      </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/edit-insurance">
        <ion-icon name="pencil-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center">
    <ion-avatar class="profile-frame">
      <img src="/assets/jess-taylor-profile.jpg" class="profile-pic">
    </ion-avatar>
  </ion-row>
      <ion-text class="section-header" color="primary">Jess Taylor</ion-text>

  <ion-list>
    <ion-item>
      <ion-label>
        <div class="field-label">Provider</div>
        Health First
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <div class="field-label">Member ID</div>
        800064491
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <div class="field-label">Verified</div>
        <ion-icon name="checkmark-circle-outline" color="success"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item lines="none">
      <ion-label color="dark">Delete Account</ion-label>
      <ion-label slot="end" class="ion-text-end">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
