<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/view-id" routerDirection="back">
        <ion-label color="medium">Cancel</ion-label>
      </ion-button>
    </ion-buttons>
    <ion-title>Edit Identity</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <br>
    <ion-row class="ion-justify-content-center">
        <ion-avatar class="profile-frame">
          <img src="/assets/jess-taylor-profile.jpg" class="profile-pic">
        </ion-avatar>
    </ion-row>
    <ion-button color="primary" size="small" fill="clear" >
      Change Picture
    </ion-button>
  </div>

  <ion-list>
    <ion-item>
      <ion-label position="stacked" color="medium">Display name</ion-label>
      <ion-input type="text" value="Display Name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" color="medium">Email address</ion-label>
      <ion-input type="email" value="username@aerpass.com" email="true"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-icon name="alert-circle-outline" color="danger" slot="start"></ion-icon>
      <ion-text class="text-smallest" color="medium">
        Changing your email address will require verification in order to use this Identity.
      </ion-text>
    </ion-item>
  </ion-list>

</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button expand="block" class="pad15 ion-margin-bottom" routerLink="/view-id">
      Save Changes
    </ion-button>
  </ion-toolbar>
</ion-footer>
