<ion-content color="brand-mc">
  <div class="v-center">
    <ion-row class="ion-justify-content-center">
      <ion-img src="/assets/logo-mc-hor.svg" class="pad15"></ion-img>
    </ion-row>
    <ion-row class="text-smaller ion-justify-content-center ion-padding-top">
      &nbsp;&nbsp;
    </ion-row>
    <ion-row>
      <ion-slides pager="true" style='height: 100%;'>
        <ion-slide class="text-small">
          <ion-grid>
            <ion-row class="ion-justify-content-center pad10">
              <ion-text class="text-smaller"><h3>The most <b>secure</b> way to access military offers & benefits</h3></ion-text>
            </ion-row>
            <ion-row class="ion-text-left pad10">
              <ul class="text-smaller">
                <li>Login without passwords – ever</li>
                <li>Prove your status everywhere Military Connect is accepted</li>
                <li>Prove your identity without ever sharing your personal information</li>
                <li>Access military offers & benefits at thousands of businesses</li>
                <li>Use it wherever you see these symbols:&nbsp;&nbsp;<ion-icon src="/assets/links-mark.svg" class="icon-small nudge-down" color="milconnect"></ion-icon>&nbsp;&nbsp;<ion-icon src="/assets/A-symbol.svg" class="icon-small nudge-down" color="milconnect"></ion-icon></li>
              </ul>
            </ion-row>
            <ion-row><ion-text class="text">&nbsp;&nbsp;</ion-text></ion-row>
          </ion-grid>
        </ion-slide>
        <ion-slide class="text-small">
          <ion-grid>
            <ion-row class="ion-justify-content-center">
              <ion-text class="text-smaller"><h3>User-Controlled Identity</h3></ion-text>
            </ion-row>
            <ion-row class="ion-text-left pad10">
              <ul class="text-smaller">
                <li>Absolute privacy protection</li>
                <li>You control what you share</li>
                <li>No sensitive information is ever stored on your device</li>
                <li>Easily disconnect and reconnect your device at any time</li>
                <li>Access is linked to your device biometrics so only you can use it</li>
              </ul>
            </ion-row>
            <ion-row><ion-text class="text">&nbsp;&nbsp;</ion-text></ion-row>
          </ion-grid>
        </ion-slide>
      </ion-slides>
    </ion-row>
    <ion-row class="ion-justify-content-center">&nbsp;&nbsp;</ion-row>
    <ion-row class="ion-margin-top">
      <ion-toolbar color="brand-mc">
        <ion-button expand="block" color="milconnect2" class="pad15 ion-margin-vertical" routerLink="/mc-preboard-eas">
          Continue
        </ion-button>
      </ion-toolbar>
    </ion-row>
  </div>
</ion-content>
