<ion-content fullscreen="true" color="white">
  <ion-row>
    <img src="/assets/ocrverify-ok.png" alt="OCR"/>
  </ion-row>
  <ion-row>
    <img src="/assets/ocrverify.png" alt="OCR"/>
  </ion-row>
  <ion-row>
    <ion-text class="ion-padding-horizontal">
      <ul>
        <li><b>AOK</b> will store your data in an encrypted vault that <b>only you can access</b>.</li>
        <li>Your data will never be shared.</li>
        <li><b>Only you can see your data</b>.</li>
      </ul>
    </ion-text>
  </ion-row>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar color="white" class="ion-padding-bottom">
    <ion-grid>
      <ion-row>
        <ion-col size="5">
          <ion-button color="medium" fill="clear" expand="block" shape="round" routerLink="/verify-identity" routerDirection="back">
            <ion-icon name="chevron-back-circle" color="medium" class="icon-fab"></ion-icon>&nbsp;&nbsp;Back
          </ion-button>
        </ion-col>
        <ion-col size="7">
          <ion-button color="deep" expand="block" shape="round" routerLink="/verify-id-doc-scan">
            <ion-text color="brand2">Capture my ID</ion-text>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
