@import '../app.scss';

.upper-third {
  @extend .stretch;
  padding: 0 15vw 0 15vw;
  background-color: transparent;
  position: absolute;
  top: 13%;
  margin-top: env(safe-area-inset-top);
  z-index: 2;
}

ion-content {
  --overflow: hidden;
}

ion-content, ion-header, ion-toolbar, ion-avatar, ion-row {
  --background: transparent;
}

