ion-content, ion-header, ion-toolbar, ion-avatar, ion-row, ion-tab-bar, {
  --background: transparent;
//  --background:rgba(5,16,51,0.75);
}

ion-content {
  --overflow: hidden;
}

.upper-third {
  @extend .stretch!optional;
  padding: 0 15vw 0 15vw;
  background-color: transparent;
  position: absolute;
  top: 13%;
  margin-top: env(safe-area-inset-top);
  z-index: 9;
}

.scan-top {
  height: 50vh;
  width: 100vw;
  background: rgba(5,16,51,0.75);
}

.scan-bezel {
  height: 68vw;
  width: 100vw;
//  background-color: rgba(5,16,51,0.75);
  display: flex;
}

.scan-lr {
  height: 68vw;
  width: 16vw;
  padding: 0;
  background-color: rgba(5,16,51,0.75);
}

.scan-frame {
  height: 68vw;
  width: 68vw;
  text-align: center;
  background-color: var(--ion-color-primary);
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-image: url("/assets/scan-frame.svg");
//  clip-path: inset(0% 16%);
}

.scan-bottom {
  height: 50vh;
  width: 100vw;
  background: rgba(5,16,51,0.75);
}

ion-tab-bar {
  background: rgba(5,16,51,0.75);
}
