<ion-content color="light">

  <ion-row>
    <div class="v-center">
      <ion-icon src="/assets/shield-cross-outline.svg" class="icon-bigger" color="safetypass" routerLink="/app-browser-first-checkin"></ion-icon><br/>
      <ion-text class="ion-justify-content-center"><h3 routerLink="/app-browser-first-checkin">SafetyPASS Check-in</h3></ion-text>
      <ion-icon src="/assets/A-symbol.svg" class="icon-bigger" color="primary" routerLink="/enter-email"></ion-icon><br/>
      <ion-text class="ion-justify-content-center"><h3 routerLink="/enter-email">Create a Smart ID</h3></ion-text>
    </div>
  </ion-row>

</ion-content>
