<ion-content color="primary">
  <ion-slides pager="true" style='height: 100%;'>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <img src="/assets/jumio1.png"/>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <img src="/assets/jumio2.png"/>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <img src="/assets/jumio3.png"/>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <div class="ion-justify-content-center">
            <ion-icon name="checkmark-circle-outline" class="icon-huge pad20" color="light"></ion-icon><br/>
            <ion-text class="ion-text-center"><h1 color="light">SUCCESS!<br/><br/></h1></ion-text>
            <ion-text class="ion-text-center" color="dark">
              Thank you USERNAME<br/>
              Your ID has been verified.<br/><br/>
            </ion-text>
          </div>
        </ion-row>
        <ion-row class="pad20">
          <ion-text>&nbsp;&nbsp;</ion-text>
        </ion-row>
        <ion-row>
          <ion-toolbar color="primary">
            <ion-button expand="block" color="light" class="pad15 ion-margin-bottom" routerLink="/profile-home">
              Continue
            </ion-button>
          </ion-toolbar>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
