<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile-home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center">
    <ion-icon src="/assets/A-symbol.svg" class="icon-big" color="primary"></ion-icon>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-icon name="ellipsis-horizontal"></ion-icon>
  </ion-row>
  <ion-row class="ion-justify-content-center"><ion-text>&nbsp;</ion-text></ion-row>

  <!-- Only appears if user has one or more group flags in their profile -->
  <ion-radio-group value="default">
    <ion-list-header>
      <ion-label>Theme</ion-label>
    </ion-list-header>
    <ion-list>
      <ion-item>
        <ion-icon src="/assets/A-symbol.svg"></ion-icon>
        <ion-label class="ion-padding-start">Default</ion-label>
        <ion-radio slot="end" value="default"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-icon src="/assets/links-mark.svg"></ion-icon>
        <ion-label class="ion-padding-start">MilitaryConnect</ion-label>
        <ion-radio slot="end" value="milconnect"></ion-radio>
      </ion-item>
    </ion-list>
  </ion-radio-group>
  <ion-radio-group value="auto">
    <ion-list-header>
      <ion-label>Mode</ion-label>
    </ion-list-header>
    <ion-list>
      <ion-item>
        <ion-icon src="/assets/invert-mode-outline.svg"></ion-icon>
        <ion-label class="ion-padding-start">Auto</ion-label>
        <ion-radio slot="end" value="auto"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-icon src="/assets/invert-mode-outline.svg"></ion-icon>
        <ion-label class="ion-padding-start">Light</ion-label>
        <ion-radio slot="end" value="light"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-icon src="/assets/invert-mode-outline.svg"></ion-icon>
        <ion-label class="ion-padding-start">Dark</ion-label>
        <ion-radio slot="end" value="dark"></ion-radio>
      </ion-item>
    </ion-list>
  </ion-radio-group>
  <!--<ion-list>
    <ion-item>
      <ion-icon name="scan-outline"></ion-icon>
      <ion-label class="ion-padding-start">
        Facial verification
        <div class="field-label">Enable for high-value transactions</div>
      </ion-label>
      <ion-toggle slot="end" name="face-scan" color="primary" checked></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-icon name="shield-checkmark-outline" color="primary"></ion-icon>
      <ion-label class="ion-padding-start">
        Verification setting
        <div class="field-label">Verify me for transactions over:</div>
      </ion-label>
      <ion-select value="10">
        <ion-select-option value="01">$1,000</ion-select-option>
        <ion-select-option value="02">$2,000</ion-select-option>
        <ion-select-option value="03">$3,000</ion-select-option>
        <ion-select-option value="04">$4,000</ion-select-option>
        <ion-select-option value="05">$5,000</ion-select-option>
        <ion-select-option value="06">$6,000</ion-select-option>
        <ion-select-option value="07">$7,000</ion-select-option>
        <ion-select-option value="08">$8,000</ion-select-option>
        <ion-select-option value="09">$9,000</ion-select-option>
        <ion-select-option value="10">$10,000</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>-->
</ion-content>
