<ion-header translucent="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home-scanner"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="utility">
  <ion-row class="ion-margin-top ion-justify-content-center">
    <ion-icon name="settings-outline" class="icon-larger" color="primary"></ion-icon>
  </ion-row>
  <ion-card>
    <ion-radio-group value="auto">
      <ion-list-header>
        <ion-label>Mode</ion-label>
      </ion-list-header>
      <ion-list>
        <ion-item>
          <ion-icon src="/assets/invert-mode-outline.svg" class="rotate-90"></ion-icon>
          <ion-label class="ion-padding-start">Auto</ion-label>
          <ion-radio slot="end" value="auto"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-icon src="/assets/invert-mode-outline.svg"></ion-icon>
          <ion-label class="ion-padding-start">Light</ion-label>
          <ion-radio slot="end" value="light"></ion-radio>
        </ion-item>
        <ion-item lines="none">
          <ion-icon src="/assets/invert-mode-outline.svg" class="flip-horizontally"></ion-icon>
          <ion-label class="ion-padding-start">Dark</ion-label>
          <ion-radio slot="end" value="dark"></ion-radio>
        </ion-item>
      </ion-list>
    </ion-radio-group>
  </ion-card>
  <ion-card>
    <ion-list-header>
      <ion-label>Devices</ion-label>
    </ion-list-header>
    <ion-list>
      <ion-item-sliding>
        <ion-item>
          <ion-icon name="phone-portrait-outline"></ion-icon>
          <ion-label class="ion-padding-start">Cherry's iPhone</ion-label>
          <ion-icon name="chevron-back-outline" color="medium" slot="end" class="icon-small"></ion-icon>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger" expandable routerLink="/delete-device">
            <ion-icon name="trash-outline" slot="start"></ion-icon>
            Delete Device
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      <ion-item-sliding>
        <ion-item>
          <ion-icon name="phone-portrait-outline"></ion-icon>
          <ion-label class="ion-padding-start">Cherry's Pixel 9</ion-label>
          <ion-icon name="chevron-back-outline" color="medium" slot="end" class="icon-small"></ion-icon>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger" expandable routerLink="/delete-device">
            <ion-icon name="trash-outline" slot="start"></ion-icon>
            Delete Device
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      <ion-item-sliding>
        <ion-item lines="none">
          <ion-icon name="phone-portrait-outline"></ion-icon>
          <ion-label class="ion-padding-start">Cherry's Macbook</ion-label>
          <ion-icon name="chevron-back-outline" color="medium" slot="end" class="icon-small"></ion-icon>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger" expandable routerLink="/delete-device">
            <ion-icon name="trash-outline" slot="start"></ion-icon>
            Delete Device
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button routerLink="/badge-device-add">
      <ion-icon name="add-outline" size="large"></ion-icon>
    </ion-fab-button>
    <ion-label class="ion-text-center aer-label" color="primary">Connect<br/>Device</ion-label>
  </ion-fab>

</ion-content>
