.app-icon {
  padding: .4rem;
  background-color: var(--ion-color-raven);
  border-radius: 25%;
}

.app-icon-grad {
  padding: .4rem;
  background: rgb(0,150,255);
  background: linear-gradient(135deg, rgba(0,150,255,1) 10%, rgba(5,16,51,1) 50%, rgba(0,102,204,1) 90%);
  border-radius: 25%;
}

.app-icon-mcbase {
  padding: .4rem;
  background-color: var(--ion-color-milconnect);
  border-radius: 25%;
}

.app-icon-mcarmy {
  padding: .4rem;
  background-color: var(--ion-color-army-black);
  border-radius: 25%;
}

.app-icon-mcnavy {
  padding: .4rem;
  background-color: var(--ion-color-navy-blue);
  border-radius: 25%;
}

.app-icon-mcaf {
  padding: .4rem;
  background-color: var(--ion-color-airforce-silver);
  border-radius: 25%;
}

.app-icon-mcmarines {
  padding: .4rem;
  background-color: var(--ion-color-marine-crimson);
  border-radius: 25%;
}

.app-icon-mccg {
  padding: .4rem;
  background-color: var(--ion-color-coastguard-red);
  border-radius: 25%;
}
