<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home-scanner"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center">
    <ion-icon src="/assets/A-symbol.svg" class="icon-big" color="primary"></ion-icon>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-icon name="ellipsis-horizontal"></ion-icon>
  </ion-row>
  <ion-row class="ion-justify-content-center"><ion-text>&nbsp;</ion-text></ion-row>

  <!-- Only appears if user has one or more group flags in their profile -->
  <ion-radio-group value="default">
    <ion-list-header>
      <ion-label>App Icon & Theme</ion-label>
    </ion-list-header>
    <ion-list>
      <ion-item>
        <ion-icon src="/assets/A-symbol-circle-inset.svg" class="app-icon-grad" color="white"></ion-icon>
        <ion-label class="ion-padding-start" color="primary">Default</ion-label>
        <ion-radio slot="end" value="default"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-icon src="/assets/links-mark.svg" class="app-icon-mcbase" color="white"></ion-icon>
        <ion-label class="ion-padding-start" color="milconnect">Military Connect</ion-label>
        <ion-radio slot="end" value="milconnect" color="milconnect"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-icon src="/assets/links-mark.svg" class="app-icon-mcarmy" color="army-star"></ion-icon>
        <ion-label class="ion-padding-start" color="army-black">US Army</ion-label>
        <ion-radio slot="end" value="us-army" color="army-black"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-icon src="/assets/links-mark.svg" class="app-icon-mcnavy" color="navy-gold"></ion-icon>
        <ion-label class="ion-padding-start" color="navy-blue">US Navy</ion-label>
        <ion-radio slot="end" value="us-navy" color="navy-blue"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-icon src="/assets/links-mark.svg" class="app-icon-mcaf" color="airforce-blue"></ion-icon>
        <ion-label class="ion-padding-start" color="airforce-blue">US Air Force</ion-label>
        <ion-radio slot="end" value="us-airforce" color="airforce-blue"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-icon src="/assets/links-mark.svg" class="app-icon-mcmarines" color="marine-gold"></ion-icon>
        <ion-label class="ion-padding-start" color="marine-crimson">US Marines</ion-label>
        <ion-radio slot="end" value="us-marines" color="marine-crimson"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-icon src="/assets/links-mark.svg" class="app-icon-mccg" color="coastguard-blue"></ion-icon>
        <ion-label class="ion-padding-start" color="coastguard-blue">US Coast Guard</ion-label>
        <ion-radio slot="end" value="us-coastguard" color="coastguard-blue"></ion-radio>
      </ion-item>
    </ion-list>
  </ion-radio-group>
  <ion-radio-group value="auto">
    <ion-list-header>
      <ion-label>Mode</ion-label>
    </ion-list-header>
    <ion-list>
      <ion-item>
        <ion-icon src="/assets/invert-mode-outline.svg" class="rotate-90"></ion-icon>
        <ion-label class="ion-padding-start">Auto</ion-label>
        <ion-radio slot="end" value="auto"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-icon src="/assets/invert-mode-outline.svg"></ion-icon>
        <ion-label class="ion-padding-start">Light</ion-label>
        <ion-radio slot="end" value="light"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-icon src="/assets/invert-mode-outline.svg" class="flip-horizontally"></ion-icon>
        <ion-label class="ion-padding-start">Dark</ion-label>
        <ion-radio slot="end" value="dark"></ion-radio>
      </ion-item>
    </ion-list>
  </ion-radio-group>
  <!--<ion-list>
    <ion-item>
      <ion-icon name="scan-outline"></ion-icon>
      <ion-label class="ion-padding-start">
        Facial verification
        <div class="field-label">Enable for high-value transactions</div>
      </ion-label>
      <ion-toggle slot="end" name="face-scan" color="primary" checked></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-icon name="shield-checkmark-outline" color="primary"></ion-icon>
      <ion-label class="ion-padding-start">
        Verification setting
        <div class="field-label">Verify me for transactions over:</div>
      </ion-label>
      <ion-select value="10">
        <ion-select-option value="01">$1,000</ion-select-option>
        <ion-select-option value="02">$2,000</ion-select-option>
        <ion-select-option value="03">$3,000</ion-select-option>
        <ion-select-option value="04">$4,000</ion-select-option>
        <ion-select-option value="05">$5,000</ion-select-option>
        <ion-select-option value="06">$6,000</ion-select-option>
        <ion-select-option value="07">$7,000</ion-select-option>
        <ion-select-option value="08">$8,000</ion-select-option>
        <ion-select-option value="09">$9,000</ion-select-option>
        <ion-select-option value="10">$10,000</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>-->
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button expand="block" class="pad15 ion-margin-bottom" fill="outline" routerLink="/home-scanner">
      Done
    </ion-button>
  </ion-toolbar>
</ion-footer>
